<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{::content})}">
	
	<!-- 여기 부분이 값을 바꿔서 대체해서 들어가는 부분! 나머지형식은 basic.html을 이용해서 하는것! 
		그래서 basic.html이 header와 footer 가 들어가 있다고 보면됨! -->
	<th:block th:fragment="content">

		<div class="col-md-12 stretch-card">
			<div class="card">
				<div class="card-body">
					<p class="card-title">Recent Purchases</p>
					<div class="table-responsive">
						<table id="recent-purchases-listing" class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Status report</th>
									<th>Office</th>
									<th>Price</th>
									<th>Date</th>
									<th>Gross amount</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Jeremy Ortega</td>
									<td>Levelled up</td>
									<td>Catalinaborough</td>
									<td>$790</td>
									<td>06 Jan 2018</td>
									<td>$2274253</td>
								</tr>
								<tr>
									<td>Alvin Fisher</td>
									<td>Ui design completed</td>
									<td>East Mayra</td>
									<td>$23230</td>
									<td>18 Jul 2018</td>
									<td>$83127</td>
								</tr>
								<tr>
									<td>Emily Cunningham</td>
									<td>support</td>
									<td>Makennaton</td>
									<td>$939</td>
									<td>16 Jul 2018</td>
									<td>$29177</td>
								</tr>
								<tr>
									<td>Minnie Farmer</td>
									<td>support</td>
									<td>Agustinaborough</td>
									<td>$30</td>
									<td>30 Apr 2018</td>
									<td>$44617</td>
								</tr>
								<tr>
									<td>Betty Hunt</td>
									<td>Ui design not completed</td>
									<td>Lake Sandrafort</td>
									<td>$571</td>
									<td>25 Jun 2018</td>
									<td>$78952</td>
								</tr>
								<tr>
									<td>Myrtie Lambert</td>
									<td>Ui design completed</td>
									<td>Cassinbury</td>
									<td>$36</td>
									<td>05 Nov 2018</td>
									<td>$36422</td>
								</tr>
								<tr>
									<td>Jacob Kennedy</td>
									<td>New project</td>
									<td>Cletaborough</td>
									<td>$314</td>
									<td>12 Jul 2018</td>
									<td>$34167</td>
								</tr>
								<tr>
									<td>Ernest Wade</td>
									<td>Levelled up</td>
									<td>West Fidelmouth</td>
									<td>$484</td>
									<td>08 Sep 2018</td>
									<td>$50862</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</th:block>

</th:block>
</html>