<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">

		<div class="col-md-12 stretch-card">
			<!-- 수정 부분 시작 -->
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">계약 등록</p> 
					<br>
					<form th:action = "@{/procurement1/contractRegister}" th:method="post" id="registerForm">
						<div class="table-responsive" style="margin-bottom: 10px;">
							<!-- 테이블 시작 -->
								<table class="table table-bordered" id="registerTable" style="text-align: center;">
									<thead>
										<tr>
											<th>품목코드</th>
											<th>품목명</th>
											<th>협력회사</th>
											<th>담당자</th>
											<th>담당자<br>연락처</th>
											<th width="">품목 공급 L/T</th>
											<th width="7%">단가</th>
											<th>거래조건</th>
											<th width="6%">계약서</th>
											<th></th> 
										</tr>
									</thead>
									<tbody>	
										<tr th:each="dto : ${contractDTOList}" >									
											<td>
												<input type="text" style="width:100%; border: 0; text-align: center;" name="materialCode" class="materialCode" th:value="${dto.materialCode}" readonly>
												<input type="hidden" name="contractStatus" value="완료">
											</td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="materialName" class="materialName" th:value="${dto.materialName}" readonly></td>
											<td>
												<div class="row" style="margin-left: 0px;" >
													<input type="hidden" name="companyNo" value="104-84-55123">
													<input type="text" style="float:left; width:70%; border: 0; text-align: center;" name=companyName >
													&nbsp;&nbsp;
													<button type="button" class="btn btn-primary btn-rounded btn-icon companySearchBtn" style="float:right" >
														<i class="mdi mdi-magnify"></i>
													</button>
												</div>
											</td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="manager" ></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="managerTel"></td>
											<td><input type="number" style="width:100%; border: 0; text-align: center;" name="supplyLt"></td>
											<td><input type="number" style="width:100%; border: 0; text-align: center;" name="unitPrice"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="dealCondition"></td>
											<td></td>
											<td>
												<button type="button" class="btn btn-primary" style="width:106px; height:40px; padding-left: 10px; padding-right: 10px;" 
														th:materialCode="${dto.materialCode}" th:materialName="${dto.materialName}"
														th:onclick="registerAddBtn(this.getAttribute('materialCode'),this.getAttribute('materialName'))">
													등록추가 &nbsp;&nbsp;+
												</button>
											</td> 
										</tr>
									</tbody>
								</table>
							<!-- 테이블 끝 -->
						</div>
						<div class="col-md-12">						
							<!-- 등록확인, 등록취소 버튼 시작 -->						
							<button class="btn btn-primary" style="margin-right: 130px; float: right;" onclick="location.href='/procurement1/contractList'" type="button">
								등록취소
							</button>
							<button class="btn btn-primary" style="margin-right: 8px; float: right;" type="submit" id="registerBtn">
								등록확인
							</button>										
							<!-- 등록확인, 등록취소 버튼 끝 -->
						</div>	
					</form>								
				</div>
			</div>
		</div>
		
		<!-- 협력회사 찾기 모달창 시작 -->
		<div class="companySearchModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">협력회사 찾기</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    
                       	<div class="table-responsive" style="margin-bottom: 10px;">
							<!-- 테이블 시작 -->
								<table class="table table-bordered" id="registerTable" style="text-align: center;">
									<thead>
										<tr>
											<th>사업자<br>등록번호</th>
											<th>협력회사</th>
											<th>담당자</th>
											<th>담당자<br>연락처</th>
											<th></th> 
										</tr>
									</thead>
									<tbody id="searchCompanyList">	
										<tr th:each="dto : ${contractDTOList}" >									
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="companyNo" value="104-84-55123"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="companyName" value="(주)길승유업"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="manager" value="강준서"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="managerTel" value="010-2233-3344"></td>
											<td>
												<button type="button" class="btn btn-primary" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
													선택
												</button>
											</td> 
										</tr>
									</tbody>
								</table>
							<!-- 테이블 끝 -->
						</div>   
						              
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 협력회사 찾기 모달창 끝 -->
				
		
		
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script th:inline="javascript">
		
		
		$(document).ready(function(){		
			$(document).on("click",".companySearchBtn",function(){
				console.log("협력회사 찾기 버튼 누름");
				//검색 버튼위의 td를 통해서 회사이름 찾기
				var companyName = getObj().querySelector("input[type=text]").value;
				console.log("회사이름 : ",companyName);
				
				$.ajax({
					type : "post" ,
					url : "/procurement1/companySearch" ,     		//꼭 절대경로로! /붙이기 // .json 넣으면 응답을 json으로 함!
					data : companyName ,                			//보내는 데이터!(요청 데이터)
					contentType :"text/plain; charset=UTF-8" ,  	//보내는 데이터 형식 (전송 데이터,요청데이터)
					dataType : "text" ,							 	//받아오는 데이터 형식 (응답데이터) text, json, xml -생략시는 content type을 보고 자동처리
					success : function(data){        				//가져오는 데이터! (응답데이터)
						console.log("받아온 데이터 : ",data);
						//console.log("json 리스트 사이즈 보자 : ",data.length);
						//console.log("일반 리스트 사이즈 보자 : ",data.size);
						const tag = document.querySelector("#searchCompanyList");
						console.log("태그 잘 읽나??",tag)
						
						
						
					},
					error: function(xhr,status,er){  
						if(error)
							error();
					}
				
				});					
				
				
				
				getObj().querySelector("input[type=hidden]").value="테스트중";
				var companyNo = getObj().querySelector("input[type=hidden]").value;
				console.log("회사 사업자번호 : ",companyNo);		
				
				
				//$(".companySearchModal").modal('show');
				
			});
		});
		
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		//contractDTO 리스트 타임리프 포문으로 안되서! 변수로 바꿔주기
		let contractDTOList = [[${contractDTOList}]];    	
    	let DTOList = new Array();
    	
    	contractDTOList.forEach(function(item){
    		let DTO = new Object();
    		DTO.materialCode = item.materialCode;
    		DTO.materialName = item.materialName;
    		DTOList.push(DTO);
    	});    	
    	//console.log("contractDTO 전체 리스트 확인",DTOList);
    	
    	//materialCode 값을 넣어서 html 만들기
    	function makeMaterialCode(materialCode){
    		return `<td>
			    		<input type="text" style="width:100%; border: 0; text-align: center;" name="materialCode" class="materialCode" value=${materialCode} readonly>
			    		<input type="hidden" name="contractStatus" value="미완료">
		    		</td>`;
    	};    
    	
    	
    	//materialName 값을 넣어서 html 만들기
    	function makeMaterialName(materialName){
    		return `<td>
			    		<input type="text" style="width:100%; border: 0; text-align: center;" name="materialName" class="materialName" value=${materialName} readonly>
		    		</td>`;
    	};        	
    	    	
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    	
    	//이벤트 발생한 요소의 상위의 TD 객체 찾기
        function getObj(){
            var obj = event.srcElement
            while (obj.tagName !='TD'){  //TD가 나올때까지의 Object추출
                obj = obj.parentElement
            }
            return obj
        }
	    
		//등록추가 버튼 누를때, 행 추가
    	function registerAddBtn(materialCode,materialName){
    		
    		// table element 찾기
	    	const table = document.getElementById('registerTable');
	    	//console.log("가져온 table 정보",table)
	    	
	    	//클릭된 행의 인덱스            
            var idx = getObj().parentElement.rowIndex;
			//console.log("와 대박 이거 되는거 같아!!! 와!!",idx)          
	    	
	    	// 클릭한 행 +1 -> 밑에 새로 행 추가
	    	const new_row = table.insertRow(idx+1);
	    	
	    	// Cell의 길이
	    	const cell_length = table.rows[1].cells.length;
	    	//console.log("Cell의 길이",cell_length)    	
	    	
	    	//각 Cell html 작성 및, 행에 추가
	    	for(let i = 0; i < cell_length; i++) {
	            const new_cell = new_row.insertCell(i);
	            let temp_html = ``;
	            if(i === 0) {
	                   temp_html = makeMaterialCode(materialCode);
	            }else if(i === 1) {
					temp_html = makeMaterialName(materialName);
	            }else if(i === 2) {
	            	temp_html = `<td>
									<div class="row" style="margin-left: 0px;" >
										<input type="hidden" name="companyNo" value="104-84-55123">
										<input type="text" style="float:left; width:70%; border: 0; text-align: center;" name="companyName" >
										&nbsp;&nbsp;
										<button type="button" class="btn btn-primary btn-rounded btn-icon companySearchBtn" style="float:right">
											<i class="mdi mdi-magnify"></i>
										</button>
									</div>
								</td>`;
	            }else if(i === 3){
	            	temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="manager" ></td>`;
	            }else if(i === 4){
	            	temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="managerTel"></td>`;
	            }else if(i === 5){
	            	temp_html = `<td><input type="number" style="width:100%; border: 0; text-align: center;" name="supplyLt"></td>`;
	            }else if(i === 6){
	            	temp_html = `<td><input type="number" style="width:100%; border: 0; text-align: center;" name="unitPrice"></td>`;
	            }else if(i === 7){
	            	temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="dealCondition"></td>`;
	            }else if(i === 8){
	            	temp_html = `<td></td>`;
	            }else{
	            	temp_html = `<td>
				    				<button type="button" class="btn btn-primary tr_delete" style="width:106px; height:40px;" onclick="tr_delete_event(this)">
				    					삭제 &nbsp;&nbsp;-
			    					</button>
					    		</td> `;
	            }
	            new_cell.insertAdjacentHTML('beforeend', temp_html);
    		}
    	}   	    	
    	
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    		    	    
	    //삭제 - 버튼 누를때, 행 삭제
	    const tr_delete_event = (btn) => {
			const table = document.getElementById('registerTable');
			const row_index = btn.closest('tr').rowIndex;
			table.deleteRow(row_index);
    	};	    
    	
    	
    	
    	
		
		</script>
		
	</th:block>
</th:block>
</html>