<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">

		<div class="col-md-12 stretch-card">
			<!-- 수정 부분 시작 -->
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">품목 정보 등록</p> 
					<br>
					<form th:action = "@{/procurement1/materialRegister}" th:method="post" id="materialregisterForm">
						<div class="table-responsive" style="margin-bottom: 10px;">
							<!-- 테이블 시작 -->
								<table class="table table-bordered" id="registerTable" style="text-align: center;">
									<thead>
										<tr>
											<th width="11%">품목명</th>
											<th width="">규격</th>
											<th width="">재질</th>
											<th width="">제작 사양</th>
											<th width="8%">도면 번호</th>
											<th width="9%">도면<br>image</th>
											<th width="8%">공용여부</th>
											<th width="8%">대</th>
											<th width="8%">중</th>
											<th width="10%">품목코드</th>
											<th></th> 
										</tr>
									</thead>
									<tbody>	
										<tr>									
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="name" class="materialName"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="size"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="quality"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="spec"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="drawingNo"></td>
											<td></td>
											<td>
												<select style="width:100%; border: 0; text-align: center;" name="shareStatus">
													<option value='공용'>공용</option>
													<option value='전용'>전용</option>
												</select>											
											</td>
											<td>
												<select style="width:100%; border: 0; text-align: center;" name="largeCategoryCode" id="largeCategoryCode">
													<th:block th:each="LCDTO : ${LargeCategoryDTOList}">
														<option th:value="${LCDTO.code}">[[${LCDTO.category}]]</option>
													</th:block>
												</select>
											</td>
											<td>
												<select style="width:100%; border: 0; text-align: center;" name="middleCategoryCode" id="middleCategoryCode">
													<th:block th:each="MCDTO : ${MiddleCategoryDTOList}">
														<option th:value="${MCDTO.middleCode}">[[${MCDTO.middleCategory}]]</option>
													</th:block>
												</select>									
											</td>
											<td style="padding-top:0px;">
												<input type="text" style="width:100%; border: 0; text-align: center; " name="code" class="materialCode" readonly>
											</td>
											<td>
												<button type="button" class="btn btn-primary" id="addRow" style="width:106px; height:40px; padding-left: 10px;padding-right: 10px;">
													등록추가 &nbsp;&nbsp;+
												</button>
											</td> 
										</tr>
									</tbody>
								</table>
							<!-- 테이블 끝 -->
						</div>
						<div class="col-md-12">						
							<!-- 등록확인, 등록취소 버튼 시작 -->						
							<button class="btn btn-primary" style="margin-right: 130px; float: right;" onclick="location.href='/procurement1/materialList'" type="button">
								등록취소
							</button>
							<button class="btn btn-primary" style="margin-right: 8px; float: right;" type="submit" id="materialregisterBtn">
								등록확인
							</button>										
							<button class="btn btn-primary" style="margin-right: 8px; float: right;" type="button" id="materialcodeGenerateBtn">
								코드생성
							</button>										
							<!-- 등록확인, 등록취소 버튼 끝 -->
						</div>	
					</form>								
				</div>
			</div>
		</div>
		
		<!-- 등록확인 모달창 시작-->
		<div class="materialRegisterConfirmModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">품목 정보 등록 확인</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="materialRegisterCheckModal">
                    	<!-- 품목정보 등록 확인할 내용 -->    
                    	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary materialRegisterConfirmBtn " style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	취소
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 등록확인 모달창 끝 -->
		
		<!-- 
			안내와 오류시 보여줄 모달창 시작 
			1. 등록확인 모달창 오류시
				- 제목 : 품목 정보 등록 확인
				- 내용 : <span>등록해야할 값들이 누락되어있습니다.</span><br>
		               	 <span>다시 작성해주시길 바랍니다.</span>
 			2. 코드생성 안내
 				- 제목 : 품목코드 생성 안내
 				- 내용 : <span>품목코드 : BN0002 </span><br>
 						 <span>품목코드 : PB0004 </span><br>
 						 <span>위와 같이 품목코드가 생성되었습니다.</span>      
			3. 코드생성 안내 오류시
				- 제목 : 품목코드 생성 안내
				- 내용 : <span>등록해야할 값들이 누락되어있습니다.</span><br>
		               	 <span>다시 작성해주시길 바랍니다.</span> 
		-->
		<div class="materialInfoAndErrorModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="materialInfoAndErrorModalTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="materialInfoAndErrorModalContent">   
						<!-- 안내와 오류시 보여줄 모달창 내용 -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 안내와 오류시 보여줄 모달창 끝 -->
						
		
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script th:inline="javascript">
		
		
		$(document).ready(function(){
			//등록되어 있는 값이 있는지 체크하기 위해, 전역변수 체크값 선언해주기
			var materialRegisterValueCheck = true;		//-> 하나라도 비웠을 경우에 false로 바꿔주기 
			console.log("등록체크 전역변수 확인하기1 : ",materialRegisterValueCheck);
			
			//등록확인 버튼 누를때 -> 등록확인 모달창 보여주기
			$(document).on("click","#materialregisterBtn",function(e){
				console.log("등록확인 버튼 누름");
				//1. 버튼 이벤트(submit)금지
    			e.preventDefault();				
				
    			//2. 입력창으로 값을 받기
    			
    			//2-1. 등록확인 모달창에 띄울 값 받기(품목코드, 품목명)
    			console.log("등록체크 전역변수 확인하기(체크하기 전) : ",materialRegisterValueCheck);
				    			
    			//입력받은 품목코드 -> 품목코드 리스트에 담기
    			let codeList = new Array();
    			$('.materialCode').each(function(){
    				let code = $(this).val();
    				//console.log("이거 잘 code 읽어온건가!!",code);
    				if(code != ""){				//빈값이 아닐때, 값이 존재하면
    					codeList.push(code);
    				}else{						//빈값 상태, materialRegisterValueCheck 전역변수 -> false 바꾸기
    					materialRegisterValueCheck = false;
    				}
    			});
    			console.log("등록체크 전역변수 확인하기(품목코드 체크 후) : ",materialRegisterValueCheck);
    			
    			//입력받은 품목명 -> 품목명 리스트에 담기
    			let nameList = new Array();
    			$('.materialName').each(function(){
    				let name = $(this).val();
    				//console.log("이거 잘 code 읽어온건가!!",name);
    				if(name != ""){ 			//빈값이 아닐때, 값이 존재하면
    					nameList.push(name);
    				}else{						//빈값 상태, materialRegisterValueCheck 전역변수 -> false 바꾸기
    					materialRegisterValueCheck = false;
    				}    	
    			});    			
    			console.log("등록체크 전역변수 확인하기(품목명 체크 후) : ",materialRegisterValueCheck);
    			
    			//각각의 품목코드,품목명 리스트 -> 객체(품목코드,품목명) 리스트에 담기
    			let codenameList = new Array();
    			
    			for(var i = 0; i<codeList.length; i++){
    				let codenameObj = new Object();
    				codenameObj.code = codeList[i];
    				codenameObj.name = nameList[i];
    				codenameList.push(codenameObj);
    			}    			
    			//console.log("제대로 넣어 졌는지 보자",codenameList[0]);
    			//console.log("제대로 넣어 졌는지 보자",codenameList[1]);
    			
    			//2-2. 등록할 값들이 제대로 들어갔는지 체크해주기 위한 값 받기
    			//꼭 들어가야하는 값(null 허용X) (품목코드, 품목명, 공용여부, 대, 중 ) -> 공용여부,대,중 무조건 존재하니 => 품목코드, 품목명 체크 필요
    			//나머지는 null 허용 데이터 (규격, 재질, 제작사양, 도면번호, 도면, 기존재고수량)
    			
    			//위에서 품목코드, 품목명, 빈값일때 전역변수 체크 했음
    			
    			//3. 입력받은 리스트를 이용해서, 모달창에 보여줄 한문장으로 만들기
    			let sentence = ``;
    			
    			function makeSentence(code,name){
    				let sentence =`<span>품목코드 : ${code}, 품목명 : ${name}</span><br>`;
    				return sentence;    				
    			}	
    			
    			if(materialRegisterValueCheck){		//등록체크 값이=>true 일때, 등록하려는 값들이 모두 들어간 상태 ->등록확인 모달창 보여주기
	   				codenameList.forEach(function(item){
	   					sentence=sentence+makeSentence(item.code,item.name);
	   				});
	   				//console.log("현재까지 만들어진 문장보자",sentence);
	   				
	   				sentence=sentence+`<br><span>해당 품목을 등록 하시겠습니까?</span>`;   				
	   				//console.log("완성된 문장보자",sentence);
	   				
	   				//4. 완성된 문장을 모달창 넣어서 등록여부 물어보기
	   				//innerHTML -> 내용 덮어씌우기
	   				//insertAdjacentHTML -> 내용 추가해서 넣기
	   				document.querySelector("#materialRegisterCheckModal").innerHTML = sentence;
	   				   				
	   				//등록확인 모달창 보여주기
					$(".materialRegisterConfirmModal").modal('show');	
    			}else{								//등록체크 값이=>false 일때, 등록하려는 값들 중 하나라도 빠진 상태 ->오류 모달창 보여주기
					//오류 모달창 보여주기
					//1. 제목 -> 품목 정보 등록 확인 넣어주고
					//2. 내용 -><span>등록해야할 값들이 누락되어있습니다.</span><br>
		            //		 	<span>다시 작성해주시길 바랍니다.</span>
					document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `품목 정보 등록 확인`;
					sentence = `<span>등록해야할 값들이 누락되어있습니다.</span><br>
		               			<span>다시 작성해주시길 바랍니다.</span>`;
					
           			document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;					
					
					$(".materialInfoAndErrorModal").modal('show');    					
					//그리고 다시 등록체크 값 true로 다시 세팅해주기
					materialRegisterValueCheck = true;
    			}
				console.log("등록체크 전역변수 확인하기(등록확인 버튼 누르고, 마지막 확인) : ",materialRegisterValueCheck);
								
			});	
			
			console.log("등록체크 전역변수 확인하기(중간에 확인) : ",materialRegisterValueCheck);
						
			//등록확인 모달창의 확인 버튼 누를때
			$(document).on("click",".materialRegisterConfirmBtn",function(e){
				e.preventDefault();					
				//폼태그에 실어서 등록하기
				$("#materialregisterForm").submit();
				//그리고 자동으로 모달창 닫아주기
				$(".materialRegisterConfirmModal").modal('hide');				
			});	
			
			//코드생성 버튼 누를때, -> 코드생성 안내 모달창 보여주기
			$(document).on("click","#materialcodeGenerateBtn",function(e){
				console.log("코드생성 버튼 누름");
				
				document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `품목코드 생성 안내`;
				
				sentence = `<span>등록해야할 값들이 누락되어있습니다.</span><br>
           					<span>다시 작성해주시길 바랍니다.</span>`;
		
				document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;	
				
				$(".materialInfoAndErrorModal").modal('show');    					
				
			
			});	
			
			//대분류코드 변경될때마다 처리되는 함수
			//대분류코드 변경됨에 따라 중분류코드 바꿔주기 위한 함수
			$("#largeCategoryCode").change(function(){
				//let test1 = $(this).val();
				//console.log("change 함수 써서, 그 함수 자체의 값 보자 : ",test1); -> 이렇게 가져와도 선택된 값이 보여주지만, 확실하게 하기 위해 선택된 값 가져오는걸로 쓰자
				//console.log("text 값 테스트1 : ",$(this).text()); -> 그해당 셀렉트의 모든 값을 가져온다.
				
				//선택된 대분류코드
				let selectedLCCode = $("#largeCategoryCode > option:selected").val();
				let selectedLCName = $("#largeCategoryCode > option:selected").text();
				console.log("선택된 대분류 코드 : ",selectedLCCode);
				console.log("선택된 대분류 이름 : ",selectedLCName);
								
				
				//대분류코드로 중분류리스트 찾는 Ajax처리
				$.ajax({
					type : "post" ,
					url : "/procurement1/getMiddleCategoryByLargeCategory" ,     	//꼭 절대경로로! /붙이기 // .json 넣으면 응답을 json으로 함!
					data : selectedLCCode ,                							//보내는 데이터!(요청 데이터)
					contentType :"text/plain; charset=UTF-8" ,  					//보내는 데이터 형식 (전송 데이터,요청데이터)
					dataType : "json" ,							 					//받아오는 데이터 형식 (응답데이터) text, json, xml -생략시는 content type을 보고 자동처리
					success : function(data){        								//가져오는 데이터! (응답데이터)
						console.log("받아온 데이터 : ",data);
						console.log("json 리스트 사이즈 보자 : ",data.length);
						
						//data를 이용해서, 중분류 셀렉트 옵션에 넣을 옵션들 -> html 만들기
						let completeHtml =``;    	
								
						data.forEach(function(item){
							completeHtml = completeHtml + makeOption(item.middleCode,item.middleCategory);							
						});						
						console.log("완성된 html 보자",completeHtml);								
						
						//완성된 옵션들은 기존의 중분류코드 셀렉트에 바꿔주기
						$("#middleCategoryCode option").remove();
						$("#middleCategoryCode").append(completeHtml);							
						
					},
					error : function(jqXHR,textStatus,errorThrown){    
						//console.log(jqXHR); 			//응답 메시지
						//console.log(textStatus); 		//"error"로 고정인듯함
						//console.log(errorThrown);	
						console.log("대분류코드를 이용해서 중분류리스트 가져오는데 Ajax 오류 발생!!!!!!");
					}
				});		
			});
		
		});
		
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		//대분류 리스트 타임리프 포문으로 안되서! 변수로 바꿔주기
		let LargeCategoryDTOList = [[${LargeCategoryDTOList}]];    	
    	let LCDTOList = new Array();
    	
    	LargeCategoryDTOList.forEach(function(item){
    		let LCDTO = new Object();
    		LCDTO.code = item.code;
    		LCDTO.category = item.category;
    		LCDTOList.push(LCDTO);
    	});    	
    	//console.log("대분류 전체 리스트 확인",LCDTOList);
    	
    	//code와 category 값을 넣어서 option 만들기
    	function makeOption(code,category){
    		return `<option value=${code}>${category}</option>`;
    	};    
    	
    	//option 넣어서, 넣어야할 대분류 html 문장 만들기
    	function makeLCHtml(option){
    		let temp_html = `<td>
					 			<select style="width:100%; border: 0; text-align: center;" name="largeCategoryCode" id="largeCategoryCode">
									${option}
								</select>
							</td>`;
			return temp_html;
    	}
		
    	//넣어야할 option을 한 문장으로 만들기
    	let LCoptionList = ``;
    	
    	LCDTOList.forEach(function(item){
    		LCoptionList=LCoptionList+(makeOption(item.code,item.category));
    	});    	    	
    	//console.log("합친 대분류 option",LCoptionList);       		
    	
    	//최종적으로 만들어진 대분류 옵션 html 문장
    	//console.log("최종 합친 대분류 옵션 전체 문장",makeLCHtml(LCoptionList));
    	
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    	
    	//중분류 리스트 타임리프 포문으로 안되서! 변수로 바꿔주기
		let MiddleCategoryDTOList = [[${MiddleCategoryDTOList}]];        	
    	let MCDTOList = new Array();
    	
    	MiddleCategoryDTOList.forEach(function(item){
    		let MCDTO = new Object();
    		MCDTO.middleCode = item.middleCode;
    		MCDTO.middleCategory = item.middleCategory;
    		MCDTOList.push(MCDTO);
    	});    	
    	//console.log("중분류 전체 리스트 확인",MCDTOList);
    			
    	//넣어야할 option을 한 문장으로 만들기
    	let MCoptionList = ``;
    	
    	MCDTOList.forEach(function(item){
    		MCoptionList=MCoptionList+(makeOption(item.middleCode,item.middleCategory));
    	});    	    	
    	//console.log("합친 중분류 option",MCoptionList);       		
    	
    	//option 넣어서, 넣어야할 대분류 html 문장 만들기
    	function makeMCHtml(option){
    		let temp_html = `<td>
					 			<select style="width:100%; border: 0; text-align: center;" name="middleCategoryCode" id="middleCategoryCode">
									${option}
								</select>
							</td>`;
			return temp_html;
    	}
    	
    	//최종적으로 만들어진 중분류 옵션 html 문장
    	//console.log("최종 합친 중분류 옵션 전체 문장",makeMCHtml(MCoptionList));
    	
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	    
	    //등록추가 + 버튼 누를때, 행 추가
	    document.getElementById('addRow').addEventListener('click', () => {
		    console.log("등록 추가 버튼 누름")
		    	
	    	// table element 찾기
	    	const table = document.getElementById('registerTable');
	    	console.log("가져온 table 정보",table)
	    	
	    	// 새 행(Row) 추가
	    	const new_row = table.insertRow();
	    	
	    	// Cell의 길이
	    	const cell_length = table.rows[1].cells.length;
	    	console.log("Cell의 길이",cell_length)    	
	    	
	    	//각 Cell html 작성 및, 행에 추가
	    	for(let i = 0; i < cell_length; i++) {
	            const new_cell = new_row.insertCell(i);
	            let temp_html = ``;
	            if(i === 0) {
					temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="name" class="materialName"></td>`;
	            }else if(i === 1) {
	            	temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="size"></td>`;
	            }else if(i === 2) {
	            	temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="quality"></td>`;
	            }else if(i === 3){
	            	temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="spec"></td>`;
	            }else if(i === 4){
	            	temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="drawingNo"></td>`;
	            }else if(i === 5){
	            	temp_html = `<td></td>`;
	            }else if(i === 6){
	            	temp_html = `<td>
				        			<select style="width:100%; border: 0; text-align: center;" name="shareStatus">
					    				<option value='공용'>공용</option>
					    				<option value='전용'>전용</option>
					    			</select>											
					    		</td>`;
	            }else if(i === 7){
	            	temp_html = makeLCHtml(LCoptionList);
	            }else if(i === 8){
	            	temp_html = makeMCHtml(MCoptionList);
	            }else if(i === 9){
                   temp_html = `<td>
			                	    <input type="text" style="width:100%; border: 0; text-align: center;" name="code" class="materialCode" readonly>
								</td>`;
	            }else{
	            	temp_html = `<td>
				    				<button type="button" class="btn btn-primary tr_delete" style="width:106px; height:40px;" onclick="tr_delete_event(this)">
				    					삭제 &nbsp;&nbsp;-
			    					</button>
					    		</td> `;
	            }
	            new_cell.insertAdjacentHTML('beforeend', temp_html);
	        }
	    	
	    	const tdBtn = document.getElementsByClassName('tr_delete');
			//console.log("td버튼 클래스 잘 읽어오나",tdBtn);
			
			const tdtest = $(tdBtn).parent('td');
			//console.log("어디보자,,td읽어오나,,,,",tdtest);
	    	
	    });
	    
	    //삭제 - 버튼 누를때, 행 삭제
	    const tr_delete_event = (btn) => {
			const table = document.getElementById('registerTable');
			const row_index = btn.closest('tr').rowIndex;
			table.deleteRow(row_index);
    	};	    
    	
		
		</script>
		
	</th:block>
</th:block>
</html>