<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">
	<th:block th:fragment="content">

<style>
.search-box {
	position: relative;
	float: right;
}

.search-box input {
	height: 34px;
	border-radius: 20px;
	padding-left: 35px;
	border-color: #ddd;
	box-shadow: none;
}

.search-box input:focus {
	border-color: #3FBAE4;
}

.search-box i {
	color: #a0a5b1;
	position: absolute;
	font-size: 19px;
	top: 8px;
	left: 10px;
}

.pagination {
	float: right;
	margin: 0 0 5px;
}

.pagination li a {
	border: none;
	font-size: 95%;
	width: 30px;
	height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 30px !important;
	text-align: center;
	padding: 0;
}

.pagination li a:hover {
	color: #666;
}

.pagination li.active a {
	background: #03A9F4;
}

.pagination li.active a:hover {
	background: #0397d6;
}

.pagination li.disabled i {
	color: #ccc;
}

.pagination li i {
	font-size: 16px;
	padding-top: 6pxrow
}

.hint-text {
	float: left;
	margin-top: 6px;
	font-size: 95%;
}
</style>

		<div class="col-md-12 stretch-card">
			<!-- 수정 부분 시작 -->
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">품목 정보 등록</p> 
					<br>
					<div class="row" style="margin-bottom: 5px;">
						<!-- 목록 내려보기 시작 -->
						<div class="col-md-6"> 
							<form>
								<div style="display:inline-block;">
									<select class="custom-select mr-sm-2"  style="display:inline-block;">
										<option selected>검색 조건 선택</option>
										<option value="1">대분류</option>
										<option value="2">중분류</option>
										<option value="3">품목코드</option>
										<option value="4">품목명</option>
									</select>
								</div> 
								&nbsp;	
								<input type="text" style="width: 150px; height: 40px; display:inline-block;" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
								&nbsp;
								<div style="display:inline-block;"> 
									<button class="btn btn-primary" style="display:inline-block;">검색</button>
								</div>
							</form>
						</div> 
						<!-- 목록 내려보기 끝 -->
						
						<!-- 등록, 수정, 삭제 버튼 시작 -->
						<div class="col-md-6" >	
							<form style="float: right;">
								<button class="btn btn-primary" >삭제</button>
							</form>
							<form style="float: right;" th:action = "@{/procurement1/materialModify}" th:method="get" id="materialModifyForm">
								<input type="hidden" name="materialCodeList" id="materialCodeList">
								<button class="btn btn-primary" id="materialModifyBtn" type="submit" style="margin-right:10px">수정</button>
							</form>
							<button class="btn btn-primary" style="float:right; margin-right:10px" type="button" onclick="location.href='/procurement1/materialRegister'">
								등록
							</button>
						</div>
						<!-- 등록, 수정, 삭제 버튼 끝 -->
					</div>	
					<div class="table-responsive">
						<!-- 테이블 시작 -->
						<table id="recent-purchases-listing" class="table" style="text-align: center;">
							<thead>
								<tr>
									<th></th>
									<th width="9%">대</th>
									<th width="8%">중</th>
									<th width="10%">품목코드</th>
									<th width="10%">품목명</th>
									<th width="8%">규격</th>
									<th width="9%">재질</th>
									<th width="13%">제작 사양</th>
									<th>도면 번호</th>
									<th>도면<br>Image</th>
									<th width="9%">공용여부</th>
								</tr>
							</thead>
							<tbody>			
								<tr th:each="dto : ${DTOList}">
									<td><input type="checkbox" name="checkBox" th:value="${dto.code}" onclick="chkClicked();"></td>
									<td>[[${dto.largeCategoryName}]]</td>
									<td>[[${dto.middleCategoryName}]]</td>
									<td>[[${dto.code}]]</td>
									<td>[[${dto.name}]]</td>
									<td>[[${dto.size}]]</td>
									<td>[[${dto.quality}]]</td>
									<td>[[${dto.spec}]]</td>
									<td>[[${dto.drawingNo}]]</td>
									<td th:if="${dto.drawingFileDTO != null && dto.drawingFileDTO.image==true}">
										<button th:data-file="${dto.drawingFileDTO.getImageURL()}" class="ImgClick" type="button" style="border:none; background-color:transparent;">
											<img th:src="|/procurement1/drawing/display?fileName=${dto.drawingFileDTO.getThumbnailURL()}|" > 
										</button>
									</td>
									<td th:if="${dto.drawingFileDTO != null && dto.drawingFileDTO.image!=true}">
										<button th:data-file="${dto.drawingFileDTO.getImageURL()}" th:data-name="${dto.drawingFileDTO.fileName}"
												class="NoImgClick" type="button" style="border:none; background-color:transparent;">
											<img th:src="|/picture/thumb_document.jpg|" > 
										</button>
									</td>
									<td th:if="${dto.drawingFileDTO == null}">
									
									</td>
									<td>[[${dto.shareStatus}]]</td>
								</tr>
							</tbody>
						</table>
						<!-- 테이블 끝 -->
						<!-- 페이지 번호 시작 -->
						<div class="clearfix">
							<div class="hint-text">
								Showing <b>5</b> out of <b>25</b> entries
							</div>
							<ul class="pagination">
								<li class="page-item disabled">
									<a href="#"> 
										<< <i class="fa fa-angle-double-left"></i>
									</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">1</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">2</a>
								</li>
								<li class="page-item active">
									<a href="#" class="page-link">3</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">4</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">5</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">
										>> <i class="fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- 페이지 번호 끝 -->
					</div>					
				</div>
			</div>
		</div>
		
		<!-- 이미지 보여주는 모달창 시작 -->
		<div class="imageModal modal " tabindex="-2" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">도면 Image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary imageDownloadBtn" style="padding-top:10px; padding-left:15px; padding-right:15px; width:88px; height:33px;">
                        	다운로드
                       	</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       	</button>
                    </div>
                </div>
            </div>
        </div>	
        <!-- 이미지 보여주는 모달창 끝 -->
        
        <!-- 첨부파일 다운로드 여부 묻는 모달창 시작-->
		<div class="attachFileDownloadModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">첨부 파일 다운로드</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="attachFileDownloadCheckModal">
                    	<!-- 첨부파일 이름 확인할 내용 -->    
                    	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary attachFileDownloadConfirmBtn " style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	취소
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 첨부파일 다운로드 여부 묻는 모달창 끝 -->
		
		<!-- 
			수정버튼 누를때, 오류시 보여줄 모달창 시작
			(상황1. 현재 조달진행중 or 조달완료 했던 경우 O ->이것만 눌렀을때)(즉, 막 새로 작성한것만 수정되게, 발주예정인것만 수정되게)
			(상황2. 체크한게 아무것도 없을때)
			- 내용 : 1. <span>발주되어 진행 중인 품목이 있습니다.</span><br>
                 		<span>다시 선택해주시길 바랍니다.</span>
					 2. <span>체크한 항목이 없습니다.</span><br>
						<span>다시 선택해주시길 바랍니다.</span>
		-->
		<div class="materialModifyErrorModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">품목 수정</h5>
                        <button type="button" class="close AllResetSetting" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="materialModifyErrorModalContent">   
						<!-- 오류시 보여줄 내용 -->	
							
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 수정버튼 누를때, 오류시 보여줄 모달창 끝 -->
		
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script th:inline="javascript">
		
		//체크박스 체크한것 -> 품목코드 리스트로 만들기
		function chkClicked(){
			const chkChecked = 'input[name="checkBox"]:checked';
			const selectedEls = document.querySelectorAll(chkChecked);
	 		//console.log("체크 된것들이 어떻게 찍히나 보자 ", selectedEls);
	 		let materialCodeList = new Array();
	 		
	 		selectedEls.forEach((el) => {
				//console.log("체크된거 어떻게 찍히나 보자", el.value);
				materialCodeList.push(el.value);
		 	});
	 		//console.log("만들어진 리스트 보자",materialCodeList);
	 		
	 		return materialCodeList;
		}
		
		$(document).ready(function(e) {
			//---------------------------------------------------- 도면 이미지 관련 -----------------------------------------------------------//
			
			//이미지인 버튼을 눌렀을때의 해당 tr을 넣어주기 위한 tr 전역변수 선언
			//(그 해당 행의 버튼 정보를 가져오기 위해)
			var attachImageDrawingFileTR = new Object();
			
			//도면파일 -> 이미지로 된것 클릭 했을때, -> 원본파일 모달창으로 보여주기
			$(".ImgClick").click(function() {
				console.log("도면이미지인거 선택함");
				var file = $(this).data('file');
				//console.log("file 보자! : ",file);
				//클릭한 행의 정보 전역변수에 세팅해주기
				attachImageDrawingFileTR = getObjTR();
				
				//console.log(file);
				$('.imageModal .modal-body').html("<img style='width:100%' src='/procurement1/drawing/display?fileName="+file+" ' >");
				$(".imageModal").modal("show");
			});
			
			//이미지 아닌 문서그림 버튼을 눌렀을때의 해당 tr을 넣어주기 위한 tr 전역변수 선언
			//(그 해당 행의 버튼 정보를 가져오기 위해)
			var attachNoImageDrawingFileTR = new Object();
			
			//도면파일 -> 이미지로 된거 아닌거! 클릭 했을때, -> 파일 다운로드 여부 묻는 모달창 보여주기
			$(".NoImgClick").click(function() {
				console.log("이미지 아닌거 선택함");
				//클릭한 행의 정보 전역변수에 세팅해주기
				attachNoImageDrawingFileTR = getObjTR();
				
				//해당 버튼의 가지고 있는 파일이름 읽기
				var fileName = $(this).data('name');
				//console.log("어디 해당 파일의 data-fileName 잘 읽나 보자 : ",fileName);
				
				sentence = `<span><b>파일명</b> : `+fileName+`<br><br>
							해당 파일을 다운로드 하시겠습니까?</span>`;
				//console.log("만든 문장 봐보자 : ",sentence);
       			document.querySelector("#attachFileDownloadCheckModal").innerHTML = sentence;					
				$(".attachFileDownloadModal").modal('show');
			});
			
			//첨부파일 다운로드 모달창의 확인 버튼 누를때
			$(document).on("click",".attachFileDownloadConfirmBtn",function(e){
				e.preventDefault();			
				//NoImgClick 버튼 클릭했을때, 가지고 있던 file 정보 읽기
				//일단 해당 NoImgClick 버튼 먼저 읽고
				var target = new Object();
				target = attachNoImageDrawingFileTR.querySelector(".NoImgClick");
				//console.log("일단 타겟부터 읽어보자 : ",target);
				
				//그 버튼의 가지고 있던 file 정보 읽기
				var encodeFile = $(target).data('file');
				//console.log("NoImgClick 버튼 눌렀을때의 파일의 data-file 잘 읽나 보자 : ",encodeFile);
				
				//모달창 숨기고, 파일 다운로드 시키기
				$(".attachFileDownloadModal").modal('hide');
				window.location.href = "/procurement1/drawing/download?fileName="+encodeFile;
			});	
			
			//도면파일 -> 이미지로 된것 클릭 했을때,
			//원본 이미지 모달창에서 -> 다운로드 버튼 클릭시 -> 원본 파일 다운로드 하기
			$(document).on("click",".imageDownloadBtn",function(e){
				console.log("이미지 모달창의 다운로드 버튼 누름");
				e.preventDefault();			
				//NoImgClick 버튼 클릭했을때, 가지고 있던 file 정보 읽기
				//일단 해당 NoImgClick 버튼 먼저 읽고
				var target = new Object();
				target = attachImageDrawingFileTR.querySelector(".ImgClick");
				//console.log("일단 타겟부터 읽어보자 : ",target);
				
				//그 버튼의 가지고 있던 file 정보 읽기
				var encodeFile = $(target).data('file');
				//console.log("다운로드 버튼 눌렀을때의 파일의 data-file : ",encodeFile);
				
				//모달창 숨기고, 파일 다운로드 시키기
				$(".imageModal").modal('hide');
				window.location.href = "/procurement1/drawing/download?fileName="+encodeFile;
			});	
			
			//이벤트 발생한 요소의 상위의 TR 객체 찾기
	        function getObjTR(){
	            var obj = event.srcElement
	            while (obj.tagName !='TR'){  //TR가 나올때까지의 Object추출
	                obj = obj.parentElement
	            }
	            return obj
	        }
			
	      	//---------------------------------------------------- 수정 버튼 관련 -----------------------------------------------------------//
	      	
	      	
			//체크박스를 체크를 했는지 안했는지 체크하기 위한, 전역변수 체크값 선언해주기
			var checkBoxValueCheck = true;		//-> 하나라도 체크 안되어 있을 경우에 false로 바꿔주기 
			console.log("체크박스 체크 전역변수 확인하기1 : ", checkBoxValueCheck);
			
			//발주예정인지 체크하기 위한, 전역변수 체크값 선언해주기
			var expectedPurchaseOrderCheck = true;		//-> 하나라도 체크 안되어 있을 경우에 false로 바꿔주기 
			console.log("발주예정 체크 전역변수 확인하기1 : ", expectedPurchaseOrderCheck);
			
	      	//수정버튼 눌렀을때,  -> 1. 발주 예정 인것만 수정 가능하게!, 즉 단순하게, 지금 막 등록한거 수정하는 정도
			//						    -> 즉, 한번이라도 조달계획에서 조달완료를 받았던 품목은 수정 불가, 그리고 현재 발주되서 조달 진행 중인거 수정 불가
			//					  -> 2. 체크한 사항이 있어야 수정 가능하게
			/*
	      	수정(삭제)할 품목을 선택해주세요.
			Or
			발주되어 진행 중인 품목입니다. 
			수정(삭제)이 불가능합니다.
			*/
    		$("#materialModifyBtn").on("click",function(e){
    			//1. 버튼 이벤트(submit)금지
    			e.preventDefault();
    			
    			//2. 체크박스가 체크 된게 있는지 체크하기, 하나라도 미체크시 checkBoxValueCheck false로 바꿔주기
    			const chkChecked = 'input[name="checkBox"]:checked';
    			const selectedEls = document.querySelectorAll(chkChecked);
    			//console.log("체크 된것들이 어떻게 찍히나 보자 ", selectedEls);
    			//console.log("길이로 체크하면 되겠지? : ",selectedEls.length);
    			if(selectedEls.length==0){ 		//체크 된게 없을시 -> false 로 변경
    				checkBoxValueCheck = false;
    			}
    			console.log("체크박스 체크 전역변수 확인하기(체크 후) : ",checkBoxValueCheck);
    			console.log("발주예정 체크 전역변수 확인하기(체크 전) : ",expectedPurchaseOrderCheck);
    			
    			//3. 선택한 품목코드를 이용하여, 발주예정 여부 ajax 로 결과 받기
    			let materialCodeList = new Array();
    			materialCodeList = chkClicked();
    			console.log("이렇게 바로 함수로 해도 materialCodeList 읽는건가?? : ",materialCodeList);
    			
    			var changeJsonData = JSON.stringify(materialCodeList);	
    			console.log("변경된 제이슨 타입 데이터 보자 : "+changeJsonData);
    			
    			$.ajax({
					type : "post" ,
					url : "/procurement1/expectedPurchaseOrderCheck" ,     		//꼭 절대경로로! /붙이기 // .json 넣으면 응답을 json으로 함!
					data : changeJsonData ,                						//보내는 데이터!(요청 데이터)
					contentType :"application/json; charset=UTF-8" ,  			//보내는 데이터 형식 (전송 데이터,요청데이터)
					dataType : "text" ,							 				//받아오는 데이터 형식 (응답데이터) text, json, xml -생략시는 content type을 보고 자동처리
					success : function(data){        							//가져오는 데이터! (응답데이터)
						//console.log("받아온 데이터 : ",data);
						
						//받아온 결과는 String이라서 boolean으로 바꿔서 -> 발주예정 체크 전역변수에 넣어주기
						if(data=="true"){
							expectedPurchaseOrderCheck = true;
						}else{
							expectedPurchaseOrderCheck = false;
						}
						//console.log("문자열에서 boolean로 바꿔서 세팅해준거 expectedPurchaseOrderCheck 보자 : ",expectedPurchaseOrderCheck);
						console.log("발주예정 체크 전역변수 확인하기(체크 후) : ",expectedPurchaseOrderCheck);
						
						//ajax 처리후 밑에 진행사항 진행하게 하니까! ajax 처리다하고 받아와서 가는게 아니라, 
						//이거는 이거대로 밑에는 밑에대로 진행되서, 원하는 순서대로 안됨! 그래서 여기에서 뒤에 진행사항을 처리하자!!
						
						//오류 모달창의 materialModifyErrorModalContent 에 넣을 내용
		    			let sentence = ``;
		    			
		    			//4. 체크박스 체크 전역변수 true + 발주예정 체크 전역변수 true 일때만, 수정가능~
		    			if(checkBoxValueCheck && expectedPurchaseOrderCheck){			// 체크박스 체크된것 + 발주예정이 X(신규건 일때) ->수정가능하게
			    			//console.log("현재 둘다 통과! 이거 수정 가능한거야!!!");
		    				//만든 품목코드 리스트를 input 히든에 담기
			    			$('input[name=materialCodeList]').attr('value',chkClicked());
			    			console.log("input hidden에 잘 담겼나 보자 : ",$('input[name=materialCodeList]').attr('value'));
			    			
			    			//var test = $('input[name=materialCodeList]').attr('value');
			    			//console.log("값을 봐보자.. 흠",test);
			    			//alert(test);
			    			
			   				//담은거 submit으로 보내자
			    			$("#materialModifyForm").submit();
			    			//그리고 체크된 값들 전부 체크 해제 해주기
							$("input:checkbox").prop("checked", false);
		    			}else if(!checkBoxValueCheck){								//체크박스 선택한 것이 없음 -> 등록오류 모달창 보여주기				
		    				//console.log("체크박스 전연변수만 실패!!");
		    				//오류 모달창 보여주기
		    				sentence = `<span>체크한 항목이 없습니다.</span><br>
										<span>다시 선택해주시길 바랍니다.</span>`;
		           			document.querySelector("#materialModifyErrorModalContent").innerHTML = sentence;
		    				
							$(".materialModifyErrorModal").modal('show');    					
							//그리고 다시 등록체크 값 true로 다시 세팅해주기
							checkBoxValueCheck = true;   
		    			}else if(!expectedPurchaseOrderCheck){						//체크박스 선택한것 중에 완료 인것이 있음 -> 등록오류 모달창 보여주기
		    				//console.log("발주예정 체크 전연변수만 실패!!");
		    				//오류 모달창 보여주기
		    				sentence = `<span>발주되어 진행 중인 품목이 있습니다.</span><br>
		                    			<span>다시 선택해주시길 바랍니다.</span>`;
		           			document.querySelector("#materialModifyErrorModalContent").innerHTML = sentence;
		    				
							$(".materialModifyErrorModal").modal('show'); 
		    				
		    				//그리고 다시 등록체크 값 true로 다시 세팅해주기
							expectedPurchaseOrderCheck = true;   
							//그리고 체크된 값들 전부 체크 해제 해주기
							$("input:checkbox").prop("checked", false);
		    			} //if
					},
					error : function(jqXHR,textStatus,errorThrown){    
						//console.log(jqXHR); 			//응답 메시지
						//console.log(textStatus); 		//"error"로 고정인듯함
						//console.log(errorThrown);					
						console.log("발주예정 여부 ajax 에러발생~~!!!!!");						
					}
				});	//$.ajax
   			}); //contractRegisterBtn 등록 버튼 누를때, 끝
	      	
			
		
		});
		</script>
		
	</th:block>
</th:block>
</html>