<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">

		<div class="col-md-12 stretch-card">
			<!-- 수정 부분 시작 -->
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">품목 정보 등록</p> 
					<br>
					<form th:action = "@{/procurement1/materialRegister}" th:method="post" id="materialregisterForm">
						<div class="table-responsive" style="margin-bottom: 10px;">
							<!-- 테이블 시작 -->
								<table class="table table-bordered" id="registerTable" style="text-align: center;">
									<thead>
										<tr>
											<th width="11%">품목명</th>
											<th width="">규격</th>
											<th width="">재질</th>
											<th width="">제작 사양</th>
											<th width="8%">도면 번호</th>
											<th width="9%">도면<br>Image</th>
											<th width="8%">공용여부</th>
											<th width="8%">대</th>
											<th width="8%">중</th>
											<th width="10%">품목코드</th>
											<th></th> 
										</tr>
									</thead>
									<tbody>	
										<tr>									
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="name" class="materialName"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="size"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="quality"></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="spec"></td>
											<td>
												<input type="text" style="width:100%; border: 0; text-align: center;" name="drawingNo">
												<input type="hidden" name="drawingFile">
											</td>
											<td>
												<div class="attachDrawingFile">
								            		<button type="button" class="btn btn-primary attachBtn" style=" padding-left: 10px;padding-right: 10px;">
														첨부
													</button>
												</div>
											</td>
											<td>
												<select style="width:100%; border: 0; text-align: center;" name="shareStatus">
													<option value='공용'>공용</option>
													<option value='전용'>전용</option>
												</select>											
											</td>
											<td>
												<select style="width:100%; border: 0; text-align: center;" class="largeCategoryCode" name="largeCategoryCode" >
													<th:block th:each="LCDTO : ${LargeCategoryDTOList}">
														<option th:value="${LCDTO.code}">[[${LCDTO.category}]]</option>
													</th:block>
												</select>
											</td>
											<td>
												<select style="width:100%; border: 0; text-align: center;" class="middleCategoryCode" name="middleCategoryCode" >
													<th:block th:each="MCDTO : ${MiddleCategoryDTOList}">
														<option th:value="${MCDTO.middleCode}">[[${MCDTO.middleCategory}]]</option>
													</th:block>
												</select>									
											</td>
											<td>
												<input type="text" style="width:100%; border: 0; text-align: center; " name="code" class="materialCode" readonly>
											</td>
											<td>
												<button type="button" class="btn btn-primary" id="addRow" style="width:106px; height:40px; padding-left: 10px;padding-right: 10px;">
													등록추가 &nbsp;&nbsp;+
												</button>
											</td> 
										</tr>
									</tbody>
								</table>
							<!-- 테이블 끝 -->
						</div>
						<div class="col-md-12">						
							<!-- 등록확인, 등록취소 버튼 시작 -->						
							<button class="btn btn-primary" style="margin-right: 130px; float: right;" type="button" id="materialregisterCancelBtn">
								등록취소
							</button>
							<button class="btn btn-primary" style="margin-right: 8px; float: right;" type="submit" id="materialregisterBtn">
								등록확인
							</button>										
							<button class="btn btn-primary" style="margin-right: 8px; float: right;" type="button" id="materialcodeGenerateBtn">
								코드생성
							</button>										
							<!-- 등록확인, 등록취소 버튼 끝 -->
						</div>	
					</form>								
				</div>
			</div>
		</div>
		
		<!-- 등록확인 모달창 시작-->
		<div class="materialRegisterConfirmModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">품목 정보 등록 확인</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="materialRegisterCheckModal">
                    	<!-- 품목정보 등록 확인할 내용 -->    
                    	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary materialRegisterConfirmBtn " style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	취소
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 등록확인 모달창 끝 -->
		
		<!-- 첨부파일 모달창 시작-->
		<div class="drawingUploadModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">도면 Image 첨부하기</h5>
                        <button type="button" class="close drawingUploadCancelBtn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
               			<div class="custom-file">
		                    <input type="file" class="custom-file-input" id="customFile">
		                    <label class="custom-file-label" for="customFile">도면 Image 첨부하기</label>
		                </div> 
		                <style>
							.uploadResult {
								width: 100%;
								background-color: gray;
								margin-top: 10px;                    
							}
							
							.uploadResult ul {
								display: flex;
								flex-flow: row;
								justify-content: center;
								align-items: center;
								vertical-align: top;
								overflow: auto;                           
								height: 220px;             
							}
							
							.uploadResult ul li {
								list-style: none;
								padding: 10px;
								margin-left: 2em;
							}
							
							.uploadResult ul li img {
								width: 100px;
							}
						</style>
                    	<div class="uploadResult" id="holder">
			                <ul id="boxing">
								<h3 id="h3Text">파일을 업로드 해주세요.</h3>
			                </ul>
			            </div>                    	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary drawingUploadConfirmBtn" style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                        <button type="button" class="btn btn-secondary drawingUploadCancelBtn" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	취소
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 첨부파일 모달창 끝 -->
		
		<!-- 
			안내와 오류시 보여줄 모달창 시작 
			1. 등록확인 모달창 오류시
				- 제목 : 품목 정보 등록 확인
				- 내용 : <span>등록해야할 값들이 누락되어있습니다.</span><br>
		               	 <span>다시 작성해주시길 바랍니다.</span>
 			2. 코드생성 안내
 				- 제목 : 품목코드 생성 안내
 				- 내용 : <span>품목코드 : BN0002 </span><br>
 						 <span>품목코드 : PB0004 </span><br>
 						 <span>위와 같이 품목코드가 생성되었습니다.</span>      
			3. 코드생성 안내 오류시
				- 제목 : 품목코드 생성 안내
				- 내용 : <span>등록해야할 값들이 누락되어있습니다.</span><br>
		               	 <span>다시 작성해주시길 바랍니다.</span> 
		    4. 파일업로드 오류시
		       - 제목 : 도면 Image 첨부 확인
		       - 내용 : 1. <span>파일 사이즈가 초과되었습니다.</span>
						2. <span>해당 종류의 파일은 업로드할 수 없습니다.</span>
						3. <span>파일 1개만 첨부할 수 있습니다.</span>
		-->
		<div class="materialInfoAndErrorModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="materialInfoAndErrorModalTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="materialInfoAndErrorModalContent">   
						<!-- 안내와 오류시 보여줄 모달창 내용 -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 안내와 오류시 보여줄 모달창 끝 -->
		
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script th:inline="javascript">
		
		
		$(document).ready(function(){
			
			//등록되어 있는 값이 있는지 체크하기 위해, 전역변수 체크값 선언해주기
			//품목코드와 품목명 2개 각각 체크하기
			var materialCodeRegisterValueCheck = true;		//-> 하나라도 비웠을 경우에 false로 바꿔주기 
			console.log("등록체크 전역변수 품목코드 확인하기1 : ",materialCodeRegisterValueCheck);
			var materialNameRegisterValueCheck = true;		//-> 하나라도 비웠을 경우에 false로 바꿔주기 
			console.log("등록체크 전역변수 품목명 확인하기1 : ",materialNameRegisterValueCheck);
			
			//등록확인 버튼 누를때 -> 등록확인 모달창 보여주기
			$(document).on("click","#materialregisterBtn",function(e){
				console.log("등록확인 버튼 누름");
				//1. 버튼 이벤트(submit)금지
    			e.preventDefault();				
				
    			//2. 입력창으로 값을 받기
    			
    			//2-1. 등록확인 모달창에 띄울 값 받기(품목코드, 품목명)
    			console.log("등록체크 전역변수 품목코드 확인하기(체크하기 전) : ",materialCodeRegisterValueCheck);
    			console.log("등록체크 전역변수 품목명 확인하기(체크하기 전) : ",materialNameRegisterValueCheck);
				    			
    			//입력받은 품목코드 -> 품목코드 리스트에 담기
    			let codeList = new Array();
    			$('.materialCode').each(function(){
    				let code = $(this).val();
    				console.log("이거 잘 code 읽어온건가!!",code);
    				if(code != ""){				//빈값이 아닐때, 값이 존재하면
    					codeList.push(code);
    				}else{						//빈값 상태, materialCodeRegisterValueCheck 전역변수 -> false 바꾸기
    					materialCodeRegisterValueCheck = false;
    				}
    			});
    			console.log("등록체크 전역변수 품목코드 확인하기(품목코드 체크 후) : ",materialCodeRegisterValueCheck);
    			console.log("등록체크 전역변수 품목명 확인하기(품목코드 체크 후) : ",materialNameRegisterValueCheck);
    			
    			//입력받은 품목명 -> 품목명 리스트에 담기
    			let nameList = new Array();
    			$('.materialName').each(function(){
    				let name = $(this).val();
    				//console.log("이거 잘 code 읽어온건가!!",name);
    				if(name != ""){ 			//빈값이 아닐때, 값이 존재하면
    					nameList.push(name);
    				}else{						//빈값 상태, materialNameRegisterValueCheck 전역변수 -> false 바꾸기
    					materialNameRegisterValueCheck = false;
    				}    	
    			});    			
    			console.log("등록체크 전역변수 품목코드 확인하기(품목명 체크 후) : ",materialCodeRegisterValueCheck);
    			console.log("등록체크 전역변수 품목명 확인하기(품목명 체크 후) : ",materialNameRegisterValueCheck);
    			
    			//각각의 품목코드,품목명 리스트 -> 객체(품목코드,품목명) 리스트에 담기
    			let codenameList = new Array();
    			
    			for(var i = 0; i<codeList.length; i++){
    				let codenameObj = new Object();
    				codenameObj.code = codeList[i];
    				codenameObj.name = nameList[i];
    				codenameList.push(codenameObj);
    			}    			
    			//console.log("제대로 넣어 졌는지 보자",codenameList[0]);
    			//console.log("제대로 넣어 졌는지 보자",codenameList[1]);
    			
    			//2-2. 등록할 값들이 제대로 들어갔는지 체크해주기 위한 값 받기
    			//꼭 들어가야하는 값(null 허용X) (품목코드, 품목명, 공용여부, 대, 중 ) -> 공용여부,대,중 무조건 존재하니 => 품목코드, 품목명 체크 필요
    			//나머지는 null 허용 데이터 (규격, 재질, 제작사양, 도면번호, 도면, 기존재고수량)
    			
    			//위에서 품목코드, 품목명, 빈값일때 전역변수 체크 했음
    			
    			//3. 입력받은 리스트를 이용해서, 모달창에 보여줄 한문장으로 만들기
    			let sentence = ``;
    			
    			function makeSentence(code,name){
    				let sentence =`<span>품목코드 : ${code},&nbsp;&nbsp; 품목명 : ${name}</span><br>`;
    				return sentence;    				
    			}	
    			
    			if(materialCodeRegisterValueCheck==true && materialNameRegisterValueCheck==true){		//품목코드, 품목명 등록체크 값이=>둘다 true 일때, 등록하려는 값들이 모두 들어간 상태 ->등록확인 모달창 보여주기
	   				codenameList.forEach(function(item){
	   					sentence=sentence+makeSentence(item.code,item.name);
	   				});
	   				//console.log("현재까지 만들어진 문장보자",sentence);
	   				
	   				sentence=sentence+`<br><span>해당 품목을 등록 하시겠습니까?</span>`;   				
	   				//console.log("완성된 문장보자",sentence);
	   				
	   				//4. 완성된 문장을 모달창 넣어서 등록여부 물어보기
	   				//innerHTML -> 내용 덮어씌우기
	   				//insertAdjacentHTML -> 내용 추가해서 넣기
	   				document.querySelector("#materialRegisterCheckModal").innerHTML = sentence;
	   				   				
	   				//등록확인 모달창 보여주기
					$(".materialRegisterConfirmModal").modal('show');	
    			}else if(materialCodeRegisterValueCheck==false && materialNameRegisterValueCheck==true){	//품목코드 =>false, 품목명=>true 일때! -> 값을 다 입력했는데, 품목코드 생성 안한 상태!
    				//오류 모달창 보여주기
    				//1. 제목 -> 품목 정보 등록 확인 넣어주고
    				//2. 내용 -> <span>품목코드가 생성되지 않았습니다.</span>
    				//			 <span>코드생성 버튼을 누른 후, 등록확인 버튼을 눌러주세요.</span>
    				document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `품목 정보 등록 확인`;
					sentence = `<span>품목코드가 생성되지 않았습니다.</span><br>
	    			 		    <span>코드생성 버튼을 눌러서 품목코드를 생성해주세요.</span>`;
					
           			document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;					
					
					$(".materialInfoAndErrorModal").modal('show');    					
					//그리고 다시 등록체크 값 true로 다시 세팅해주기
					materialCodeRegisterValueCheck = true;
					materialNameRegisterValueCheck = true;
    				
    			}else{					//품목코드=true,품목명=flase 일수는 없고, 둘다 false 일때, 등록하려는 값들 중 하나라도 빠진 상태 ->오류 모달창 보여주기
					//오류 모달창 보여주기
					//1. 제목 -> 품목 정보 등록 확인 넣어주고
					//2. 내용 -><span>등록해야할 값들이 누락되어있습니다.</span><br>
		            //		 	<span>다시 작성해주시길 바랍니다.</span>
					document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `품목 정보 등록 확인`;
					sentence = `<span>등록해야할 값들이 누락되어있습니다.</span><br>
		               			<span>다시 작성해주시길 바랍니다.</span>`;
					
           			document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;					
					
					$(".materialInfoAndErrorModal").modal('show');    					
					//그리고 다시 등록체크 값 true로 다시 세팅해주기
					materialCodeRegisterValueCheck = true;
					materialNameRegisterValueCheck = true;
    			}
				console.log("등록체크 전역변수 품목코드 확인하기(등록확인 버튼 누르고, 마지막 확인) : ",materialCodeRegisterValueCheck);
				console.log("등록체크 전역변수 품목명 확인하기(등록확인 버튼 누르고, 마지막 확인) : ",materialNameRegisterValueCheck);
								
			});	//등록확인 버튼 누를때 끝
			
			console.log("등록체크 전역변수 품목코드 확인하기(중간에 확인) : ",materialCodeRegisterValueCheck);
			console.log("등록체크 전역변수 품목명 확인하기(중간에 확인) : ",materialNameRegisterValueCheck);
						
			//등록확인 모달창의 확인 버튼 누를때
			$(document).on("click",".materialRegisterConfirmBtn",function(e){
				e.preventDefault();					
				//폼태그에 실어서 등록하기
				$("#materialregisterForm").submit();
				//그리고 자동으로 모달창 닫아주기
				$(".materialRegisterConfirmModal").modal('hide');				
			});	
			
			//등록취소 버튼 누를때, 목록으로 페이지 이동하기 전에, 업로드한 파일 삭제 시키기
			$(document).on("click","#materialregisterCancelBtn",function(e){
				console.log("등록취소 버튼 누름");
				e.preventDefault();
				//var drawingFile = attachDrawingFileTR.querySelector("input[name=drawingFile]").value;
				//받아온 파일이름 = 저장한 파일이름 ->  \PassionCode\upload\drawing\2023\06\22\b7f997f2-afff-43fa-bff9-3e1564fa1b9d_문서아이콘.jpg
				//ajax 삭제할대 줘야하는 파일이름 -> 2023%2F06%2F22%2Fb7f997f2-afff-43fa-bff9-3e1564fa1b9d_%EB%AC%B8%EC%84%9C%EC%95%84%EC%9D%B4%EC%BD%98.jpg
				// \PassionCode\upload\drawing 경로도 빠져있고, 인코딩 된 이름으로 보내진다!
				// ajax에서 디코딩해서 처리함으로 인코딩 된거 보내줘야한다.
				
				//테이블의 태그에 넣은 타겟파일 이름을 통해서 ajax 처리하기
				$(".attachDrawingFileImgTag").each(function(i,obj){
		                var target = $(obj);
		                var targetFile = target.data("file");
		                //console.log("어디 여러개니까 이렇게 읽나 보자 : ",targetFile);
		                
		                $.ajax({
			                url: '/procurement1/drawing/removeFile',
			                data: {fileName: targetFile},
			                dataType:'text',
			                type: 'POST',
			                success: function(result){
			                	//console.log("성공한거지? ",result);
			                }
			            }); //$.ajax
				});
	           
				window.location.href = '/procurement1/materialList';
			});	
			
			//-------------------------------------- 코드생성 부분 --------------------------------------------------------------//
			
			//코드생성 버튼 누를때, -> 코드생성 안내 모달창 보여주기
			$(document).on("click","#materialcodeGenerateBtn",function(e){
				console.log("코드생성 버튼 누름");
				
				//대분류코드 값들 전부 읽어서 리스트에 담기
				var allLCCodeList = document.querySelectorAll(".largeCategoryCode");
				let allLCCodevalue = new Array();
				
				allLCCodeList.forEach(function(item){
					//console.log("대분류코드 값들 보자",item.value);
					allLCCodevalue.push(item.value);
				});
				console.log("대분류코드 값들...",allLCCodevalue);
				
				//중분류코드 값들 전부 읽어서 리스트에 담기
				var allMCCodeList = document.querySelectorAll(".middleCategoryCode");
				let allMCCodevalue = new Array();
				
				allMCCodeList.forEach(function(item){
					//console.log("대분류코드 값들 보자",item.value);
					allMCCodevalue.push(item.value);
				});
				console.log("중분류코드 값들...",allMCCodevalue);
				
				//Ajax에 보내기 위한, 위에 코드들 List<MiddleCategoryDTO> 만들어서 담기
				let middleCategoryDTOSendList = new Array();
				
				for(var i=0; i<allLCCodevalue.length;i++){
					let MCDTO = new Object();
					MCDTO.largeCode = allLCCodevalue[i];
					MCDTO.middleCode = allMCCodevalue[i];
					middleCategoryDTOSendList.push(MCDTO);
				}
				console.log("어디 보낼 MCDTO리스트 값 보자 : ",middleCategoryDTOSendList);
				
				//Json 타입으로 변환시키기
				var changeJsonData = JSON.stringify(middleCategoryDTOSendList);	
				console.log("객체리스트 Json 타입으로 변환 제대로 된건가?? : ",changeJsonData);
				
				
				//대분류코드, 중분류코드를 보내서 품목코드를 생성해준 값을 받아오는 Ajax처리
				//materialDTO리스트 형식으로 받아옴
				$.ajax({
					type : "post" ,
					url : "/procurement1/generateMaterialCode" ,     		//꼭 절대경로로! /붙이기 // .json 넣으면 응답을 json으로 함!
					data : changeJsonData ,                					//보내는 데이터!(요청 데이터)
					contentType :"application/json; charset=UTF-8" ,  		//보내는 데이터 형식 (전송 데이터,요청데이터)
					dataType : "json" ,							 			//받아오는 데이터 형식 (응답데이터) text, json, xml -생략시는 content type을 보고 자동처리
					success : function(data){        						//가져오는 데이터! (응답데이터)
					//console.log("받아온 데이터 : ",data);
					
					//1. 생성한 품목코드 -> 품목코드 리스트에 담기
					let codeList = new Array();
					
					for(var i=0; i<data.length; i++){
						codeList.push(data[i].code);
					}
					//console.log("코드리스트 안만들어지나?",codeList);
				
					
					//2. 입력받은 품목명 -> 품목명 리스트에 담기
					let nameList = new Array();
					$('.materialName').each(function(){
						let name = $(this).val();
						//console.log("이거 잘 code 읽어온건가!!",name);
						if(name != ""){ 			//빈값이 아닐때, 값이 존재하면
						nameList.push(name);
						}   	
					});
					
					//3. 각각의 품목코드,품목명 리스트 -> 객체(품목코드,품목명) 리스트에 담기
	    			let codenameList = new Array();
	    			
	    			for(var i = 0; i<codeList.length; i++){
	    				let codenameObj = new Object();
	    				codenameObj.code = codeList[i];
	    				codenameObj.name = nameList[i];
	    				codenameList.push(codenameObj);
	    			} 
					
					//html에 넣어줄 문장과,쉽게 넣어줄 함수 만들기
					let sentence = ``;
	    			
					function makeSentence(code,name){
						let sentence =`<span>품목명 : ${name},&nbsp;&nbsp; 품목코드 : ${code}</span><br>`;
						return sentence;    				
					}
					
					//품목명이 기입되어 있을때만! 품목코드 생성한것 넣어주기!
					//품목명 리스트 길이가 0이면 -> 품목명 기입하고 와라! 창 띄어주기
					if(nameList.length==0){
						document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `품목코드 생성 안내`;
						
						sentence = `<span>품목명이 누락되어있습니다.</span><br>
									<span>품목명과 그 외 항목들을 기입 후, 코드생성 버튼을 눌러주세요.</span>`;
						
						document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;	
						$(".materialInfoAndErrorModal").modal('show'); 
						
					}else{	 //품목명 리스트 길이 1이상일때, 품목명 기입되어있을때, 품목코드 값 넣어주기
						//품목코드 생성해서 받아온 품목코드 리스트를, 테이블의 품목코드 값에 넣어주기
						var inputMaterialCodeList = document.querySelectorAll(".materialCode");
											
						for(var i=0; i<data.length; i++){
							inputMaterialCodeList[i].value = data[i].code;
						}
						
						codenameList.forEach(function(item){
		   					sentence=sentence+makeSentence(item.code,item.name);
		   				});
		   				//console.log("현재까지 만들어진 문장보자",sentence);
		   									
						sentence=sentence+`<br><span>해당 품목의 품목코드가 위와 같이 생성되었습니다.</span>`;   				
						//console.log("완성된 문장보자",sentence);
						
						document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `품목코드 생성 안내`;
						document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;	
						$(".materialInfoAndErrorModal").modal('show');
					}
										
					},
					error : function(jqXHR,textStatus,errorThrown){    
						//console.log(jqXHR); 			//응답 메시지
						//console.log(textStatus); 		//"error"로 고정인듯함
						//console.log(errorThrown);					
						console.log("품목코드 생성 Ajax 에러발생~~!!!!!");						
					}
				});					
				
			});	
			
			//대분류코드 변경될때마다 처리되는 함수
			//대분류코드 변경됨에 따라 중분류코드 바꿔주기 위한 함수
			$(document).on("change",".largeCategoryCode",function(){
				let selectedLCCode = $(this).val();
				//console.log("선택된 대분류 코드 : ",selectedLCCode); 
				
				//console.log("text 값 테스트1 : ",$(this).text()); 
				//-> 그해당 셀렉트의 모든 값을 가져온다.
				
				//지금 변하는 것의 td의 다음 td에서 중분류 클래스 찾기 -> 여기에 넣을 option 만들어서 넣기
				var middleCategoryCodeOptions = getObj().nextElementSibling.querySelector('.middleCategoryCode');
				//console.log("중분류 select",middleCategoryCodeOptions);
				
				/*
				//선택된 대분류코드
				let selectedLCCode = $(".largeCategoryCode > option:selected").val();
				let selectedLCName = $(".largeCategoryCode > option:selected").text();
				console.log("선택된 대분류 코드 : ",selectedLCCode);
				console.log("선택된 대분류 이름 : ",selectedLCName);
				*/				
				
				//대분류코드로 중분류리스트 찾는 Ajax처리
				$.ajax({
					type : "post" ,
					url : "/procurement1/getMiddleCategoryByLargeCategory" ,     	//꼭 절대경로로! /붙이기 // .json 넣으면 응답을 json으로 함!
					data : selectedLCCode ,                							//보내는 데이터!(요청 데이터)
					contentType :"text/plain; charset=UTF-8" ,  					//보내는 데이터 형식 (전송 데이터,요청데이터)
					dataType : "json" ,							 					//받아오는 데이터 형식 (응답데이터) text, json, xml -생략시는 content type을 보고 자동처리
					success : function(data){        								//가져오는 데이터! (응답데이터)
						//console.log("받아온 데이터 : ",data);
						//console.log("json 리스트 사이즈 보자 : ",data.length);
						
						//data를 이용해서, 중분류 셀렉트 옵션에 넣을 옵션들 -> html 만들기
						let completeHtml =``;    	
								
						data.forEach(function(item){
							completeHtml = completeHtml + makeOption(item.middleCode,item.middleCategory);							
						});						
						//console.log("완성된 html 보자",completeHtml);								
						
						/*
						//완성된 옵션들은 기존의 중분류코드 셀렉트에 바꿔주기
						$("#middleCategoryCode option").remove();
						$("#middleCategoryCode").append(completeHtml);		
						*/
						middleCategoryCodeOptions.innerHTML = completeHtml;
						
					},
					error : function(jqXHR,textStatus,errorThrown){    
						//console.log(jqXHR); 			//응답 메시지
						//console.log(textStatus); 		//"error"로 고정인듯함
						//console.log(errorThrown);	
						console.log("대분류코드를 이용해서 중분류리스트 가져오는데 Ajax 오류 발생!!!!!!");
					}
				});	
			});
			
			//-------------------------------------- 파일업로드 부분 --------------------------------------------------------------//
			
			//첨부 버튼을 눌렀을때의 해당 tr을 넣어주기 위한 tr 전역변수 선언
			//(첨부한 도면이미지를 원래 테이블에 넣어주기위해)
			var attachDrawingFileTR = new Object();
			
			
			//도면이미지 첨부버튼 클릭할때 -> 도면 첨부 모달창 보여주기
			$(document).on("click",".attachBtn",function(e){
				//클릭한 행의 정보 전역변수에 세팅해주기
				attachDrawingFileTR = getObjTR();
				//모달창 열기전에, 기존에 넣어진 값들 초기화 세팅해주기(input file값,li 값)
				var str = `<h3 id="h3Text">파일을 업로드 해주세요.</h3>`;
				document.querySelector(".uploadResult ul").innerHTML = str;
				$(".custom-file-label").html("도면 Image 첨부하기");
				$(".drawingUploadModal").modal('show');					
			});
			
			var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
	        var maxSize = 10485760; //10MB
			
	        //파일의 확장여부 체크하는 함수(파일종류,크기)
	        function checkExtension(fileName, fileSize){
	            if(fileSize >= maxSize){
	                //alert("파일 사이즈 초과");
	                document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `도면 Image 첨부 확인`;
					sentence = `<span>파일 사이즈가 초과되었습니다.</span>`;
           			document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;					
					$(".materialInfoAndErrorModal").modal('show');   
					
					$(".custom-file-label").html("도면 Image 첨부하기");
	                return false;
	            }
	            if(regex.test(fileName)){
	                //alert("해당 종류의 파일은 업로드할 수 없습니다.");
	                document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `도면 Image 첨부 확인`;
					sentence = `<span>해당 종류의 파일은 업로드할 수 없습니다.</span>`;
           			document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;					
					$(".materialInfoAndErrorModal").modal('show');   
					
					$(".custom-file-label").html("도면 Image 첨부하기");
	                return false;
	            }
	            return true;
	        }
	        
	        //input file이 변할때, 파일확장 체크해서 업로드 하기
	        $(".custom-file-input").on("change", function(e) {
	        	console.log("인풋 체인지 함수 시작");
	        	console.log("e.target.files 보자 : ",e.target.files);
 				//console.log("e.dataTransfer.files 보자 : ",e.dataTransfer.files);		//이건 값을 못읽어 에러 뜸
	        	
	        	var isExist = document.getElementsByClassName('liUpload');        		//썸네일 넣은 li,
	        	if(isExist.length==0){													//현재 개수 0개!, 업로드 가능
	 				console.log("인풋 체인지 함수에서!! li 길이가 0개~~~~~~~~~");
	        		console.log("$(this).val() 이게 도대체 모야? 체인지 함수 클릭할때 값 읽어보자 : ",$(this).val()); 	// C:\fakepath\테이블정의서ver4.xlsx
	        		console.log("그리고 인풋 체인지 함수에서 그자체 읽어보자 $(this) : ",$(this));
	        		
	 				var fileName = $(this).val().split("\\").pop();
					//console.log("인풋 체인지 함수의 fileName : ",fileName);
		            //$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		            $(this).siblings(".custom-file-label").html(fileName);
		 				
	 				var formData = new FormData();
	 	            var inputFile = $(this);
	 	            //console.log("인풋 체인지 함수에서!! inputFile : ",inputFile);
					//var files = inputFile[0].files;
	 	            
					var files = e.target.files;
	 				//console.log("인풋 체인지 함수에서!! files : ",files);
	 				if(files===e.target.files){
	 					console.log("이거 값 같은지 보자! 이러면 완전 같은거야~~")
	 				}
	 	            var appended = false;

	 	            for (var i = 0; i < files.length; i++) {
	 	                if(!checkExtension(files[i].name, files[i].size) ){
	 	                    return false;
	 	                }
	 					//console.log("인풋 체인지 함수의 files[i] : ",files[i]);
	 	                formData.append("uploadFile", files[i]);
	 	                appended = true;
	 	            }

	 	            //upload를 하지 않는다.
	 	            if (!appended) {return;}

	 	            for (var value of formData.values()) {
	 	                console.log("인풋 체인지 함수의 value of formData.values() : ",value);
	 	            }

	 	            //실제 업로드 부분
	 	            //upload ajax
	 	            $.ajax({
	 	                url: '/procurement1/drawing/uploadAjax',
	 	                processData: false,
	 	                contentType: false,
	 	                data: formData,
	 	                type: 'POST',
	 	                dataType:'json',
	 	                success: function(result){
	 						console.log("인풋 체인지 함수의 Ajax 결과 : ",result);
	 	                    if(result.image){	//image 일때 아닐때, 
	 	                    	showResultByImage(result);
	 	                    }else{
	 	                    	showResultByNoImage(result);
	 	                    }
	 	                    //원래 테이블의 파일이름에 만든 파일이름 넣어주기
	 	                    var drawingFile = result.drawingFile;
	 	                    //console.log("파일이름 잘 읽어오나 보자 : ",drawingFile);
	 	                    //console.log("테이블의 input값 제대로 넣기 전 : ",attachDrawingFileTR.querySelector("input[name=drawingFile]").value);
							attachDrawingFileTR.querySelector("input[name=drawingFile]").value = drawingFile;
							//console.log("테이블의 input값 제대로 넣고 난 후 : ",attachDrawingFileTR.querySelector("input[name=drawingFile]").value);
	 	                },
	 	                error: function(jqXHR, textStatus, errorThrown){
	 	                    console.log("인풋 체인지 함수의 Ajax 에러",textStatus);
	 	                }
	 	            }); //$.ajax
	 			}else{													//현재 개수 1개 이상으로, 이미 업로드한게 있음!
	 				console.log("현재 인풋 체인지 함수에서 li 길이가 1개 이상!!~~~~~~~~~");
	 				e.preventDefault();
	 				document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `도면 Image 첨부 확인`;
					sentence = `<span>파일 1개만 첨부할 수 있습니다.</span>`;
           			document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;					
					$(".materialInfoAndErrorModal").modal('show');   
	 			}
	        }); //$(".custom-file-input") change 끝
	        
	        //input file이 클릭할때!!! 1개만 파일 업로드 할수 있게 막기!
	        $(".custom-file-input").on("click", function(e) {
	        	console.log("인풋 클릭 함수 시작");
	     		//썸네일 넣은 li의 개수를 이용하여, 1개만 파일 업로드 하게 만들기
	        	var isExist = document.getElementsByClassName('liUpload');        		//썸네일 넣은 li,
	        	if(isExist.length>0){													//현재 개수 1개 이상으로, 이미 업로드한게 있음!
	 				console.log("현재 인풋 클릭 함수에서 li 길이가 1개 이상!!~~~~~~~~~");
	 				e.preventDefault();
	 				document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `도면 Image 첨부 확인`;
					sentence = `<span>파일 1개만 첨부할 수 있습니다.</span>`;
           			document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;					
					$(".materialInfoAndErrorModal").modal('show');   
	 			}
	        }); //$(".custom-file-input") click 끝
	        
	        //Ajax 업로드처리한 결과 이용해서, 썸네일 보여주는 함수 / 이미지 파일 일때
	        function showResultByImage(uploadResult){
	            var uploadUL = $(".uploadResult ul");
	            //console.log("showResult 함수안에서 테스트 중~ : ",uploadResult.fileName);
	            //console.log("showResult 함수안에서 테스트 중~ : ",uploadResult.drawingFile);
	            
	           //파일을 업로드 해주세요. 글귀 지우기 
	           $("#h3Text").text("");
	           //ul에 넣을 li 만들기
				var str ="";
				str += "<li class='liUpload' data-name='" + uploadResult.fileName + "' data-path='"+uploadResult.folderPath+"' data-uuid='"+uploadResult.uuid+"' data-file=\'" + uploadResult.imageURL + "\' >";
				str + " <div>";
				str += "<button type='button' data-file=\'" + uploadResult.imageURL + "\' ";
				str += "class='btn-warning btn-sm'>X</button><br>";
				str += "<img class='attachDrawingFileThumbImg' src='/procurement1/drawing/display?fileName=" + uploadResult.thumbnailURL + "'>";
				str += "</div>";
				str + "</li>";
				uploadUL.append(str);
                //var strTest = `<span> 입력 테스트중이야~ </span>`;
	            //document.querySelector(".uploadResult ul").innerHTML = str;
	        } //showResultByImage(uploadResult) 함수 끝
	        
	        //Ajax 업로드처리한 결과 이용해서, 썸네일 보여주는 함수 / 이미지 파일 아닐때
	        function showResultByNoImage(uploadResult){
	            var uploadUL = $(".uploadResult ul");
	            //console.log("showResult 함수안에서 테스트 중~ : ",uploadResult.fileName);
	            //console.log("showResult 함수안에서 테스트 중~ : ",uploadResult.drawingFile);
	            
	           //파일을 업로드 해주세요. 글귀 지우기 
	           $("#h3Text").text("");
	           //ul에 넣을 li 만들기
	            var str ="";
                str += "<li class='liUpload' data-file=\'" + uploadResult.imageURL + "\' >";
                str + " <div>";
                str += "<button type='button' data-file=\'" + uploadResult.imageURL + "\' ";
                str += "class='btn-warning btn-sm'>X</button><br>";
                str += "<img class='attachDrawingFileThumbImg' src='/picture/thumb_document.jpg'>";
                str += "</div>";
                str + "</li>";
	            uploadUL.append(str);
	        } //showResultByNoImage(uploadResult) 함수 끝
			
	        //썸네일 보여준 div에서, X버튼 클릭하면, 업로드된 파일 삭제하고, 원래대로 보여주기
	        $(".uploadResult ").on("click", "li button", function(e){
	            console.log("li의 X삭제 버튼 누름");
	            var targetFile = $(this).data("file");
				console.log("li 버튼 누를때 targetFile : ",targetFile);
	            var targetLi = $(this).closest("li");
				//console.log("li 버튼 누를때 targetLi : ",targetLi);
				//console.log("테이블의 input값 초기화 하기 전 : ",attachDrawingFileTR.querySelector("input[name=drawingFile]").value);
	            $.ajax({
	                url: '/procurement1/drawing/removeFile',
	                data: {fileName: targetFile},
	                dataType:'text',
	                type: 'POST',
	                success: function(result){
	                    targetLi.remove();
	                    checkLi();
	                    
	                    //테이블에 셋팅해 놓은 input drawingFile의 값 초기화 시키기
	                    attachDrawingFileTR.querySelector("input[name=drawingFile]").value = "";
	                    //console.log("테이블의 input값 초기화 한 후 : ",attachDrawingFileTR.querySelector("input[name=drawingFile]").value);
	                }
	            }); //$.ajax  
	        });
	        
	        //업로드할 파일을 다 지우면(liUpload 클래스가 하나도 없으면), 
	        //파일을 업로드 해주세요. 글귀 넣기 + 도면 Image 첨부하기 글귀 넣기
	    	function checkLi() {
	    		var isExist = document.getElementsByClassName('liUpload');
	 	        //console.log("모라고 찍힐까????",isExist);
	 	        //console.log("그럼 길이를 찍어보자!!!",isExist.length); 	        
	 			if(isExist.length==0){
	 				$("#h3Text").text("파일을 업로드 해주세요.");
	 				$(".custom-file-label").html("도면 Image 첨부하기");
	 			}
	    	} //checkLi 함수 끝
	        
	    	//드래그 앤 드랍 시작!! 
	        var holder = document.getElementById("holder");
	        var boxing = document.getElementById("boxing");

	        //파일을 마우스로 드래그over, 드래그leave 할때, 보여주는 박스의 스타일설정하는 함수
	        function fileDragDrop(event){        	
	        	event.stopPropagation();
	        	event.preventDefault();
	        	if (event.type == "dragover"){ // Drag Over        		
	        		//event.target.style.border = '5px dashed #c00';
	        		//holder.style.border = '5px dashed #c00';
	        		boxing.style.border = '5px dashed #c00';
	        	}else{  // File Drop        		
	        		//event.target.style.border = '';
	        		//holder.style.border = '';
	        		boxing.style.border = '';
	        	}
	        } //fileDragDrop 함수 끝
			
	        //파일을 드랍했을때, Ajax 처리 되면서 업로드하게 하는 함수
	        function fileUpload(e){        	
	        	e.stopPropagation();
	        	e.preventDefault();
	        	fileDragDrop(e); // (e.type != "dragover") 캔슬을위해 [여기서 별도로 작업해줘도 상관없음]
	        	
	        	//썸네일 넣은 li의 개수를 이용하여, 1개만 파일 업로드 하게 만들기
	        	var isExist = document.getElementsByClassName('liUpload');        		//썸네일 넣은 li,
	 			if(isExist.length==0){													//현재 개수 0개!, 업로드 가능
	 				console.log("드래그엔 드롭에서!! li 길이가 0개~~~~~~~~~");
	 				var files = e.target.files || e.dataTransfer.files; 
	 				console.log("e.target.files 보자 : ",e.target.files);
	 				console.log("e.dataTransfer.files 보자 : ",e.dataTransfer.files);
		        	var formData = new FormData();
		            var appended = false;
		            
		            for (var i = 0; i < files.length; i++) {
		                if(!checkExtension(files[i].name, files[i].size) ){
		                    return false;
		                }
		                //console.log(files[i]);
		                formData.append("uploadFile", files[i]);
		                appended = true;
		            }

		            //upload를 하지 않는다.
		            if (!appended) {return;}

		            for (var value of formData.values()) {
		                //console.log("value of formData.values() 이거야 어디 보자",value);
		            }

		            //실제 업로드 부분
		            //upload ajax
		            $.ajax({
		                url: '/procurement1/drawing/uploadAjax',
		                processData: false,
		                contentType: false,
		                data: formData,
		                type: 'POST',
		                dataType:'json',
		                success: function(result){
		                    //console.log(result);
		                    if(result.image){
		                    	showResultByImage(result);
		                    }else{
		                    	showResultByNoImage(result);
		                    }
		                    //input의 html에 파일이름 넣어주기(+ 클래스에 selected 추가??)
		                    //document.querySelector(".custom-file-label").classList.add("selected");
		                    $(".custom-file-label").html(result.fileName);
		                    
		                    //원래 테이블의 파일이름에 만든 파일이름 넣어주기
		                    var drawingFile = result.drawingFile;
		                    //console.log("파일이름 잘 읽어오나 보자 : ",drawingFile);
		                    //console.log("테이블의 input값 제대로 넣기 전 : ",attachDrawingFileTR.querySelector("input[name=drawingFile]").value);
							attachDrawingFileTR.querySelector("input[name=drawingFile]").value = drawingFile;
							//console.log("테이블의 input값 제대로 넣고 난 후 : ",attachDrawingFileTR.querySelector("input[name=drawingFile]").value);
		                },
		                error: function(jqXHR, textStatus, errorThrown){
		                    console.log(textStatus);
		                }
		            }); //$.ajax 
	 			}else{																	//현재 개수 1개 이상으로, 이미 업로드한게 있음!
	 				console.log("드래그엔 드롭에서!! li 길이가 1개 이상!!~~~~~~~~~");
	 				e.preventDefault();
	 				document.querySelector("#materialInfoAndErrorModalTitle").innerHTML = `도면 Image 첨부 확인`;
					sentence = `<span>파일 1개만 첨부할 수 있습니다.</span>`;
           			document.querySelector("#materialInfoAndErrorModalContent").innerHTML = sentence;					
					$(".materialInfoAndErrorModal").modal('show');   
	 			}
	        } //fileUpload 함수 끝
	        
	        holder.addEventListener("dragover", fileDragDrop);  //마지막 옵션 생략가능 기본값false
	        holder.addEventListener("dragleave", fileDragDrop);
	        holder.addEventListener("drop", fileUpload);  
	    	//드래그 앤 드랍 끝!! 

	        //도면 첨부 모달창의 확인버튼 누를때 -> 첨부버튼을 지우고, 썸네일 보여주기
	        $(".drawingUploadConfirmBtn").on("click", function(e) {
	        	console.log("도면 첨부 모달창의 확인버튼 누름");
				e.preventDefault();
				var attachDrawingFileThumbImg = $(".attachDrawingFileThumbImg").attr("src");
				//console.log("이거 같아 이미지 src 읽는거!!!!! : ",attachDrawingFileThumbImg);
				var targetFile = $(".uploadResult li").data("file");
				//console.log("타겟파일 제대로 읽어오나 보자 : ",targetFile);
				var str = `<img src='`+attachDrawingFileThumbImg+`' data-file=\'` + targetFile + `\' class='attachDrawingFileImgTag'>`;
				//console.log("넣으려는 행값 제대로 가져오나 보자 : ",attachDrawingFileTR);
				attachDrawingFileTR.querySelector(".attachDrawingFile").innerHTML = str;
				
				$(".drawingUploadModal").modal('hide');
	        });
	        
			//도면 첨부 모달창의 취소버튼 + 모달창 x 누를때 -> 업로드한 파일 지워주기
	        $(".drawingUploadCancelBtn").on("click", function(e) {
	        	console.log("도면 첨부 모달창의 취소버튼 or 상단의 X 버튼 누름");
				e.preventDefault();
				//var drawingFile = attachDrawingFileTR.querySelector("input[name=drawingFile]").value;
				//받아온 파일이름 = 저장한 파일이름 ->  \PassionCode\upload\drawing\2023\06\22\b7f997f2-afff-43fa-bff9-3e1564fa1b9d_문서아이콘.jpg
				//ajax 삭제할대 줘야하는 파일이름 -> 2023%2F06%2F22%2Fb7f997f2-afff-43fa-bff9-3e1564fa1b9d_%EB%AC%B8%EC%84%9C%EC%95%84%EC%9D%B4%EC%BD%98.jpg
				// \PassionCode\upload\drawing 경로도 빠져있고, 인코딩 된 이름으로 보내진다!
				// ajax에서 디코딩해서 처리함으로 인코딩 된거 보내줘야한다.
				var targetFile = $(".uploadResult li").data("file");
				//console.log("모야모야 제대로 읽어오는거니? ",targetFile);
				
				//값이 만들어 진게 있을때에만 Ajax처리 가능하게 하자! 
				var lengthCheck = $(".uploadResult li").length;
				if(lengthCheck>0){
					console.log("현재 길이 1개 이상이야 만든거 있어~ 갯수는 : ",lengthCheck);
					$.ajax({
		                url: '/procurement1/drawing/removeFile',
		                data: {fileName: targetFile},
		                dataType:'text',
		                type: 'POST',
		                success: function(result){
		                	//console.log("성공한거지? ",result);
		                	$(".uploadResult li").remove();
		                    checkLi();
		                    
		                    //테이블에 셋팅해 놓은 input drawingFile의 값 초기화 시키기
		                    attachDrawingFileTR.querySelector("input[name=drawingFile]").value = "";
		                    //console.log("테이블의 input값 초기화 한 후 : ",attachDrawingFileTR.querySelector("input[name=drawingFile]").value);
		                }
		            }); //$.ajax 
				}
				
				
	        });
			
			
			
		
		});
		
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		//대분류 리스트 타임리프 포문으로 안되서! 변수로 바꿔주기
		let LargeCategoryDTOList = [[${LargeCategoryDTOList}]];    	
    	let LCDTOList = new Array();
    	
    	LargeCategoryDTOList.forEach(function(item){
    		let LCDTO = new Object();
    		LCDTO.code = item.code;
    		LCDTO.category = item.category;
    		LCDTOList.push(LCDTO);
    	});    	
    	//console.log("대분류 전체 리스트 확인",LCDTOList);
    	
    	//code와 category 값을 넣어서 option 만들기
    	function makeOption(code,category){
    		return `<option value=${code}>${category}</option>`;
    	};    
    	
    	//option 넣어서, 넣어야할 대분류 html 문장 만들기
    	function makeLCHtml(option){
    		let temp_html = `<td>
					 			<select style="width:100%; border: 0; text-align: center;" class="largeCategoryCode" name="largeCategoryCode">
									${option}
								</select>
							</td>`;
			return temp_html;
    	}
		
    	//넣어야할 option을 한 문장으로 만들기
    	let LCoptionList = ``;
    	
    	LCDTOList.forEach(function(item){
    		LCoptionList=LCoptionList+(makeOption(item.code,item.category));
    	});    	    	
    	//console.log("합친 대분류 option",LCoptionList);       		
    	
    	//최종적으로 만들어진 대분류 옵션 html 문장
    	//console.log("최종 합친 대분류 옵션 전체 문장",makeLCHtml(LCoptionList));
    	
    
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    	
    	//중분류 리스트 타임리프 포문으로 안되서! 변수로 바꿔주기
		let MiddleCategoryDTOList = [[${MiddleCategoryDTOList}]];        	
    	let MCDTOList = new Array();
    	
    	MiddleCategoryDTOList.forEach(function(item){
    		let MCDTO = new Object();
    		MCDTO.middleCode = item.middleCode;
    		MCDTO.middleCategory = item.middleCategory;
    		MCDTOList.push(MCDTO);
    	});    	
    	//console.log("중분류 전체 리스트 확인",MCDTOList);
    			
    	//넣어야할 option을 한 문장으로 만들기
    	let MCoptionList = ``;
    	
    	MCDTOList.forEach(function(item){
    		MCoptionList=MCoptionList+(makeOption(item.middleCode,item.middleCategory));
    	});    	    	
    	//console.log("합친 중분류 option",MCoptionList);       		
    	
    	//option 넣어서, 넣어야할 대분류 html 문장 만들기
    	function makeMCHtml(option){
    		let temp_html = `<td>
					 			<select style="width:100%; border: 0; text-align: center;" class="middleCategoryCode" name="middleCategoryCode">
									${option}
								</select>
							</td>`;
			return temp_html;
    	}
    	
    	//최종적으로 만들어진 중분류 옵션 html 문장
    	//console.log("최종 합친 중분류 옵션 전체 문장",makeMCHtml(MCoptionList));
    	
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    	
    	//이벤트 발생한 요소의 상위의 TD 객체 찾기
        function getObj(){
            var obj = event.srcElement
            while (obj.tagName !='TD'){  //TD가 나올때까지의 Object추출
                obj = obj.parentElement
            }
            return obj
        }
    	
    	//이벤트 발생한 요소의 상위의 TR 객체 찾기
        function getObjTR(){
            var obj = event.srcElement
            while (obj.tagName !='TR'){  //TR가 나올때까지의 Object추출
                obj = obj.parentElement
            }
            return obj
        }
	    
	    //등록추가 + 버튼 누를때, 행 추가
	    document.getElementById('addRow').addEventListener('click', () => {
		    console.log("등록 추가 버튼 누름")
		    	
	    	// table element 찾기
	    	const table = document.getElementById('registerTable');
	    	console.log("가져온 table 정보",table)
	    	
	    	// 새 행(Row) 추가
	    	const new_row = table.insertRow();
	    	
	    	// Cell의 길이
	    	const cell_length = table.rows[1].cells.length;
	    	console.log("Cell의 길이",cell_length)    	
	    	
	    	//각 Cell html 작성 및, 행에 추가
	    	for(let i = 0; i < cell_length; i++) {
	            const new_cell = new_row.insertCell(i);
	            let temp_html = ``;
	            if(i === 0) {
					temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="name" class="materialName"></td>`;
	            }else if(i === 1) {
	            	temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="size"></td>`;
	            }else if(i === 2) {
	            	temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="quality"></td>`;
	            }else if(i === 3){
	            	temp_html = `<td><input type="text" style="width:100%; border: 0; text-align: center;" name="spec"></td>`;
	            }else if(i === 4){
	            	temp_html = `<td>
									<input type="text" style="width:100%; border: 0; text-align: center;" name="drawingNo">
									<input type="hidden" name="drawingFile">
								</td>`;
	            }else if(i === 5){
	            	temp_html = `<td> 
		            				<div class="attachDrawingFile">
					            		<button type="button" class="btn btn-primary attachBtn" style=" padding-left: 10px;padding-right: 10px;">
											첨부
										</button>
									</div>
	            				</td>`;
	            }else if(i === 6){
	            	temp_html = `<td>
				        			<select style="width:100%; border: 0; text-align: center;" name="shareStatus">
					    				<option value='공용'>공용</option>
					    				<option value='전용'>전용</option>
					    			</select>											
					    		</td>`;
	            }else if(i === 7){
	            	temp_html = makeLCHtml(LCoptionList);
	            }else if(i === 8){
	            	temp_html = makeMCHtml(MCoptionList);
	            }else if(i === 9){
                   temp_html = `<td>
			                	    <input type="text" style="width:100%; border: 0; text-align: center;" name="code" class="materialCode" readonly>
								</td>`;
	            }else{
	            	temp_html = `<td>
				    				<button type="button" class="btn btn-primary tr_delete" style="width:106px; height:40px;" onclick="tr_delete_event(this)">
				    					삭제 &nbsp;&nbsp;-
			    					</button>
					    		</td> `;
	            }
	            new_cell.insertAdjacentHTML('beforeend', temp_html);
	        }
	    	
	    	const tdBtn = document.getElementsByClassName('tr_delete');
			//console.log("td버튼 클래스 잘 읽어오나",tdBtn);
			
			const tdtest = $(tdBtn).parent('td');
			//console.log("어디보자,,td읽어오나,,,,",tdtest);
	    	
	    });
	    
	    //삭제 - 버튼 누를때, 행 삭제 + 테이블에 추가했던 업로드했던 이미지파일 삭제하기
	    const tr_delete_event = (btn) => {
	    	//console.log("이렇게도 값을 읽나??",$(".attachDrawingFileImgTag"));
	    	//console.log("이렇게도 값을 읽나?? 그럼 길이는??",$(".attachDrawingFileImgTag").length);
	    	
	    	//위에서보면(길이로 체크할때) 애초에 첨부파일에 넣은게 없으면 $(".attachDrawingFileImgTag")가 만들어지지 않아서(길이가 0),
	    	//별도로 ajax에 없는값 보내는게 신경쓸 필요가 없음!, 없으면 애초에 밑에꺼가 실행이 안됨!
			//테이블의 태그에 넣은 타겟파일 이름을 통해서 ajax 처리하기
			$(".attachDrawingFileImgTag").each(function(i,obj){
	                var target = $(obj);
	                //console.log("target 읽어보자! : ",target);
	                var targetFile = target.data("file");
	                //console.log("어디 여러개니까 이렇게 읽나 보자 : ",targetFile);
	                
	                $.ajax({
		                url: '/procurement1/drawing/removeFile',
		                data: {fileName: targetFile},
		                dataType:'text',
		                type: 'POST',
		                success: function(result){
		                	//console.log("성공한거지? ",result);
		                }
		           }); //$.ajax
			});
			
			const table = document.getElementById('registerTable');
			const row_index = btn.closest('tr').rowIndex;
			table.deleteRow(row_index);
			console.log("테이블의 행 추가한거 삭제 버튼 누름");
			
    	};	    
    	
    	
    	
    	
    	
		
		</script>
		
	</th:block>
</th:block>
</html>