<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">

		<div class="col-md-12 stretch-card">
			<!-- 수정 부분 시작 -->
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">조달 계획 수정</p> 
					<br>
					<form th:action = "@{/procurement1/procurementPlanModify}" th:method="post" id="ppModifyForm">
						<div class="table-responsive" style="margin-bottom: 10px;">
							<!-- 테이블 시작 -->
								<table class="table table-bordered" id="ppRegisterTable" style="text-align: center;">
									<thead>
										<tr>
											<th width="9%">조달계획<br>코드</th>
											<th width="9%">품목코드</th>
											<th width="9%">품목명</th>
											<th width="11%">소요공정</th>
											<th width="9%">소요일</th>
											<th width="7%">소요량</th>
											<th>협력회사</th>
											<th>조달납기<br>예정일</th>
											<th>최소<br>발주일</th>
											<th width="9%">필요수량</th>
											<!-- 계약상태 / 조달계획 등록상태 / 조달계획 진행사항 -->
											<!-- 조달계획코드, 자재소요계획코드, 사업자등록번호, 계약서번호 // 기본 여유기간 -->
										</tr>
									</thead>
									<tbody>	
										<tr th:each="dto : ${procurementPlanDTOList}" >	
											<td>
												<input type="text" style="width:100%; border: 0; text-align: center;" name="ppCodeStr" class="ppCodeStr" th:value="${dto.ppCodeStr}" readonly>
												<input type="hidden" name="ppCode" th:value="${dto.ppCode}" >
											</td>							
											<td>
												<input type="text" style="width:100%; border: 0; text-align: center;" name="materialCode" class="materialCode" th:value="${dto.materialCode}" readonly>
												<input type="hidden" name="mrpCode" th:value="${dto.mrpCode}">
												<input type="hidden" name="contractStatus" value="완료">
												<input type="hidden" name="ppRegisterStatus" value="완료">
												<input type="hidden" name="ppProgress" value="발주 예정">
											</td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="materialName" class="materialName" th:value="${dto.materialName}" readonly></td>
											<td><input type="text" style="width:100%; border: 0; text-align: center;" name="process" class="process" th:value="${dto.process}" readonly></td>
											<td><input type="date" style="width:100%; border: 0; text-align: center;" name="mrpDate" class="mrpDate" th:value="${#dates.format(dto.mrpDate, 'yyyy-MM-dd')}" readonly></td>
											<td><input type="number" style="width:100%; border: 0; text-align: center;" name="mrpAmount" class="mrpAmount" th:value="${dto.mrpAmount}" readonly></td>
											<td>
												<div class="row" style="margin-left: 0px;" >
													<button type="button" class="btn btn-primary btn-rounded btn-icon contractSearchBtn" style="float:right" >
														<i class="mdi mdi-magnify"></i>
													</button>
													<input type="hidden" name="companyNo" class="companyNo" th:value="${dto.companyNo}" >
													<input type="hidden" name="contractNo" class="contractNo" th:value="${dto.contractNo}">
													<input type="hidden" name="freePeriod" class="freePeriod" th:value="${dto.freePeriod}" >
													<input type="text" style="float:left; width:65%; border: 0; text-align: center;" name=companyName class="companyName" th:value="${dto.companyName}" readonly>
												</div>
											</td>
											<td>
												<input type="hidden" name="supplyLt" class="supplyLt" th:value="${dto.supplyLt}">
												<input type="date" style="width:100%; border: 0; text-align: center;" name="dueDate" class="dueDate" th:value="${#dates.format(dto.dueDate, 'yyyy-MM-dd')}" readonly>
											</td>
											<td><input type="date" style="width:100%; border: 0; text-align: center;" name="minimumOrderDate" class="minimumOrderDate" th:value="${#dates.format(dto.minimumOrderDate, 'yyyy-MM-dd')}" readonly></td>
											<td><input type="number" style="width:100%; border: 0; text-align: center;" name="ppAmount" class="ppAmount" th:value="${dto.ppAmount}" readonly></td>											
										</tr>
									</tbody>
								</table>
							<!-- 테이블 끝 -->
						</div>
						<div>						
							<!-- 등록확인, 등록취소 버튼 시작 -->						
							<button class="btn btn-primary" style="float:right;" onclick="location.href='/procurement1/procurementPlanList'" type="button">
								수정취소
							</button>
							<button class="btn btn-primary" style="margin-right:10px; float:right;" type="submit" id="ppModifyBtn">
								수정확인
							</button>										
							<!-- 등록확인, 등록취소 버튼 끝 -->
						</div>	
					</form>								
				</div>
			</div>
		</div>
		
		<!-- 계약서 찾기 모달창 시작 -->
		<div class="contractSearchModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">계약서 찾기</h5>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                    	<div class="row">
                    		<div style="margin-bottom:10px; margin-left:15px; margin-right:10px">
                    			기본 여유기간 <br>
                    			(소요일-조달납기 예정일)
                    		</div>
                    		<div style="margin-left:10px; margin-top:5px;">
                    			<input type="number" name="freePeriod" value="2" id="freePeriodSetting" style="width:45px; text-align: center;"> 일
                    		</div>
                    	</div>
                    
                    	<div class="table-responsive" style="margin-bottom: 10px;">
							<!-- 테이블 시작 -->
							<table class="table table-bordered" id="searchContractListTable" style="text-align:center;">
								<thead>
									<tr>
										<th width="11%">계약서<br>번호</th>
										<th width="18%">협력회사</th>
										<th width="11%">담당자</th>
										<th>담당자<br>연락처</th>
										<th width="11%">품목 공급<br>LT</th>
										<th width="9%">단가</th>
										<th>거래조건</th>
										<th></th>  
									</tr>
								</thead>
								<tbody id="searchContractListModal">
									<!-- 검색한 회사 리스트 보여줄 공간 -->
						
								</tbody>
							</table>
							<!-- 테이블 끝 -->
						</div>    
                    	   
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 계약서 찾기 모달창 끝 -->
				
		<!-- 수정확인 모달창 시작-->
		<div class="ppModifyConfirmModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">조달 계획 수정 확인</h5>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="ppModifyConfirmModalContent">
                    	<!-- 조달계획 등록 확인할 내용 -->    
                    	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary ppModifyConfirmBtn" style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	취소
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 수정확인 모달창 끝 -->
		
		<!-- 
			오류시 보여줄 모달창 시작
			1. 수정확인 모달창의 오류시
				- 제목 : 조달 계획 수정 확인
				- 내용 : 1. <span>변경된 사항이 없습니다.</span><br>
					   		<span>다시 작성해주시길 바랍니다.</span>
		-->
		<div class="ppInfoAndErrorModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">조달 계획 수정 확인</h5>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">   
                    	<span>변경된 사항이 없습니다.</span><br>
				   		<span>다시 작성해주시길 바랍니다.</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 오류시 보여줄 모달창 끝 -->
		
		
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script th:inline="javascript">
		
		
		$(document).ready(function(){
			//-------------------------------------- 계약서 찾기 버튼 부분 --------------------------------------------------------------//
			
			//계약서 찾으려고 검색한 tr을 넣어주기 위한 tr 전역변수 선언
			var searchContractTR = new Object();
			//console.log("tr 전역변수 만들고 난 값 : ",searchContractTR);			
			
			//계약서(협력회사) 찾기 버튼 누를때 -> 협력회사 찾기 모달창 보여주기
			$(document).on("click",".contractSearchBtn",function(){
				console.log("계약서 찾기 버튼 누름");
				//계약서 찾기 버튼 누르고 난 후 해당 TR의 값 세팅해주기
				searchContractTR=getObjTR();
				//console.log("계약서 찾기 버튼 누르고 난 후 해당 TR의 값 세팅 : ",searchContractTR);
				
				//검색 버튼위의 td위에 tr을 통해서 품목코드 찾기 -> 즉 검색버튼 누른 행에서 품목코드 찾기
				//위에서 셋팅 해놓은 searchContractTR 이용하기
				var materialCode = searchContractTR.querySelector("input[name=materialCode]").value;	
				//console.log("품목코드 : ",materialCode);
				
				//품목코드로 계약서 찾는 ajax처리
				$.ajax({
					type : "post" ,
					url : "/procurement1/contractSearch" ,     			//꼭 절대경로로! /붙이기 // .json 넣으면 응답을 json으로 함!
					data : materialCode ,                				//보내는 데이터!(요청 데이터)
					contentType :"text/plain; charset=UTF-8" ,  		//보내는 데이터 형식 (전송 데이터,요청데이터)
					dataType : "json" ,							 		//받아오는 데이터 형식 (응답데이터) text, json, xml -생략시는 content type을 보고 자동처리
					success : function(data){        					//가져오는 데이터! (응답데이터)
						//console.log("품목코드로 계약서 찾는 ajax에서 받아온 데이터 : ",data);
						//console.log("json 리스트 사이즈 보자 : ",data.length);
						
						//data를 이용해서, 모달창에 넣을 tr 행 html 만들기
						let completeHtml =``;    	
						
						//계약이 완료된 품목을 조달계획등록 할수 있기때문에, 품목코드로 검색해서 계약서를 찾을때! 받아온 데이터가 없을 수가 없다!!						
						data.forEach(function(item){
							completeHtml = completeHtml + makeContractSearchList(item.companyNo,item.contractNo,item.contractNoStr,item.companyName,item.manager,item.managerTel,item.supplyLt,item.unitPrice,item.dealCondition);						
						});						
						//console.log("완성된 html 보자",completeHtml);	
						
						//시작 태그 바로 뒤에, 계약서 찾기 모달창 -> 본문에 html 넣기
						//document.querySelector("#searchContractListModal").insertAdjacentHTML('afterbegin', completeHtml);	
						document.querySelector("#searchContractListModal").innerHTML = completeHtml;	
						
						//계약서 찾기 모달 창 보여주기
						$(".contractSearchModal").modal('show');							
						
					},
					error : function(jqXHR,textStatus,errorThrown){    //검색어 입력 안했을 시!
						//console.log(jqXHR); 			//응답 메시지
						//console.log(textStatus); 		//"error"로 고정인듯함
						//console.log(errorThrown);	
						console.log("계약서 찾기 ajax 오류 발생~!!!");
					}
				});	//$.ajax
			});	//계약서(협력회사) 찾기 버튼 누를때 끝
			
			//console.log("세팅이 된 TR 값 유지중인지 체크 : ",searchContractTR);
			
			//계약서 찾기 모달창안에 선택 버튼 누를때
			$(document).on("click",".contractSelectBtn",function(){
				console.log("선택 버튼 누름");
				//console.log("그러면 이건 읽겠지?",getObjTR());
				//console.log("계약서 찾기 버튼 -> 선택버튼 누르고 난 후도 초기의 TR의 값 유지중인지 : ",searchContractTR);
				
				//선택된 계약서의 정보 각각 읽기
				var contractNo = getObjTR().querySelector("input[name=contractNo]").value;
				var companyNo = getObjTR().querySelector("input[name=companyNo]").value;
				var companyName = getObjTR().querySelector("input[name=companyName]").value;
				var supplyLt = getObjTR().querySelector("input[name=supplyLt]").value;
				var freePeriod = document.querySelector("input[id=freePeriodSetting]").value;
				//console.log("선택한 계약서번호 : ",contractNo);
				//console.log("선택한 사업자번호 : ",companyNo);
				//console.log("선택한 회사 이름 : ",companyName);
				//console.log("선택한 품목공급LT : ",supplyLt);
				//console.log("선택한 기본여유기간 : ",freePeriod);	
				
				//원래 조달계획 등록 테이블에서 소요일, 소요량 읽어오기
				var mrpDate = searchContractTR.querySelector("input[name=mrpDate]").value;
				var mrpAmount = searchContractTR.querySelector("input[name=mrpAmount]").value;
				console.log("읽어온 소요일 : ",mrpDate);
				console.log("읽어온 소요량 : ",mrpAmount);
								
				//선택한 계약서의 정보 -> 원래 조달계획 등록 테이블에 넣어주기
				searchContractTR.querySelector("input[name=contractNo]").value = contractNo;
				searchContractTR.querySelector("input[name=companyNo]").value = companyNo;
				searchContractTR.querySelector("input[name=companyName]").value = companyName;
				searchContractTR.querySelector("input[name=supplyLt]").value = supplyLt;
				searchContractTR.querySelector("input[name=freePeriod]").value = freePeriod;		
				searchContractTR.querySelector("input[name=ppAmount]").value = mrpAmount;	
				
				//console.log("모달창에서 선택을 누른 후에도 세팅이 된 TR 값 유지 중인가? : ",searchContractTR);				
				//console.log("눌렀던 tr에서 input값 읽어보자 : ",searchContractTR.querySelector("input[name=companyNo]").value);
				
				//보내는 데이터 3개(소요일, 기본여유기간, 품목공급LT) -> procurementDTO 객체로 읽게 json 처리 해주기
				var procurementDTOObj = {};
				procurementDTOObj.mrpDate = mrpDate;
				procurementDTOObj.freePeriod = freePeriod;
				procurementDTOObj.supplyLt = supplyLt;
				//console.log("자바스크립트로 만든 객체 한번 봐보자 : ",procurementDTOObj);		//procurementDTOObj 자바스크립트 객체
				var changeJsonData = JSON.stringify(procurementDTOObj);					//procurementDTOObj 자바스크립트 객체를 json포맷으로 변경
				//console.log("변경된 제이슨 타입 데이터 보자 : "+changeJsonData);
				
				//소요일, 기본여유기간, 품목공급LT 를 주고 조달납기예정일, 최소발주일 계산된 값을 받아오는 ajax처리
				$.ajax({
					type : "post" ,
					url : "/procurement1/procurementPlanCalculate" ,     			//꼭 절대경로로! /붙이기 // .json 넣으면 응답을 json으로 함!
					data : changeJsonData ,                					//보내는 데이터!(요청 데이터)
					contentType :"application/json; charset=UTF-8" ,  	//보내는 데이터 형식 (전송 데이터,요청데이터)
					dataType : "json" ,							 		//받아오는 데이터 형식 (응답데이터) text, json, xml -생략시는 content type을 보고 자동처리
					success : function(data){        					//가져오는 데이터! (응답데이터)
					//console.log("받아온 데이터 : ",data);
					
					//계산해서 받아온, 조달납기예정일,최소발주일 -> 원래 조달계획 테이블에 넣어주기
					//받아온 날짜 형식 -> 2023-06-23T00:00:00.000+00:00
					//넣어줘야하는 날짜 형식 -> 2023-06-23
					//substring(0,10) 이용해서 날짜형식 맞춰주기 
					searchContractTR.querySelector("input[name=dueDate]").value = data.dueDate.substring(0,10);		
					searchContractTR.querySelector("input[name=minimumOrderDate]").value = data.minimumOrderDate.substring(0,10);	
					
					//console.log("넣어준 날짜 확인해보자 : ",searchContractTR.querySelector("input[name=dueDate]").value);
					
					},
					error : function(jqXHR,textStatus,errorThrown){    
						//console.log(jqXHR); 			//응답 메시지
						//console.log(textStatus); 		//"error"로 고정인듯함
						//console.log(errorThrown);					
						console.log("조달납기예정일, 최소발주일 계산 ajax 에러발생~~!!!!!");						
					}
				});	//$.ajax
				//console.log("값이 제대로 바뀌었나? : ",searchContractTR.querySelector("input[name=companyNo]").value);
				
				//그리고 자동으로 모달창 닫아주기
				$(".contractSearchModal").modal('hide');			
				
				//닫기 전에, 기본여유기간 기본값은 2로 다시 셋팅해주기
				document.querySelector("input[id=freePeriodSetting]").value = 2;
				
				//선택하고 창 닫기 전에 원래 조달계획 등록 테이블에 값들 어떻게 되어있는지 보자
				//console.log("선택하고 창 닫기 전에 원래 조달계획 등록 테이블에 값들 어떻게 되어있는지 보자");
				//console.log("어디!! 계약서 번호 : ", searchContractTR.querySelector("input[name=contractNo]").value);
				//console.log("어디!! 사업자등록번호 : ", searchContractTR.querySelector("input[name=companyNo]").value);
				//console.log("어디!! mrp코드 : ", searchContractTR.querySelector("input[name=mrpCode]").value);
				//console.log("어디!! 소요량 : ", searchContractTR.querySelector("input[name=mrpAmount]").value);
				//console.log("어디!! 소요일 : ", searchContractTR.querySelector("input[name=mrpDate]").value);
				//console.log("어디!! 품목공급LT : ", searchContractTR.querySelector("input[name=supplyLt]").value);
				//console.log("어디!! 필요수량 : ", searchContractTR.querySelector("input[name=ppAmount]").value);
				//console.log("어디!! 조달납기예정일 : ", searchContractTR.querySelector("input[name=dueDate]").value);
				//console.log("어디!! 최소발주일 : ", searchContractTR.querySelector("input[name=minimumOrderDate]").value);
				console.log("어디!! 기본여유기간 : ", searchContractTR.querySelector("input[name=freePeriod]").value);
			});	//계약서 찾기 모달창안에 선택 버튼 누를때 끝
			
			//-------------------------------------- 수정확인, 수정확인 모달창의 확인 버튼 부분 --------------------------------------------------------------//
						
			//수정확인 버튼 누를때 -> 수정확인 모달창 보여주기
			//변경된 사항이 없을때!!! -> 변경된 내용이 없습니다. 다시 작성해주시길 바랍니다 모달창 보여주기
			$(document).on("click","#ppModifyBtn",function(e){
				console.log("수정확인 버튼 누름");
				//1. 버튼 이벤트(submit)금지
    			e.preventDefault();				
				
				//2. 원래의 조달계획 속성값들 : 계약서번호(협력회사명), 기본여유기간(조달납기예정일,최소발주일,필요수량 파악가능) -> 리스트로 만들기
				// vs 입력받은 조달계획 속성값들 : 계약서번호(협력회사명), 기본여유기간(조달납기예정일,최소발주일,필요수량 파악가능) -> 리스트로 만들기
				// 두개를 비교하여, 변경된 값이 하나도 없으면!! 수정된 내용이 없다는 안내 모달창 보여주기
				// 번거롭게 각각 리스트로 만들지 말고! ProcurementPlanDTO 객체로 만들어 담고, 이걸 리스트로 담아주자!
				
				//원래의 조달계획 속성값들 리스트
				//값은 잘읽어오는데, 만약에 없는 값들을 null로 받아오기때문에, 입력받아온 값들은 없으면 "" 빈값으로 읽기 때문에 비교가 두개가 당연히 다르다고 읽는다!
				// 받아온 값들이 null 일 경우 "" 빈값으로 바꿔주자! --> 하지만 여기선 null인 경우가 없어! 
				let originalPPDTOList = [[${procurementPlanDTOList}]];
				console.log("원래의 originalPPDTOList 보자!!!!! : ",originalPPDTOList);
				
				//입력받은 수정된 조달계획 속성값들 리스트
				let modifyPPDTOList = new Array();
				for(var i=0; i<originalPPDTOList.length; i++){
					let modifyPPDTO = new Object();
					modifyPPDTO.contractNo = document.querySelectorAll(".contractNo")[i].value;  //contractNo 클래스는 원래 테이블에만 있어
					modifyPPDTO.freePeriod = document.querySelectorAll(".freePeriod")[i].value;	 //freePeriod 클래스도 원래 테이블에만 있어
					modifyPPDTOList.push(modifyPPDTO);
				}
				console.log("입력받은 수정된 modifyPPDTOList 보자!!!!! : ",modifyPPDTOList);
				
				//값이 하나라도 변하지 않을때, 그 횟수를 더해주자!
				//값이안변한 갯수 = originalPPDTOList.length  ==> 전부가 하나도 값이 안변한거야!! -> 하나도 변한값 없어~ 모달창 보여주기
				var noChangeCount = 0;
				
				for(var i=0; i<originalPPDTOList.length; i++){
					if(originalPPDTOList[i].contractNo == modifyPPDTOList[i].contractNo &&
							originalPPDTOList[i].freePeriod == modifyPPDTOList[i].freePeriod){
						//console.log("지금 "+i+"번째 항목이 다 같은 경우야!!!!");
						noChangeCount = noChangeCount +1; 
					}
				}
				console.log("최종적으로 값이 안변한 갯수 보자 : ", noChangeCount);
				console.log("전체 계약서 속성리스트의 크기 : ",originalPPDTOList.length);
				
				if(noChangeCount == originalPPDTOList.length){	//값이 하나도 변한게 없어!!! -> 안내 모달창 보여주자!
					//수정확인 버튼 오류 모달창 보여주기
					$(".ppInfoAndErrorModal").modal('show');
				}else{													//변경된 것이 있으니까!!  -> 원래대로 수정확인 모달창 보여주기
					//3. 받은 originalPPDTOList의 조달계획코드,품목명을 이용해서,수정확인 모달창에 보여줄 한문장으로 만들기
	    			function makeSentence(ppCodeStr,materialName){
	    				let sentence =`<span>조달계획 코드 : ${ppCodeStr},&nbsp;&nbsp; 품목명 : ${materialName}</span><br>`;
	    				return sentence;    				
	    			}
					
	    			let sentence = ``;
	    			originalPPDTOList.forEach(function(item){
	   					sentence=sentence+makeSentence(item.ppCodeStr,item.materialName);
	   				});
	   				sentence=sentence+`<br><span>해당 조달계획을 수정 하시겠습니까?</span>`;   				
	   				//console.log("완성된 문장보자",sentence);
	   				
	   				//4. 완성된 문장을 모달창 넣어서 수정여부 물어보기
	   				document.querySelector("#ppModifyConfirmModalContent").innerHTML = sentence;
	   				//수정확인 모달창 보여주기
					$(".ppModifyConfirmModal").modal('show');	
				} //if
			});	//수정확인 버튼 누를때 끝
			
			//수정확인 모달창의 확인 버튼 누를때
			$(document).on("click",".ppModifyConfirmBtn",function(e){
				e.preventDefault();					
				//폼태그에 실어서 등록하기
				$("#ppModifyForm").submit();
				//그리고 자동으로 모달창 닫아주기
				$(".ppModifyConfirmModal").modal('hide');				
			});	
						
			
			
		});	//$(document).ready(function() 끝	
		
    	
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		
		//모달창에 들어가는 테이블 tr 행 만들기(검색한 계약서 리스트 보여줄 tr html)
		function makeContractSearchList(companyNo,contractNo,contractNoStr,companyName,manager,managerTel,supplyLt,unitPrice,dealCondition){
			return `<tr>									
						<td>
							<input type="hidden" name="companyNo" value=${companyNo} >
							<input type="hidden" name="contractNo" value=${contractNo} >
							<input type="text" style="width:100%; border: 0; text-align: center;" name="contractNoStr" value=${contractNoStr} readonly>
						</td>
						<td><input type="text" style="width:100%; border: 0; text-align: center;" name="companyName" value=${companyName} readonly></td>
						<td><input type="text" style="width:100%; border: 0; text-align: center;" name="manager" value=${manager} readonly></td>
						<td><input type="text" style="width:100%; border: 0; text-align: center;" name="managerTel" value=${managerTel} readonly></td>
						<td><input type="text" style="width:100%; border: 0; text-align: center;" name="supplyLt" value=${supplyLt} readonly></td>
						<td><input type="text" style="width:100%; border: 0; text-align: center;" name="unitPrice" value=${unitPrice} readonly></td>
						<td><input type="text" style="width:100%; border: 0; text-align: center;" name="dealCondition" readonly value=${dealCondition} ></td>
						<td>
							<button type="button" class="btn btn-primary contractSelectBtn" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
								선택
							</button>
						</td> 
					</tr>`;
		}
		
    	//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
		    	
    	//이벤트 발생한 요소의 상위의 TD 객체 찾기
        function getObj(){
            var obj = event.srcElement
            while (obj.tagName !='TD'){  //TD가 나올때까지의 Object추출
                obj = obj.parentElement
            }
            return obj
        }
    	
      	//이벤트 발생한 요소의 상위의 TR 객체 찾기
        function getObjTR(){
            var obj = event.srcElement
            while (obj.tagName !='TR'){  //TR가 나올때까지의 Object추출
                obj = obj.parentElement
            }
            return obj
        }
	    
		    	
    	 	
    	
		
		</script>
		
	</th:block>
</th:block>
</html>