<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">


<style>
.search-box {
	position: relative;
	float: right;
}

.search-box input {
	height: 34px;
	border-radius: 20px;
	padding-left: 35px;
	border-color: #ddd;
	box-shadow: none;
}

.search-box input:focus {
	border-color: #3FBAE4;
}

.search-box i {
	color: #a0a5b1;
	position: absolute;
	font-size: 19px;
	top: 8px;
	left: 10px;
}

.pagination {
	float: right;
	margin: 0 0 5px;
}

.pagination li a {
	border: none;
	font-size: 95%;
	width: 30px;
	height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 30px !important;
	text-align: center;
	padding: 0;
}

.pagination li a:hover {
	color: #666;
}

.pagination li.active a {
	background: #03A9F4;
}

.pagination li.active a:hover {
	background: #0397d6;
}

.pagination li.disabled i {
	color: #ccc;
}

.pagination li i {
	font-size: 16px;
	padding-top: 6pxrow
}

.hint-text {
	float: left;
	margin-top: 6px;
	font-size: 95%;
}
</style>


		<div class="col-md-12 stretch-card">
			<!-- 수정 부분 시작 -->
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">조달 계획 등록</p> 
					<br>
					<div class="row" style="margin-bottom: 5px;">
						<!-- 목록 내려보기 시작 -->
						<div class="col-md-6"> 
							<form>
								<div style="display:inline-block;">
									<select class="custom-select mr-sm-2"  style="display:inline-block;">
										<option selected>검색 조건 선택</option>
										<option value="1">품목코드</option>
										<option value="2">품목명</option>
										<option value="3">협력회사</option>
										<option value="4">소요일</option>
									</select>
								</div> 
								&nbsp;	
								<input type="text" style="width: 150px; height: 40px; display:inline-block;" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
								&nbsp;
								<div style="display:inline-block;"> 
									<button class="btn btn-primary" style="display:inline-block;">검색</button>
								</div>
							</form>
						</div> 
						<!-- 목록 내려보기 끝 -->
						
						<!-- 등록, 수정, 삭제 버튼 시작 -->
						<div class="col-md-6" >	
							<form style="float:right;" th:action = "@{/procurement1/procurementPlanDelete}" th:method="post" id="ppDeleteForm">
								<input type="hidden" name="ppCodeList" >
								<button class="btn btn-primary" id="ppDeleteBtn" type="submit">삭제</button>
							</form>
							<form style="float:right;" th:action = "@{/procurement1/procurementPlanModify}" th:method="get" id="ppModifyForm">
								<input type="hidden" name="ppCodeList" >
								<button class="btn btn-primary" id="ppModifyBtn" type="submit" style="margin-right:10px">수정</button>
							</form>
							<form style="float:right;" th:action = "@{/procurement1/procurementPlanRegister}" th:method="get" id="ppRegisterForm">
								<input type="hidden" name="mrpCodeList" >
								<button class="btn btn-primary" id="ppRegisterBtn" type="submit" style="margin-right:10px">등록</button>
							</form>
						</div>
						<!-- 등록, 수정, 삭제 버튼 끝 -->
					</div>	
					<div class="table-responsive">
						<!-- 테이블 시작 -->
						<table id="recent-purchases-listing" class="table" style="text-align: center;">
							<thead>
								<tr>
									<th></th>
									<th style="display:none;">조달계획 코드</th>
									<th style="display:none;">조달계획 코드ver.문자</th>
									<th>품목코드</th>
									<th>품목명</th>
									<th>소요공정</th>
									<th>소요일</th>
									<th>소요량</th>
									<th>협력회사</th>
									<th>조달납기<br>예정일</th>
									<th>최소<br>발주일</th>
									<th>필요<br>수량</th>
									<th>계약<br>상태</th>
									<th>조달계획<br>등록상태</th>
									<th>조달계획<br>진행사항</th>
								</tr>
							</thead>
							<tbody>			
								<tr th:each="dto : ${DTOList}">
									<td><input type="checkbox" name="checkBox" th:value="${dto.mrpCode}" onclick="chkClicked(); getContractStatusPPStatusPPProgress();"></td>
									<td style="display:none;">[[${dto.ppCode}]]</td>
									<td style="display:none;">[[${dto.ppCodeStr}]]</td>
									<td>[[${dto.materialCode}]]</td>
									<td>[[${dto.materialName}]]</td>
									<td>[[${dto.process}]]</td>
									<td>[[${#dates.format(dto.mrpDate, 'yyyy/MM/dd')}]]</td>
									<td>[[${dto.mrpAmount}]]</td>
									<td>[[${dto.companyName}]]</td>
									<td>[[${#dates.format(dto.dueDate, 'yyyy/MM/dd')}]]</td>
									<td>[[${#dates.format(dto.minimumOrderDate, 'yyyy/MM/dd')}]]</td>
									<td>[[${dto.ppAmount}]]</td>
									<td>[[${dto.contractStatus}]]</td>
									<td>[[${dto.ppRegisterStatus}]]</td>
									<td>[[${dto.ppProgress}]]</td>
								</tr>
							</tbody>
						</table>
						<!-- 테이블 끝 -->
						<!-- 페이지 번호 시작 -->
						<div class="clearfix">
							<div class="hint-text">
								Showing <b>5</b> out of <b>25</b> entries
							</div>
							<ul class="pagination">
								<li class="page-item disabled">
									<a href="#"> 
										<< <i class="fa fa-angle-double-left"></i>
									</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">1</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">2</a>
								</li>
								<li class="page-item active">
									<a href="#" class="page-link">3</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">4</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">5</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">
										>> <i class="fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- 페이지 번호 끝 -->
					</div>					
				</div>
			</div>
		</div>
		
		<!-- 
			등록버튼+수정버튼+삭제버튼 누를때, 오류시 보여줄 모달창 시작
			-- 등록버튼 누를때
			(상황1. 계약상태 완료 + 조달계획 등록상태 미완료 => 말고 다른값을 눌렀을때)
			(상황2. 체크한게 아무것도 없을때)
			- 제목 : 조달 계획 등록
			- 내용 : 1. <span>계약상태가 <span style='color:red;'>'완료'</span>인 것과 <br> 
                    		  조달계획 등록상태가 <span style='color:red;'>'미완료'</span>인 것만 조달계획 등록이 가능합니다.</span><br>
                    	<span>다시 선택해주시길 바랍니다.</span>
					 2. <span>체크한 항목이 없습니다.</span><br>
						<span>다시 선택해주시길 바랍니다.</span>
			-- 수정버튼 누를때
			(상황1. 조달계획 등록상태 미완료 인 경우)
			(상황2. 조달계획 등록상태 완료 중에서 이미 발주 된 경우(발주예정 말고 전부)
			(상황3. 체크한게 아무것도 없을때)
			- 제목 : 조달 계획 수정
			- 내용 : 1. <span>조달계획 등록상태가 <span style='color:red;'>'완료'</span>인 것만 조달계획 수정이 가능합니다.</span><br>
                 		<span>다시 선택해주시길 바랍니다.</span>	
                     2. <span><span style='color:red;'>'발주 예정'</span>인 조달계획만 수정이 가능합니다.</span><br>
	                 	<span>다시 선택해주시길 바랍니다.</span>	
                 	 3. <span>체크한 항목이 없습니다.</span><br>
						<span>다시 선택해주시길 바랍니다.</span>	
			-- 삭제버튼 누를때
			(상황1. 조달계획 등록상태 미완료 인 경우)
			(상황2. 조달계획 등록상태 완료 중에서 이미 발주 된 경우(발주예정 말고 전부)
			(상황3. 체크한게 아무것도 없을때)
			- 제목 : 조달 계획 삭제
			- 내용 : 1. <span>조달계획 등록상태가 <span style='color:red;'>'완료'</span>인 것만 조달계획 삭제가 가능합니다.</span><br>
                 		<span>다시 선택해주시길 바랍니다.</span>	
                     2. <span><span style='color:red;'>'발주 예정'</span>인 조달계획만 삭제가 가능합니다.</span><br>
	                 	<span>다시 선택해주시길 바랍니다.</span>	
                 	 3. <span>체크한 항목이 없습니다.</span><br>
						<span>다시 선택해주시길 바랍니다.</span>				
						
		-->
		<div class="ppRMDErrorModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ppRMDErrorModalTitle"></h5>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="ppRMDErrorModalContent">  
                    	<!-- 등록 오류시 보여줄 내용 -->
                    	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 등록버튼+수정버튼+삭제버튼 누를때, 오류시 보여줄 모달창 끝 -->
		
		<!-- 삭제확인 모달창 시작-->
		<div class="ppDeleteConfirmModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">조달 계획 삭제 확인</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="ppDeleteConfirmModalContent">
                    	<!-- 조달계획 삭제 확인할 내용 -->    
                    	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary ppDeleteConfirmBtn " style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	취소
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 삭제확인 모달창 끝 -->
		
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script th:inline="javascript">
		
		//체크박스 체크한것 -> 품목코드 리스트로 만들기
		function chkClicked(){
			const chkChecked = 'input[name="checkBox"]:checked';
			const selectedEls = document.querySelectorAll(chkChecked);
	 		//console.log("체크 된것들이 어떻게 찍히나 보자 ", selectedEls);
	 		
	 		let mrpCodeList = new Array();
	 		
	 		selectedEls.forEach((el) => {
				//console.log("체크된거 어떻게 찍히나 보자", el.value);
				mrpCodeList.push(el.value);
		 	});
	 		//console.log("만들어진 리스트 보자",mrpCodeList);
	 		
	 		return mrpCodeList;
		}
		
		//체크박스 체크 한것 -> 그 해당 행의 상태확인(계약상태,조달계획등록상태,조달계획 진행사항)값 객체리스트로 만들기
		function getContractStatusPPStatusPPProgress(){
			const chkChecked = $('input[name="checkBox"]:checked');					
			var statusCheckList = new Array();
			
			// 체크된 체크박스 값을 가져온다
			chkChecked.each(function(i) {	
				// chkChecked.parent() : checkbox의 부모는 <td>이다.
				// chkChecked.parent().parent() : <td>의 부모이므로 <tr>이다.
				var tr = chkChecked.parent().parent().eq(i);
				var td = tr.children();
								
				// td.eq(0)은 체크박스 이므로  td.eq(12) -> 계약상태, td.eq(13) -> 조달계획 등록상태, td.eq(14) -> 조달계획 진행사항 ==> 객체에 담아 객체리스트에 넣어준다.
				let statusObj = new Object();
				statusObj.contractStatus = td.eq(12).text();
				statusObj.ppStatus = td.eq(13).text();
				statusObj.ppProgress = td.eq(14).text();
				statusCheckList.push(statusObj);
			});
			console.log("어디 만들어진 상태체크 리스트 봐보자 : ",statusCheckList);		
			return statusCheckList;
		}
		
		//체크박스 체크 한것 -> 그 해당 행의 조달계획코드 존재할때, 조달계획코드 리스트로 만들기
		function getPPCodeByChecked(){
			const chkChecked = $('input[name="checkBox"]:checked');			
			var ppCodeList = new Array();
			
			// 체크된 체크박스 값을 가져온다
			chkChecked.each(function(i) {	
				// chkChecked.parent() : checkbox의 부모는 <td>이다.
				// chkChecked.parent().parent() : <td>의 부모이므로 <tr>이다.
				var tr = chkChecked.parent().parent().eq(i);
				var td = tr.children();
								
				// td.eq(0)은 체크박스 이므로  td.eq(1)의 값인 조달계획코드를 리스트에 넣어준다.
				// 조달계획코드가 존재할때만 넣어주기 
				//console.log("조달계획코드 값 읽어보자 : ",td.eq(1).text());
				if(td.eq(1).text() != ""){
					ppCodeList.push(td.eq(1).text());
				}
			});
			//console.log("어디 만들어진 계약상태 리스트 봐보자 : ",contractStatusList);		
			return ppCodeList;
		}
		
		//체크박스 체크 한것 -> 그 해당 행의 조달계획코드ver.문자 존재할때, 조달계획코드ver.문자 리스트로 만들기
		function getPPCodeStrByChecked(){
			const chkChecked = $('input[name="checkBox"]:checked');			
			var ppCodeStrList = new Array();
			
			// 체크된 체크박스 값을 가져온다
			chkChecked.each(function(i) {	
				// chkChecked.parent() : checkbox의 부모는 <td>이다.
				// chkChecked.parent().parent() : <td>의 부모이므로 <tr>이다.
				var tr = chkChecked.parent().parent().eq(i);
				var td = tr.children();
								
				// td.eq(0)은 체크박스 이므로  td.eq(2)의 값인 조달계획코드ver.문자 를 리스트에 넣어준다.
				// 조달계획코드가 존재할때만 넣어주기 
				//console.log("계약서 번호 값 읽어보자 : ",td.eq(2).text());
				if(td.eq(2).text() != ""){
					ppCodeStrList.push(td.eq(2).text());
				}
			});
			//console.log("어디 만들어진 ppCodeStrList 리스트 봐보자 : ",ppCodeStrList);		
			return ppCodeStrList;
		}
		
		//체크박스 체크 한것 -> 그 해당 행의 품목명 값 리스트로 만들기
		function getMaterialName(){
			const chkChecked = $('input[name="checkBox"]:checked');			
			var materialNameList = new Array();
			
			// 체크된 체크박스 값을 가져온다
			chkChecked.each(function(i) {	
				// chkChecked.parent() : checkbox의 부모는 <td>이다.
				// chkChecked.parent().parent() : <td>의 부모이므로 <tr>이다.
				var tr = chkChecked.parent().parent().eq(i);
				var td = tr.children();
								
				// td.eq(0)은 체크박스 이므로  td.eq(4)의 값인 품목명을 리스트에 넣어준다.
				materialNameList.push(td.eq(4).text());
			});
			//console.log("어디 만들어진 materialNameList 리스트 봐보자 : ",materialNameList);		
			return materialNameList;
		}
		
		
		$(document).ready(function(){
			//-------------------------------------------- 등록 버튼 관련 -----------------------------------------------------------//
			
			//계약상태 값에 미완료 있는지 체크하기 위해, 전역변수 체크값 선언해주기
			var contractStatusValueCheck = true;		//-> 하나라도 미완료 일 경우에 false로 바꿔주기 
			console.log("계약상태 전역변수 확인하기1 : ",contractStatusValueCheck);
			//조달계획 등록상태 값에 완료 있는지 체크하기 위해, 전역변수 체크값 선언해주기
			var ppStatusValueCheck = true;		//-> 하나라도 완료 일 경우에 false로 바꿔주기 
			console.log("조달계획 등록상태 전역변수 확인하기1 : ",ppStatusValueCheck);
			//체크박스를 체크를 했는지 안했는지 체크하기 위한, 전역변수 체크값 선언해주기
			var checkBoxValueCheck = true;		//-> 하나라도 체크 안되어 있을 경우에 false로 바꿔주기 
			console.log("체크박스 체크 전역변수 확인하기1 : ", checkBoxValueCheck);
			
			//등록버튼 눌렀을때, 계약상태 완료 + 조달계획 등록상태 미완료 -> 등록가능하게!
    		$("#ppRegisterBtn").on("click",function(e){
    			//1. 버튼 이벤트(submit)금지
    			e.preventDefault();
    			
    			//2. 체크박스가 체크 된게 있는지 체크하기, 하나라도 미체크시 checkBoxValueCheck false로 바꿔주기
    			const chkChecked = 'input[name="checkBox"]:checked';
    			const selectedEls = document.querySelectorAll(chkChecked);
    			//console.log("체크 된것들이 어떻게 찍히나 보자 ", selectedEls);
    			//console.log("길이로 체크하면 되겠지? : ",selectedEls.length);
    			if(selectedEls.length==0){ 		//체크 된게 없을시 -> false 로 변경
    				checkBoxValueCheck = false;
    			}
    			console.log("등록 버튼 / 계약상태 전역변수 확인하기(체크 전) : ",contractStatusValueCheck);
    			console.log("등록 버튼 / 조달계획 등록상태 전역변수 확인하기(체크 전) : ",ppStatusValueCheck);
    			console.log("등록 버튼 / 체크박스 체크 전역변수 확인하기(체크 후) : ",checkBoxValueCheck);
    			
    			//3. 상태확인(계약상태,조달계획등록상태,조달계획 진행사항) 객체 리스트 가져와서, 
    			// 계약상태 하나라도 미완료일경우 false로 바꿔주기
    			// 조달계획 등록상태 하나라도 완료일경우 false로 바꿔주기
    			let statusCheckList = getContractStatusPPStatusPPProgress();
    			statusCheckList.forEach(function(item){
   					if(item.contractStatus=="미완료"){
   						contractStatusValueCheck = false;
   					}   
   					if(item.ppStatus=="완료"){
   						ppStatusValueCheck = false;
   					}  
   				});
    			console.log("등록 버튼 / 계약상태 전역변수 확인하기(체크한 후) : ",contractStatusValueCheck);
    			console.log("등록 버튼 / 조달계획 등록상태 전역변수 확인하기(체크한 후) : ",ppStatusValueCheck);
    			
    			//오류 모달창의 ppRMDErrorModalContent 에 넣을 내용
    			let sentence = ``;
    			
    			//4. 계약상태 + 조달계획 등록상태 전역변수가 true + 체크박스 체크전역변수가 true 일때만, 등록가능~
    			if(contractStatusValueCheck && ppStatusValueCheck && checkBoxValueCheck){		//현재 계약상태 완료+조달계획 등록상태 미완료 인것만! ->등록가능하게
    				//만든 mrp코드 리스트를 input 히든에 담기
        			$('input[name=mrpCodeList]').attr('value',chkClicked());
        			//console.log("input hidden mrpCodeList에 잘 담겼는지 보자 : ",$('input[name=mrpCodeList]').attr('value'));
        			
       				//담은거 submit으로 보내자
        			$("#ppRegisterForm").submit();
        			//그리고 체크된 값들 전부 체크 해제 해주기
					$("input:checkbox").prop("checked", false);
    			}else if(!checkBoxValueCheck){													//체크박스 선택된게 X -> 등록오류 모달창 보여주기		
    				/*
    				-- 등록버튼 누를때
						(상황1. 계약상태 완료 + 조달계획 등록상태 미완료 => 말고 다른값을 눌렀을때)
						(상황2. 체크한게 아무것도 없을때)
						- 제목 : 조달 계획 등록
						- 내용 : 1. <span>계약상태가 <span style='color:red;'>'완료'</span>인 것과 <br> 
			                    		  조달계획 등록상태가 <span style='color:red;'>'미완료'</span>인 것만 조달계획 등록이 가능합니다.</span><br>
			                    	<span>다시 선택해주시길 바랍니다.</span>
								 2. <span>체크한 항목이 없습니다.</span><br>
									<span>다시 선택해주시길 바랍니다.</span>
    				*/
    				//오류 모달창 보여주기
    				sentence = `<span>체크한 항목이 없습니다.</span><br>
								<span>다시 선택해주시길 바랍니다.</span>`;
           			document.querySelector("#ppRMDErrorModalContent").innerHTML = sentence;
           			document.querySelector("#ppRMDErrorModalTitle").innerHTML = `조달 계획 등록`;
    				
					$(".ppRMDErrorModal").modal('show');    					
					//그리고 다시 체크박스 체크 값 true로 다시 세팅해주기
					checkBoxValueCheck = true;   
    			}else if(!contractStatusValueCheck || !ppStatusValueCheck){						//체크박스 선택한것 중에 하나라도 완료 인것이 있음 -> 등록오류 모달창 보여주기
    				//오류 모달창 보여주기
    				sentence = `<span>계약상태가 <span style='color:red;'>'완료'</span>인 것과 <br> 
                    				  조달계획 등록상태가 <span style='color:red;'>'미완료'</span>인 것만 조달계획등록이 가능합니다.</span><br>
                    			<span>다시 선택해주시길 바랍니다.</span>`;
           			document.querySelector("#ppRMDErrorModalContent").innerHTML = sentence;
           			document.querySelector("#ppRMDErrorModalTitle").innerHTML = `조달 계획 등록`;
    				
					$(".ppRMDErrorModal").modal('show'); 
    				
    				//그리고 다시 계약상태,조달계획 등록상태 체크 값 true로 다시 세팅해주기
					contractStatusValueCheck = true;   
					ppStatusValueCheck = true;
					//그리고 체크된 값들 전부 체크 해제 해주기
					$("input:checkbox").prop("checked", false);
    			} //if
   			}); //등록버튼 눌렀을때 끝
			
    		//-------------------------------------------- 수정 버튼 관련 -----------------------------------------------------------//
    		
			//조달계획 등록상태 값에 미완료 있는지 체크하기 위해, 전역변수 체크값 선언해주기 -> 앞에서 선언한 것 이용
			
			//체크박스를 체크를 했는지 안했는지 체크하기 위한, 전역변수 체크값 선언해주기 -> 앞에서 선언한 것 이용
			
			//발주예정 체크 전연벽수
			var expectedPurchaseCheck = true;		//-> 발주예정을 제외한 모든 값일 경우에 false로 바꿔주기 
			console.log("발주예정 체크 전역변수 확인하기1 : ", expectedPurchaseCheck);
			
			//수정버튼 눌렀을때, 조달계획 등록상태 완료 + 발주예정 만 -> 수정 가능하게!
    		$("#ppModifyBtn").on("click",function(e){
    			//1. 버튼 이벤트(submit)금지
    			e.preventDefault();
    			
    			//2. 체크박스가 체크 된게 있는지 체크하기, 하나라도 미체크시 checkBoxValueCheck false로 바꿔주기
    			const chkChecked = 'input[name="checkBox"]:checked';
    			const selectedEls = document.querySelectorAll(chkChecked);
    			//console.log("체크 된것들이 어떻게 찍히나 보자 ", selectedEls);
    			//console.log("길이로 체크하면 되겠지? : ",selectedEls.length);
    			if(selectedEls.length==0){ 		//체크 된게 없을시 -> false 로 변경
    				checkBoxValueCheck = false;
    			}
    			console.log("수정 버튼 / 체크박스 체크 전역변수 확인하기(체크 후) : ",checkBoxValueCheck);
    			console.log("수정 버튼 / 조달계획 등록상태 전역변수 확인하기(체크 전) : ",ppStatusValueCheck);
    			console.log("수정 버튼 / 발주예정 체크 전역변수 확인하기(체크 전) : ", expectedPurchaseCheck);
    			
    			//3. 상태확인(계약상태,조달계획등록상태,조달계획 진행사항) 객체 리스트 가져와서, 
    			// 조달계획 등록상태 하나라도 미완료일경우 false로 바꿔주기
    			// 조달계획 진행사항 발주예정이 아닌 경우 false로 바꿔주기
    			let statusCheckList = getContractStatusPPStatusPPProgress();
    			statusCheckList.forEach(function(item){
   					if(item.ppStatus=="미완료"){
   						ppStatusValueCheck = false;
   					}
   					if(item.ppProgress != "발주 예정"){
   						expectedPurchaseCheck = false;
   					}
   				});
    			console.log("수정 버튼 / 조달계획 등록상태 전역변수 확인하기(체크 후) : ",ppStatusValueCheck);
    			console.log("수정 버튼 / 발주예정 체크 전역변수 확인하기(체크 후) : ", expectedPurchaseCheck);
    			
    			//오류 모달창의 ppRMDErrorModalContent 에 넣을 내용
    			let sentence = ``;
    			
    			//4. 조달계획 등록상태 전역변수가 true + 체크박스 체크전역변수가 true + 발주예정 체크 전역변수 true 일때만, 수정가능~
    			if(ppStatusValueCheck && checkBoxValueCheck && expectedPurchaseCheck){						//현재 조달계획 등록상태 완료+발주예정 인것만! ->수정가능하게
    				//만든 ppCode 리스트를 input 히든에 담기
        			$('input[name=ppCodeList]').attr('value',getPPCodeByChecked());
        			//console.log("input hidden ppCodeList에 잘 담겼는지 보자 : ",$('input[name=ppCodeList]').attr('value'));
        			
       				//담은거 submit으로 보내자
        			$("#ppModifyForm").submit();
        			//그리고 체크된 값들 전부 체크 해제 해주기
					$("input:checkbox").prop("checked", false);
    			}else if(!checkBoxValueCheck){																//체크박스 선택된게 X -> 수정오류 모달창 보여주기		
    				/*
    				-- 수정버튼 누를때
						(상황1. 조달계획 등록상태 미완료 인 경우)
						(상황2. 조달계획 등록상태 완료 중에서 이미 발주 된 경우(발주예정 말고 전부)
						(상황3. 체크한게 아무것도 없을때)
						- 제목 : 조달 계획 수정
						- 내용 : 1. <span>조달계획 등록상태가 <span style='color:red;'>'완료'</span>인 것만 조달계획 수정이 가능합니다.</span><br>
			                 		<span>다시 선택해주시길 바랍니다.</span>	
			                     2. <span><span style='color:red;'>'발주 예정'</span>인 조달계획만 수정이 가능합니다.</span><br>
				                 	<span>다시 선택해주시길 바랍니다.</span>	
			                 	 3. <span>체크한 항목이 없습니다.</span><br>
									<span>다시 선택해주시길 바랍니다.</span>	
    				*/
    				//오류 모달창 보여주기
    				sentence = `<span>체크한 항목이 없습니다.</span><br>
								<span>다시 선택해주시길 바랍니다.</span>`;
           			document.querySelector("#ppRMDErrorModalContent").innerHTML = sentence;
           			document.querySelector("#ppRMDErrorModalTitle").innerHTML = `조달 계획 수정`;
    				
					$(".ppRMDErrorModal").modal('show');    					
					//그리고 다시 체크박스 체크 값 true로 다시 세팅해주기
					checkBoxValueCheck = true;   
    			}else if(!ppStatusValueCheck){																//체크박스 선택한것 중에 하나라도 미완료 인것이 있음 -> 수정오류 모달창 보여주기
    				//오류 모달창 보여주기
    				sentence = `<span>조달계획 등록상태가 <span style='color:red;'>'완료'</span>인 것만 조달계획 수정이 가능합니다.</span><br>
                 				<span>다시 선택해주시길 바랍니다.</span>`;
           			document.querySelector("#ppRMDErrorModalContent").innerHTML = sentence;
           			document.querySelector("#ppRMDErrorModalTitle").innerHTML = `조달 계획 수정`;
    				
					$(".ppRMDErrorModal").modal('show'); 
    				
    				//그리고 다시 조달계획 등록상태 체크 값 true로 다시 세팅해주기
					ppStatusValueCheck = true;
					//그리고 체크된 값들 전부 체크 해제 해주기
					$("input:checkbox").prop("checked", false);
    			}else if(!expectedPurchaseCheck){															//체크박스 선택한것중, 완료 중, 발주예정 아닌거 -> 수정오류 모달창 보여주기
    				//오류 모달창 보여주기
    				sentence = `<span><span style='color:red;'>'발주 예정'</span>인 조달계획만 수정이 가능합니다.</span><br>
                 				<span>다시 선택해주시길 바랍니다.</span>`;
           			document.querySelector("#ppRMDErrorModalContent").innerHTML = sentence;
           			document.querySelector("#ppRMDErrorModalTitle").innerHTML = `조달 계획 수정`;
    				
					$(".ppRMDErrorModal").modal('show'); 
    				
    				//그리고 다시 발주예정 체크 값 true로 다시 세팅해주기
					expectedPurchaseCheck = true;   
					//그리고 체크된 값들 전부 체크 해제 해주기
					$("input:checkbox").prop("checked", false);
    			} //if
   			}); //수정 버튼 누를때 끝
			
    		//-------------------------------------------- 삭제 버튼 관련 -----------------------------------------------------------//
    		
			//조달계획 등록상태 값에 미완료 있는지 체크하기 위해, 전역변수 체크값 선언해주기 -> 앞에서 선언한 것 이용
			
			//체크박스를 체크를 했는지 안했는지 체크하기 위한, 전역변수 체크값 선언해주기 -> 앞에서 선언한 것 이용
			
			//발주예정 체크 전연벽수 -> 앞에서 선언한 것 이용
			
			//삭제버튼 눌렀을때, 조달계획 등록상태 완료 + 발주예정 만 -> 삭제 가능하게!
    		$("#ppDeleteBtn").on("click",function(e){
    			//1. 버튼 이벤트(submit)금지
    			e.preventDefault();
    			
    			//2. 체크박스가 체크 된게 있는지 체크하기, 하나라도 미체크시 checkBoxValueCheck false로 바꿔주기
    			const chkChecked = 'input[name="checkBox"]:checked';
    			const selectedEls = document.querySelectorAll(chkChecked);
    			//console.log("체크 된것들이 어떻게 찍히나 보자 ", selectedEls);
    			//console.log("길이로 체크하면 되겠지? : ",selectedEls.length);
    			if(selectedEls.length==0){ 		//체크 된게 없을시 -> false 로 변경
    				checkBoxValueCheck = false;
    			}
    			console.log("삭제 버튼 / 체크박스 체크 전역변수 확인하기(체크 후) : ",checkBoxValueCheck);
    			console.log("삭제 버튼 / 조달계획 등록상태 전역변수 확인하기(체크 전) : ",ppStatusValueCheck);
    			console.log("삭제 버튼 / 발주예정 체크 전역변수 확인하기(체크 전) : ", expectedPurchaseCheck);
    			
    			//3. 상태확인(계약상태,조달계획등록상태,조달계획 진행사항) 객체 리스트 가져와서, 
    			// 조달계획 등록상태 하나라도 미완료일경우 false로 바꿔주기
    			// 조달계획 진행사항 발주예정이 아닌 경우 false로 바꿔주기
    			let statusCheckList = getContractStatusPPStatusPPProgress();
    			statusCheckList.forEach(function(item){
   					if(item.ppStatus=="미완료"){
   						ppStatusValueCheck = false;
   					}
   					if(item.ppProgress != "발주 예정"){
   						expectedPurchaseCheck = false;
   					}
   				});
    			console.log("삭제 버튼 / 조달계획 등록상태 전역변수 확인하기(체크 후) : ",ppStatusValueCheck);
    			console.log("삭제 버튼 / 발주예정 체크 전역변수 확인하기(체크 후) : ", expectedPurchaseCheck);
    			
    			//오류 모달창의 ppRMDErrorModalContent 에 넣을 내용
    			let sentence = ``;
    			
    			//4. 조달계획 등록상태 전역변수가 true + 체크박스 체크전역변수가 true + 발주예정 체크 전역변수 true 일때만, 삭제가능~
    			if(ppStatusValueCheck && checkBoxValueCheck && expectedPurchaseCheck){						//현재 조달계획 등록상태 완료+발주예정 인것만! ->삭제가능하게
    				//만든 ppCode 리스트를 input 히든에 담기
        			$('input[name=ppCodeList]').attr('value',getPPCodeByChecked());
        			//console.log("삭제 버튼 / input hidden ppCodeList에 잘 담겼는지 보자 : ",$('input[name=ppCodeList]').attr('value'));
        			
        			//submit 보내기 전에, 정말로 삭제할건지, 삭제확인 모달창 보여주자
	    			//체크한 조달계획코드ver.문자리스트와 품목명리스트를 이용하여, 삭제확인 모달창 내용에 넣을 문장 만들기
	    			let materialNameList = getMaterialName();
	    			let ppCodeStrList = getPPCodeStrByChecked(); 
	    			
	    			function makeSentence(ppCodeStr,materialName){
	    				let sentence =`<span>조달계획 코드 : ${ppCodeStr},&nbsp;&nbsp; 품목명 : ${materialName}</span><br>`;
	    				return sentence;    				
	    			}
	    			
	    			for(var i=0; i<materialNameList.length; i++){
	    				sentence = sentence + makeSentence(ppCodeStrList[i],materialNameList[i]);
	    			}
	    			sentence=sentence+`<br><span>해당 조달계획을 정말로 <span style='color:red;'>'삭제'</span> 하시겠습니까?</span>`;
	    			
	    			document.querySelector("#ppDeleteConfirmModalContent").innerHTML = sentence;
		   				
	   				//삭제확인 모달창 보여주기
					$(".ppDeleteConfirmModal").modal('show');
					//그리고 체크된 값들 전부 체크 해제 해주기
					//$("input:checkbox").prop("checked", false);	//이거 지워주면, 삭제확인 모달창의 확인 버튼 누를때, 도면파일 값을 못읽는다!
    			}else if(!checkBoxValueCheck){																//체크박스 선택된게 X -> 삭제오류 모달창 보여주기		
    				/*
    				-- 삭제버튼 누를때
    				(상황1. 조달계획 등록상태 미완료 인 경우)
    				(상황2. 조달계획 등록상태 완료 중에서 이미 발주 된 경우(발주예정 말고 전부)
    				(상황3. 체크한게 아무것도 없을때)
    				- 제목 : 조달 계획 삭제
    				- 내용 : 1. <span>조달계획 등록상태가 <span style='color:red;'>'완료'</span>인 것만 조달계획 삭제가 가능합니다.</span><br>
    	                 		<span>다시 선택해주시길 바랍니다.</span>	
    	                     2. <span><span style='color:red;'>'발주 예정'</span>인 조달계획만 삭제가 가능합니다.</span><br>
    		                 	<span>다시 선택해주시길 바랍니다.</span>	
    	                 	 3. <span>체크한 항목이 없습니다.</span><br>
    							<span>다시 선택해주시길 바랍니다.</span>
    	    		*/
    				//오류 모달창 보여주기
    				sentence = `<span>체크한 항목이 없습니다.</span><br>
								<span>다시 선택해주시길 바랍니다.</span>`;
           			document.querySelector("#ppRMDErrorModalContent").innerHTML = sentence;
           			document.querySelector("#ppRMDErrorModalTitle").innerHTML = `조달 계획 삭제`;
    				
					$(".ppRMDErrorModal").modal('show');    					
					//그리고 다시 체크박스 체크 값 true로 다시 세팅해주기
					checkBoxValueCheck = true;   
    			}else if(!ppStatusValueCheck){																//체크박스 선택한것 중에 하나라도 미완료 인것이 있음 -> 삭제오류 모달창 보여주기
    				//오류 모달창 보여주기
    				sentence = `<span>조달계획 등록상태가 <span style='color:red;'>'완료'</span>인 것만 조달계획 삭제가 가능합니다.</span><br>
                 				<span>다시 선택해주시길 바랍니다.</span>`;
           			document.querySelector("#ppRMDErrorModalContent").innerHTML = sentence;
           			document.querySelector("#ppRMDErrorModalTitle").innerHTML = `조달 계획 삭제`;
    				
					$(".ppRMDErrorModal").modal('show'); 
    				
    				//그리고 다시 조달계획 등록상태 체크 값 true로 다시 세팅해주기
					ppStatusValueCheck = true;
					//그리고 체크된 값들 전부 체크 해제 해주기
					$("input:checkbox").prop("checked", false);
    			}else if(!expectedPurchaseCheck){															//체크박스 선택한것중, 완료 중, 발주예정 아닌거 -> 삭제오류 모달창 보여주기
    				//오류 모달창 보여주기
    				sentence = `<span><span style='color:red;'>'발주 예정'</span>인 조달계획만 삭제가 가능합니다.</span><br>
                 				<span>다시 선택해주시길 바랍니다.</span>`;
           			document.querySelector("#ppRMDErrorModalContent").innerHTML = sentence;
           			document.querySelector("#ppRMDErrorModalTitle").innerHTML = `조달 계획 삭제`;
    				
					$(".ppRMDErrorModal").modal('show'); 
    				
    				//그리고 다시 발주예정 체크 값 true로 다시 세팅해주기
					expectedPurchaseCheck = true;   
					//그리고 체크된 값들 전부 체크 해제 해주기
					$("input:checkbox").prop("checked", false);
    			} //if
   			}); //삭제 버튼 누를때 끝
    		
   			//삭제확인 모달창의 확인 버튼 누를때 -> 실제로 삭제되는 부분
			$(document).on("click",".ppDeleteConfirmBtn",function(e){
				e.preventDefault();	
				//담은거 submit으로 보내자
    			$("#ppDeleteForm").submit();				
				//그리고 자동으로 모달창 닫아주기
				$(".ppDeleteConfirmModal").modal('hide');				
			});	//삭제확인 모달창의 확인 버튼 누를때 끝
    		
    		
    		
    		
			
			
			
			
   		});	//$(document).ready(function() 끝
			
		
		
		</script>	
		
	</th:block>
</th:block>
</html>