<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">


<style>
.search-box {
	position: relative;
	float: right;
}

.search-box input {
	height: 34px;
	border-radius: 20px;
	padding-left: 35px;
	border-color: #ddd;
	box-shadow: none;
}

.search-box input:focus {
	border-color: #3FBAE4;
}

.search-box i {
	color: #a0a5b1;
	position: absolute;
	font-size: 19px;
	top: 8px;
	left: 10px;
}

.pagination {
	float: right;
	margin: 0 0 5px;
}

.pagination li a {
	border: none;
	font-size: 95%;
	width: 30px;
	height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 30px !important;
	text-align: center;
	padding: 0;
}

.pagination li a:hover {
	color: #666;
}

.pagination li.active a {
	background: #03A9F4;
}

.pagination li.active a:hover {
	background: #0397d6;
}

.pagination li.disabled i {
	color: #ccc;
}

.pagination li i {
	font-size: 16px;
	padding-top: 6pxrow
}

.hint-text {
	float: left;
	margin-top: 6px;
	font-size: 95%;
}
</style>


		<div class="col-md-12 stretch-card">
			<!-- 수정 부분 시작 -->
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">조달 계획 등록</p> 
					<br>
					<div class="row" style="margin-bottom: 5px;">
						<!-- 목록 내려보기 시작 -->
						<div class="col-md-6"> 
							<form>
								<div style="display:inline-block;">
									<select class="custom-select mr-sm-2"  style="display:inline-block;">
										<option selected>검색 조건 선택</option>
										<option value="1">품목코드</option>
										<option value="2">품목명</option>
										<option value="3">협력회사</option>
										<option value="4">소요일</option>
									</select>
								</div> 
								&nbsp;	
								<input type="text" style="width: 150px; height: 40px; display:inline-block;" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
								&nbsp;
								<div style="display:inline-block;"> 
									<button class="btn btn-primary" style="display:inline-block;">검색</button>
								</div>
							</form>
						</div> 
						<!-- 목록 내려보기 끝 -->
						
						<!-- 등록, 수정, 삭제 버튼 시작 -->
						<div class="col-md-6" >	
							<form style="float: right;">
								<button class="btn btn-primary" type="submit">삭제</button>
							</form>
							<form style="float: right;">
								&nbsp;&nbsp;<button type="submit" class="btn btn-primary" >수정</button>&nbsp;&nbsp;
							</form>
							<form style="float: right;" th:action = "@{/procurement1/procurementPlanRegister}" th:method="get" id="registerForm">
								<input type="hidden" name="mrpCodeList" id="mrpCodeList">
								<button class="btn btn-primary" id="registerBtn" type="submit">등록</button>
							</form>
						</div>
						<!-- 등록, 수정, 삭제 버튼 끝 -->
					</div>	
					<div class="table-responsive">
						<!-- 테이블 시작 -->
						<table id="recent-purchases-listing" class="table" style="text-align: center;">
							<thead>
								<tr>
									<th></th>
									<th>품목코드</th>
									<th>품목명</th>
									<th>소요공정</th>
									<th>소요일</th>
									<th>소요량</th>
									<th>협력회사</th>
									<th>조달납기<br>예정일</th>
									<th>최소<br>발주일</th>
									<th>필요<br>수량</th>
									<th>계약<br>상태</th>
									<th>조달계획<br>등록상태</th>
									<th>조달계획<br>진행사항</th>
								</tr>
							</thead>
							<tbody>			
								<tr th:each="dto : ${DTOList}">
									<td><input type="checkbox" name="checkBox" th:value="${dto.mrpCode}" onclick="chkClicked(); getContractStatus();"></td>
									<td>[[${dto.materialCode}]]</td>
									<td>[[${dto.materialName}]]</td>
									<td>[[${dto.process}]]</td>
									<td>[[${#dates.format(dto.mrpdate, 'yyyy/MM/dd')}]]</td>
									<td>[[${dto.mrpAmount}]]</td>
									<td>[[${dto.companyName}]]</td>
									<td>[[${#dates.format(dto.dueDate, 'yyyy/MM/dd')}]]</td>
									<td>[[${#dates.format(dto.minimumOrderDate, 'yyyy/MM/dd')}]]</td>
									<td>[[${dto.ppAmount}]]</td>
									<td>[[${dto.contractStatus}]]</td>
									<td>[[${dto.ppRegisterStatus}]]</td>
									<td>[[${dto.ppProgress}]]</td>
								</tr>
							</tbody>
						</table>
						<!-- 테이블 끝 -->
						<!-- 페이지 번호 시작 -->
						<div class="clearfix">
							<div class="hint-text">
								Showing <b>5</b> out of <b>25</b> entries
							</div>
							<ul class="pagination">
								<li class="page-item disabled">
									<a href="#"> 
										<< <i class="fa fa-angle-double-left"></i>
									</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">1</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">2</a>
								</li>
								<li class="page-item active">
									<a href="#" class="page-link">3</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">4</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">5</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">
										>> <i class="fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- 페이지 번호 끝 -->
					</div>					
				</div>
			</div>
		</div>
		
		<!-- 
			등록버튼 누를때, 오류시 보여줄 모달창 시작
			(상황1. 계약상태 완료 + 조달계획 등록상태 미완료 => 말고 다른값을 눌렀을때)
			(상황2. 체크한게 아무것도 없을때)
			- 내용 : 1. <span>계약상태가 <span style='color:red;'>'완료'</span>인 것과 <br> 
                    		  조달계획 등록상태가 <span style='color:red;'>'미완료'</span>인 것만 조달계획등록이 가능합니다.</span><br>
                    	<span>다시 선택해주시길 바랍니다.</span>
					 2. <span>체크한 항목이 없습니다.</span><br>
						<span>다시 선택해주시길 바랍니다.</span>
		-->
		<div class="ppRegisterErrorModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">조달 계획 등록</h5>
                        <button type="button" class="close AllResetSetting" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="ppRegisterErrorModalContent">  
                    	<!-- 등록 오류시 보여줄 내용 -->
                    	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 등록버튼 누를때, 오류시 보여줄 모달창 끝 -->
		
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script th:inline="javascript">
		
		//체크박스 체크한것 -> 품목코드 리스트로 만들기
		function chkClicked(){
			const chkChecked = 'input[name="checkBox"]:checked';
			const selectedEls = document.querySelectorAll(chkChecked);
	 		//console.log("체크 된것들이 어떻게 찍히나 보자 ", selectedEls);
	 		
	 		let mrpCodeList = new Array();
	 		
	 		selectedEls.forEach((el) => {
				//console.log("체크된거 어떻게 찍히나 보자", el.value);
				mrpCodeList.push(el.value);
		 	});
	 		//console.log("만들어진 리스트 보자",mrpCodeList);
	 		
	 		return mrpCodeList;
		}
		
		//체크박스 체크 한것 -> 그 해당 행의 상태확인(계약상태,조달계획등록상태)값 객체리스트로 만들기
		function getContractStatus(){
			const chkChecked = $('input[name="checkBox"]:checked');					
			var statusCheckList = new Array();
			
			// 체크된 체크박스 값을 가져온다
			chkChecked.each(function(i) {	
				// chkChecked.parent() : checkbox의 부모는 <td>이다.
				// chkChecked.parent().parent() : <td>의 부모이므로 <tr>이다.
				var tr = chkChecked.parent().parent().eq(i);
				var td = tr.children();
								
				// td.eq(0)은 체크박스 이므로  td.eq(10) -> 계약상태, td.eq(11) -> 조달계획 등록상태, 객체에 담아 객체리스트에 넣어준다.
				let statusObj = new Object();
				statusObj.contractStatus = td.eq(10).text();
				statusObj.ppStatus = td.eq(11).text();
				statusCheckList.push(statusObj);
			});
			console.log("어디 만들어진 상태체크 리스트 봐보자 : ",statusCheckList);		
			return statusCheckList;
		}
		
		$(document).ready(function(){
			
			//계약상태 값에 미완료 있는지 체크하기 위해, 전역변수 체크값 선언해주기
			var contractStatusValueCheck = true;		//-> 하나라도 미완료 일 경우에 false로 바꿔주기 
			console.log("계약상태 전역변수 확인하기1 : ",contractStatusValueCheck);
			//조달계획 등록상태 값에 완료 있는지 체크하기 위해, 전역변수 체크값 선언해주기
			var ppStatusValueCheck = true;		//-> 하나라도 완료 일 경우에 false로 바꿔주기 
			console.log("조달계획 등록상태 전역변수 확인하기1 : ",ppStatusValueCheck);
			//체크박스를 체크를 했는지 안했는지 체크하기 위한, 전역변수 체크값 선언해주기
			var checkBoxValueCheck = true;		//-> 하나라도 체크 안되어 있을 경우에 false로 바꿔주기 
			console.log("체크박스 체크 전역변수 확인하기1 : ", checkBoxValueCheck);
			
			//등록버튼 눌렀을때, 계약상태 완료 + 조달계획 등록상태 미완료 -> 등록가능하게!
    		$("#registerBtn").on("click",function(e){
    			//1. 버튼 이벤트(submit)금지
    			e.preventDefault();
    			
    			//2. 체크박스가 체크 된게 있는지 체크하기, 하나라도 미체크시 checkBoxValueCheck false로 바꿔주기
    			const chkChecked = 'input[name="checkBox"]:checked';
    			const selectedEls = document.querySelectorAll(chkChecked);
    			//console.log("체크 된것들이 어떻게 찍히나 보자 ", selectedEls);
    			//console.log("길이로 체크하면 되겠지? : ",selectedEls.length);
    			if(selectedEls.length==0){ 		//체크 된게 없을시 -> false 로 변경
    				checkBoxValueCheck = false;
    			}
    			console.log("계약상태 전역변수 확인하기(체크 전) : ",contractStatusValueCheck);
    			console.log("조달계획 등록상태 전역변수 확인하기(체크 전) : ",ppStatusValueCheck);
    			console.log("체크박스 체크 전역변수 확인하기(체크 후) : ",checkBoxValueCheck);
    			
    			//3. 상태확인(계약상태,조달계획등록상태) 객체 리스트 가져와서, 
    			// 계약상태 하나라도 미완료일경우 false로 바꿔주기
    			// 조달계획 등록상태 하나라도 완료일경우 false로 바꿔주기
    			let statusCheckList = new Array();
    			statusCheckList = getContractStatus();
    			statusCheckList.forEach(function(item){
   					if(item.contractStatus=="미완료"){
   						contractStatusValueCheck = false;
   					}   
   					if(item.ppStatus=="완료"){
   						ppStatusValueCheck = false;
   					}  
   				});
    			console.log("계약상태 전역변수 확인하기(체크한 후) : ",contractStatusValueCheck);
    			console.log("조달계획 등록상태 전역변수 확인하기(체크한 후) : ",ppStatusValueCheck);
    			
    			
    			//4. 계약상태 + 조달계획 등록상태 전역변수가 true + 체크박스 체크전역변수가 true 일때만, 등록가능~
    			if(contractStatusValueCheck && ppStatusValueCheck && checkBoxValueCheck){		//현재 계약상태 완료+조달계획 등록상태 미완료 인것만! ->등록가능하게
    				//만든 품목코드 리스트를 input 히든에 담기
        			let mrpCodeList = new Array();
        			mrpCodeList = $('input[name=mrpCodeList]').attr('value',chkClicked());
        			//console.log("이렇게 만든 리스트 되는건가?",mrpCodeList);
        			
       				//담은거 submit으로 보내자
        			$("#registerForm").submit();
    			}else if(!checkBoxValueCheck){													//체크박스 선택된게 X -> 등록오류 모달창 보여주기		
    				//오류 모달창 보여주기
    				sentence = `<span>체크한 항목이 없습니다.</span><br>
								<span>다시 선택해주시길 바랍니다.</span>`;
           			document.querySelector("#ppRegisterErrorModalContent").innerHTML = sentence;
    				
					$(".ppRegisterErrorModal").modal('show');    					
					//그리고 다시 등록체크 값 true로 다시 세팅해주기
					checkBoxValueCheck = true;   
    			}else if(!contractStatusValueCheck || !ppStatusValueCheck){						//체크박스 선택한것 중에 하나라도 완료 인것이 있음 -> 등록오류 모달창 보여주기
    				//오류 모달창 보여주기
    				sentence = `<span>계약상태가 <span style='color:red;'>'완료'</span>인 것과 <br> 
                    				  조달계획 등록상태가 <span style='color:red;'>'미완료'</span>인 것만 조달계획등록이 가능합니다.</span><br>
                    			<span>다시 선택해주시길 바랍니다.</span>`;
           			document.querySelector("#ppRegisterErrorModalContent").innerHTML = sentence;
    				
					$(".ppRegisterErrorModal").modal('show'); 
    				
    				//그리고 다시 등록체크 값 true로 다시 세팅해주기
					contractStatusValueCheck = true;   
					ppStatusValueCheck = true;
					//그리고 체크된 값들 전부 체크 해제 해주기
					$("input:checkbox").prop("checked", false);
    			}
    			
   			});
   		});	
			
		
		
		</script>	
		
	</th:block>
</th:block>
</html>