<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">


<style>
.search-box {
	position: relative;
	float: right;
}

.search-box input {
	height: 34px;
	border-radius: 20px;
	padding-left: 35px;
	border-color: #ddd;
	box-shadow: none;
}

.search-box input:focus {
	border-color: #3FBAE4;
}

.search-box i {
	color: #a0a5b1;
	position: absolute;
	font-size: 19px;
	top: 8px;
	left: 10px;
}

.pagination {
	float: right;
	margin: 0 0 5px;
}

.pagination li a {
	border: none;
	font-size: 95%;
	width: 30px;
	height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 30px !important;
	text-align: center;
	padding: 0;
}

.pagination li a:hover {
	color: #666;
}

.pagination li.active a {
	background: #03A9F4;
}

.pagination li.active a:hover {
	background: #0397d6;
}

.pagination li.disabled i {
	color: #ccc;
}

.pagination li i {
	font-size: 16px;
	padding-top: 6pxrow
}

.hint-text {
	float: left;
	margin-top: 6px;
	font-size: 95%;
}

.uploadResult {
	width: 100%;
	background-color: gray;
	margin-top: 10px;                    
}

.uploadResult ul {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	overflow: auto;                           
	height: 220px;             
}

.uploadResult ul li {
	list-style: none;
	padding: 10px;
	margin-left: 2em;
}

.uploadResult ul li img {
	width: 100px;
}
</style>


		<div class="col-md-12 stretch-card">
			<!-- 수정 부분 시작 -->
			<div class="card">
				<div class="modal-body" >
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="customFile">
						<label class="custom-file-label" for="customFile">도면 Image 첨부하기</label>
					</div>  
					<div class="box">
				
					</div>
					<div class="uploadResult" id="holder">
						<ul id="boxing">
							<h3 id="h3Text">파일을 업로드 해주세요.</h3>
						</ul>
					</div>                    	
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary drawingUploadBtn " style="padding-left:15px; padding-right:15px; width:60px;">
							확인
						</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
							취소
						</button>
					</div>
					<hr>
					원본 파일
					<div class="uploadOriginResult">
					
					</div>
					<hr>
					썸네일 파일
					<div class="uploadThumbResult">
					
					</div>
					<hr>
					삭제버튼 추가
					<div class="removeBtnAdd">
					
					</div>
					
				
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script th:inline="javascript">


		$(document).ready(function() {
			
			var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
	        var maxSize = 10485760; //10MB
			
	        //파일의 확장여부 체크하는 함수(파일종류,크기)
	        function checkExtension(fileName, fileSize){
	            if(fileSize >= maxSize){
	                alert("파일 사이즈 초과");
	                return false;
	            }
	            if(regex.test(fileName)){
	                alert("해당 종류의 파일은 업로드할 수 없습니다.");
	                return false;
	            }
	            return true;
	        }
			
	        //input file이 변할때, 파일확장 체크해서 업로드 하기
	        $(".custom-file-input").on("change", function() {
	            var fileName = $(this).val().split("\\").pop();
	            console.log("인풋 체인지 함수의 fileName : ",fileName);
	            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

	            var formData = new FormData();
	            var inputFile = $(this);
	            console.log("인풋 체인지 함수의 inputFile : ",inputFile);
	            var files = inputFile[0].files;
	            console.log("인풋 체인지 함수의 files : ",files);
	            var appended = false;

	            for (var i = 0; i < files.length; i++) {
	                if(!checkExtension(files[i].name, files[i].size) ){
	                    return false;
	                }
	                console.log("인풋 체인지 함수의 files[i] : ",files[i]);
	                formData.append("uploadFile", files[i]);
	                appended = true;
	            }

	            //upload를 하지 않는다.
	            if (!appended) {return;}

	            for (var value of formData.values()) {
	                console.log("인풋 체인지 함수의 value of formData.values() : ",value);
	            }

	            //실제 업로드 부분
	            //upload ajax
	            $.ajax({
	                url: '/procurement1/drawing/uploadAjax',
	                processData: false,
	                contentType: false,
	                data: formData,
	                type: 'POST',
	                dataType:'json',
	                success: function(result,textStatus, request){
	                    console.log("인풋 체인지 함수의 Ajax 결과 : ",result);
	                    console.log("이미지 파일 읽어오나? 이거 테스트 맞게 되나?? : ",result.image);
	                    if(result.image){
	                    	showResultByImage(result);
	                    }else{
	                    	showResultByNoImage(result);
	                    }
	                    var drawingFile = result.drawingFile;
	                    console.log("파일이름 잘 읽어오나 보자 : ",drawingFile);
	                },
	                error: function(jqXHR, textStatus, errorThrown){
	                    console.log("인풋 체인지 함수의 Ajax 에러",textStatus);
	                }
	            }); //$.ajax
	        }); //end change event
	        
	        //Ajax 업로드처리한 결과 이용해서, 썸네일 보여주는 함수 / 이미지 파일 일때
	        function showResultByImage(uploadResult){
	            var uploadUL = $(".uploadResult ul");
	            //console.log("showResult 함수안에서 테스트 중~ : ",uploadResult.fileName);
	            //console.log("showResult 함수안에서 테스트 중~ : ",uploadResult.drawingFile);
	            
	           //파일을 업로드 해주세요. 글귀 지우기 
	           $("#h3Text").text("");
	           //ul에 넣을 li 만들기
	            var str ="";
                str += "<li class='liUpload' data-name='" + uploadResult.fileName + "' data-path='"+uploadResult.folderPath+"' data-uuid='"+uploadResult.uuid+"'>";
                str + " <div>";
                str += "<button type='button' data-file=\'" + uploadResult.imageURL + "\' ";
                str += "class='btn-warning btn-sm'>X</button><br>";
                str += "<img src='/procurement1/drawing/display?fileName=" + uploadResult.thumbnailURL + "'>";
                str += "</div>";
                str + "</li>";
	            uploadUL.append(str);
	        }      
	        
	        //Ajax 업로드처리한 결과 이용해서, 썸네일 보여주는 함수 / 이미지 파일 아닐때
	        function showResultByNoImage(uploadResult){
	            var uploadUL = $(".uploadResult ul");
	            //console.log("showResult 함수안에서 테스트 중~ : ",uploadResult.fileName);
	            //console.log("showResult 함수안에서 테스트 중~ : ",uploadResult.drawingFile);
	            
	           //파일을 업로드 해주세요. 글귀 지우기 
	           $("#h3Text").text("");
	           //ul에 넣을 li 만들기
	            var str ="";
                str += "<li class='liUpload'>";
                str + " <div>";
                str += "<button type='button' data-file=\'" + uploadResult.imageURL + "\' ";
                str += "class='btn-warning btn-sm'>X</button><br>";
                str += "<img src='/procurement1/drawing/display?fileName=thumb_document.jpg'>";
                str += "</div>";
                str + "</li>";
	            uploadUL.append(str);
	        } 
			
	        //썸네일 보여준 div에서, X버튼 클릭하면, 업로드된 파일 삭제하고, 원래대로 보여주기
	        $(".uploadResult ").on("click", "li button", function(e){
	            console.log("delete file");
	            var targetFile = $(this).data("file");
	            console.log("li 버튼 누를때 targetFile : ",targetFile);
	            var targetLi = $(this).closest("li");
	            console.log("li 버튼 누를때 targetLi : ",targetLi);

	            $.ajax({
	                url: '/procurement1/drawing/removeFile',
	                data: {fileName: targetFile},
	                dataType:'text',
	                type: 'POST',
	                success: function(result){
	                    //alert(result);
	                    targetLi.remove();
	                    checkLi();
	                }
	            }); //$.ajax  
	        });
	        
	        //업로드할 파일을 다 지우면(liUpload 클래스가 하나도 없으면), 
	        //파일을 업로드 해주세요. 글귀 넣기 + 도면 Image 첨부하기 글귀 넣기
	    	function checkLi() {
	    		var isExist = document.getElementsByClassName('liUpload');
	 	        //console.log("모라고 찍힐까????",isExist);
	 	        //console.log("그럼 길이를 찍어보자!!!",isExist.length); 	        
	 			if(isExist.length==0){
	 				$("#h3Text").text("파일을 업로드 해주세요.");
	 				$(".custom-file-label").html("도면 Image 첨부하기");
	 			}
	    	}
	        
	    	//드래그 앤 드랍 시작!! 
	        var holder = document.getElementById("holder");
	        var boxing = document.getElementById("boxing");

	        //파일을 마우스로 드래그over, 드래그leave 할때, 보여주는 박스의 스타일설정하는 함수
	        function fileDragDrop(event){        	
	        	event.stopPropagation();
	        	event.preventDefault();
	        	if (event.type == "dragover"){ // Drag Over        		
	        		//event.target.style.border = '5px dashed #c00';
	        		//holder.style.border = '5px dashed #c00';
	        		boxing.style.border = '5px dashed #c00';
	        	}else{  // File Drop        		
	        		//event.target.style.border = '';
	        		//holder.style.border = '';
	        		boxing.style.border = '';
	        	}
	        }
			
	        //파일을 드랍했을때, Ajax 처리 되면서 업로드하게 하는 함수
	        function fileUpload(e){        	
	        	e.stopPropagation();
	        	e.preventDefault();
	        	fileDragDrop(e); // (e.type != "dragover") 캔슬을위해 [여기서 별도로 작업해줘도 상관없음]
	        	
	        	var files = e.target.files || e.dataTransfer.files; 
	        	
	        	var formData = new FormData();
	            var appended = false;
	            
	            for (var i = 0; i < files.length; i++) {
	                if(!checkExtension(files[i].name, files[i].size) ){
	                    return false;
	                }
	                console.log(files[i]);
	                formData.append("uploadFile", files[i]);
	                appended = true;
	            }

	            //upload를 하지 않는다.
	            if (!appended) {return;}

	            for (var value of formData.values()) {
	                console.log("value of formData.values() 이거야 어디 보자",value);
	            }

	            //실제 업로드 부분
	            //upload ajax
	            $.ajax({
	                url: '/procurement1/drawing/uploadAjax',
	                processData: false,
	                contentType: false,
	                data: formData,
	                type: 'POST',
	                dataType:'json',
	                success: function(result){
	                    console.log(result);
	                    if(result.image){
	                    	showResultByImage(result);
	                    }else{
	                    	showResultByNoImage(result);
	                    }
	                    document.querySelector(".custom-file-label").classList.add("selected");
	                    $(".custom-file-label").html(result.fileName);
	                },
	                error: function(jqXHR, textStatus, errorThrown){
	                    console.log(textStatus);
	                }
	            }); //$.ajax       	
	        }
	        holder.addEventListener("dragover", fileDragDrop);  //마지막 옵션 생략가능 기본값false
	        holder.addEventListener("dragleave", fileDragDrop);
	        holder.addEventListener("drop", fileUpload);  
	    	//드래그 앤 드랍 끝!! 
	        
	        
	        
			
			$(".drawingUploadBtn").on("click", function() {
				var formData = new FormData();
	            var inputFile = $("input[type='file']");
	            var files = inputFile[0].files;
	            for (var i = 0; i < files.length; i++) {
	                console.log("파일 올려진거... files[i] 보기",files[i]);
	                formData.append("uploadFile", files[i]);
	            }
	            
	            $.ajax({
	            	url: '/procurement1/drawing/uploadAjax',
	                processData: false,
	                contentType: false,
	                data: formData,
	                type: 'POST',
	                dataType:'json',
	                success: function(result){
	                    console.log("Ajax로 받아온 데이터 결과 값 보자 : ",result);
	                    //showResult(result);
	                    showUploadOrigin(result);
	                    showUploadThumb(result);
	                    removeBtn(result);
	                },
	                error: function(jqXHR, textStatus, errorThrown){
	                    console.log("에러일경우 그 상태 값 : ",textStatus);
	                }
	            });
			});
			
			$(".removeBtnAdd").on("click",".removeBtn", function(e) {
				var target = $(this);
		        var fileName = target.data("name");
		        var targetDiv = $(this).closest("div");
		        console.log("target.data('name') 이거 봐보자 : ",fileName);

		        $.post('/procurement1/drawing/removeFile', {fileName: fileName}, function(result){
		            console.log(result);
		            if(result === true){
		                targetDiv.remove();
		                $("#uploadOriginResultImg").remove();
		                $(".uploadThumbResultImg").remove();
		            }
		        });
			});
			
			function showUploadOrigin(dto){
            	console.log("원본파일 보여주는거에 넣은 dto어디 보자",dto);
            	console.log("원본파일 imageURL 읽어보자 : ",dto.imageURL);
            	console.log("썸네일파일 thumbnailURL 읽어보자 : ",dto.thumbnailURL);
            	var divArea = $(".uploadOriginResult");
            	
            	//divArea.append("<img src='/procurement1/display?fileName="+dto.thumbnailURL+"&size=1'>");
            	divArea.append("<img id='uploadOriginResultImg' src='/procurement1/drawing/display?fileName="+dto.imageURL+"'>");
            }
            
            function showUploadThumb(dto){
            	console.log("썸네일 보여주는 함수에 넣은 dto어디 보자",dto);
            	var divArea = $(".uploadThumbResult");
            	
            	divArea.append("<img class='uploadThumbResultImg' src='/procurement1/drawing/display?fileName="+dto.thumbnailURL+"'>");
            }
            
            function removeBtn(dto){
            	console.log("삭제버튼 추가 함수에 넣은 dto어디 보자",dto);
            	var divArea = $(".removeBtnAdd");
            	var str = "";
            	str += "<div>";
            	str += "<button class='removeBtn' data-name='"+dto.imageURL+"'>삭제</button>";
            	str += "</div>";
            	
            	divArea.append(str);
            }
            
            
            
            
            
            
		});

		</script>
		
	</th:block>
</th:block>
</html>