<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">


<style>
  table {
    width: 100%;
    border: 1px solid #444444;
    font-size: 13px;

  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }

.search-box {
	position: relative;
	float: right;
}

.search-box input {
	height: 34px;
	border-radius: 20px;
	padding-left: 35px;
	border-color: #ddd;
	box-shadow: none;
}

.search-box input:focus {
	border-color: #3FBAE4;
}

.search-box i {
	color: #a0a5b1;
	position: absolute;
	font-size: 19px;
	top: 8px;
	left: 10px;
}

.pagination {
	float: right;
	margin: 0 0 5px;
}

.pagination li a {
	border: none;
	font-size: 95%;
	width: 30px;
	height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 30px !important;
	text-align: center;
	padding: 0;
}

.pagination li a:hover {
	color: #666;
}

.pagination li.active a {
	background: #03A9F4;
}

.pagination li.active a:hover {
	background: #0397d6;
}

.pagination li.disabled i {
	color: #ccc;
}

.pagination li i {
	font-size: 16px;
	padding-top: 6pxrow
}

.hint-text {
	float: left;
	margin-top: 6px;
	font-size: 95%;
}

@media print {
    html, body { -webkit-print-color-adjust:exact; width: 210mm; height: 297mm; }
    table { page-break-inside:auto; }
    tr    { page-break-inside:avoid; page-break-after:auto; }
    thead { display:table-header-group; }
    tfoot { display:table-footer-group; }
    
    #no-print, #no-print * {
        display: none !important;
    }
    @page { margin: 0; }/* for 크롬 Headers and footers 없애기 */
}

</style>
		<div class="col-md-12 stretch-card" id="no-print">
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">자재 입고</p> 
					<br>
					<div class="row" style="margin-bottom: 5px;">
						<!-- 목록 내려보기 시작 -->
						<div class="col-md-6"> 
							<form>
								<div style="display:inline-block;">
									<select class="custom-select mr-sm-2"  style="display:inline-block;">
										<option selected>검색 조건 선택</option>
				                        <option value="1">발주서 번호</option>
				                        <option value="2">발주코드</option>
				                        <option value="3">품목코드</option>
									</select>
								</div> 
								&nbsp;	
								<input type="text" style="width: 150px; height: 40px; display:inline-block;" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
								&nbsp;
								<div style="display:inline-block;"> 
									<button type="submit" class="btn btn-primary" style="display:inline-block;">검색</button>
								</div>
							</form>
						</div> 
						<!-- 목록 내려보기 끝 -->
						
						<div class="col-md-6" >	
							<button class="td-modal btn btn-primary" id="transactionBtn" style="float: right;">거래명세서 발행</button>
						</div>
					</div>	
					
					<div class="table-responsive">
						<!-- 테이블 시작 -->
						<input type="hidden" name="materialInDTO" id="materialInDTO">
						<table id="recent-purchases-listing" class="listTable" style="text-align: center;">
							<thead>
								<tr>
									<th></th>
									<th>발주서 번호</th>
									<th>발주 코드</th>
									<th>조달납기<br>예정일</th>
									<th>품목코드</th>
									<th>품목명</th>
									<th>발주 수량</th>
									<th>입고 상태</th>
									<th>발행 상태</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="list: ${DTOList}" id="trList">
									<td><input type="checkbox" id="checkBox" name="checkBox" th:value="${list.no}"></td>
									<td><input type="hidden" name="no" th:value="${list.no}">[[${list.no}]]</td>
									<td><input type="hidden" name="code" th:value="${list.code}">[[${list.code}]]</td>
									<td><input type="hidden" name="date" th:value="${list.dueDate}">[[${#dates.format(list.dueDate, 'yyyy/MM/dd')}]]</td>
									<td><input type="hidden" name="materialCode" th:value="${list.materialCode}">[[${list.materialCode}]]</td>
									<td><input type="hidden" name="materialName" th:value="${list.materialName}">[[${list.materialName}]]</td>
									<td><input type="hidden" name="amount" th:value="${list.amount}">[[${list.amount}]]</td>
									<td id= "status">
										<input type="hidden" name="status" th:value="1">
										<span th:if="${list.status} == null">
											<button class="btn btn-primary" id="doneBtn" name="done" value="완료" style="height:25px;">완료</button>
											<button class="btn btn-primary" id="cancleBtn" name="cancle" value="취소" style="height:25px;">취소</button>
										</span>
										<span th:if="${list.status} == true">완료</span>
										<span th:if="${list.status} == false">취소</span>
									</td>
									<td>[[${list.transactionStatus}]]</td>
								</tr>
							</tbody>
						</table>
						<!-- 테이블 끝 -->
						
						<!-- 페이지 번호 시작 -->
						<div class="clearfix">
							<div class="hint-text">
								Showing <b>5</b> out of <b>25</b> entries
							</div>
							<ul class="pagination">
								<li class="page-item disabled">
									<a href="#"> 
										<i class="fa fa-angle-double-left"></i>
									</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">1</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">2</a>
								</li>
								<li class="page-item active">
									<a href="#" class="page-link">3</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">4</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">5</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">
										<i class="fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- 페이지 번호 끝 -->
					</div>					
				</div>
			</div>
		</div>

		<!-- 체크박스 선택을 아예 안했을 경우 뜨는 모달창 시작 -->
		<div class="noPurchaseNoModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">발주서 번호 체크하기</h5>
                    </div>
                    <div class="modal-body" >
						<span>거래명세서 발행할 발주서 번호를 선택해주세요.</span><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 체크박스 선택을 아예 안했을 경우 뜨는 모달창 끝 -->
		
		<!-- 입고가 안됐을 때 거래명세서를 누른 경우 뜨는 모달창 시작 -->
		<div class="noMaterialInModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">입고 상태 체크하기</h5>
                    </div>
                    <div class="modal-body" >
						<span>입고가 되지 않아 거래명세서를 발행할 수 없습니다.</span><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 입고가 안됐을 때 거래명세서를 누른 경우 뜨는 모달창 끝 -->
		
		<!-- 입고취소인 경우 뜨는 모달창 시작 -->
		<div class="cancleMaterialInModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">입고 상태 체크하기</h5>
                    </div>
                    <div class="modal-body" >
						<span>입고가 취소되어 거래명세서 발행이 불가합니다.</span><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 입고취소인 경우 뜨는 모달창 끝 -->
		
		<!-- 입고완료 + 발행완료일 경우 뜨는 모달창 시작 -->
		<div class="doneTransactionModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">거래명세서 발행 완료</h5>
                    </div>
                    <div class="modal-body" >
						<span>이미 완료된 거래명세서 입니다.</span><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 입고완료 + 발행완료일 경우 뜨는 모달창 끝 -->
		
		<!-- 발주서 번호가 다를 때 뜨는 모달창 시작 -->
		<div class="purchaseNoCheckModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">발주서 번호 확인하기</h5>
                    </div>
                    <div class="modal-body" >
						<span>선택한 발주서 번호가 다릅니다.</span><br>
						<span>선택한 발주서 번호를 확인해주세요.</span><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 발주서 번호가 다를 때 뜨는 모달창 끝 -->
	
		<!-- 거래명세서 세부 내용 모달창 시작 -->
		<div>
			<div class="transactionDetailModal modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
			            <!-- header title -->
							<h4 class="modal-title">거래명세서 발행</h4>
			             <!-- 닫기(x) 버튼 -->
							<button type="button" class="close" data-dismiss="modal">×</button>
						</div>
									
						<!-- body -->
						<!-- style="width:210mm; height: 297mm;" A4용지 사이즈 -->
						<div class="modal-body">
						    <div class="publish"  id="transactionPrint">
								<div class="card-body">
									<button type="submit" class="btn btn-primary" onclick="transactionPrint();"  style="float: right; margin: 0 5px;" id="none">인쇄</button>
									<br>
									<p class="card-title"><b>거래명세서</b></p>
									
									<!--거래명세서 회사 정보-->
									<div>
										<table id="transactionInfo">
												<tr>
													<th>발주 회사</th>
													<td id="company"></td>
													<th rowspan="4">공<br><br>급<br><br>자</th>
													<th>사업자 등록번호</th>
													<td colspan="3" id="companyNo"></td>
												</tr>
												<tr>
													<th>발주서 번호</th>
													<td id="purchaseOrderNo"></td>
													<th>상호(법인명)</th>
													<td id="companyName"></td>
													<th>성명(대표자)</th>
													<td id="CEO"></td>
												</tr>
												<tr>
													<th>납기일자</th>
													<td id="date"></td>
													<th>주소</th>
													<td colspan="3" id="companyAddress"></td>
												</tr>
												<tr>
													<th>총 가격</th>
													<td id="totalPrice"></td>
													<th>담당자</th>
													<td id="manager"></td>
													<th>연락처</th>
													<td id="managerTel"></td>
												</tr>
										</table>
									</div>
									<br>
									
									<!--거래명세서 품목 정보-->
									<div class="table-responsive">
										<table id="transactionDetail">
											<thead>
												<tr>
													<th>품목코드</th>
													<th>품목명</th>
													<th>수량</th>
													<th>단가</th>
													<th>공급가격</th>
													<th>부가세</th>
												</tr>
											</thead>
											<tbody id="detail">
<!-- 												<tr> -->
<!-- 													<td id="materialCode"></td> -->
<!-- 													<td id="materialName"></td> -->
<!-- 													<td id="amount"></td> -->
<!-- 													<td id="unitPrice"></td> -->
<!-- 													<td id="price"></td> -->
<!-- 													<td id="vat"></td> -->
<!-- 												</tr> -->
											<!-- ajax로 동적 테이블 생성해서 들어가는 위치-->
												
											</tbody>
										</table>
									</div>
									<br>
									
									<!--거래명세서 결론-->
									<div class="table-responsive">
										<table id="transactionResult" style="border: 1px solid ; font-size: 13px;">
												<tr>
													<th>수량</th>
													<td id="amountResult"></td>
													<th>공급가격</th>
													<td id="priceResult"></td>
													<th>VAT</th>
													<td id="vatResult"></td>
													<th>합계</th>
													<td id="totalPriceResult"></td>
												</tr>
										</table>
									</div>					
									<br>
								</div>
							</div>
							<!-- <th:block th:replace="~{/procurement3/transactionDetail :: materialIn(~{this::publish} )}"></th:block> -->
							<!--여기에 외부에서 작성한 테이블 들어옴-->
						</div>
									
						<!-- Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 거래명세서 세부 내용 모달창 끝 -->

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script th:inline="javascript" type="text/javascript">

//6.19 모달창 문제
//- 다른번호 체크할 때 떠야할 모달창이 안뜸

	// 선택버튼 클릭시 체크된 행의 발주서 번호 가져오기
	$("#transactionBtn").click(function(){ 
		
		$("input[name=checkBox]:checked").each(function(){
			let no= $(this).val();			
		})
		
		let noList= new Array(); //발주서번호 리스트
		
		$("input[name=checkBox]:checked").each(function(){
			let no= $(this).val();
			noList.push(no);					
		})
		
		noList.forEach((i) => console.log("noList >>> " + i));	
		console.log("길이가 어떻게 찍히는거지 >>> " + noList.length)
		console.log("번호 리스트 >>> ", noList);
		
		//모달창: 체크박스 선택을 아예 안했을 경우
		if(noList.length===0){
			$(".noPurchaseNoModal").modal('show');
			
		//체크박스 한개만 선택했을 경우			
		}else if(noList.length===1){
			$(".transactionDetailModal").modal('show');
			console.log("체크박스 한개만 선택했을 경우 보이는건가?")		
								
			var rowData = new Array();
			var tdArr = new Array();
			var checkbox = $("input[name=checkBox]:checked");
			var tdStatus = true; //발행상태 체크해 예정인 것만 컨트롤러로 data넘기기
			
				//체크된 체크박스 값을 가져온다
				checkbox.each(function(i) {
					// checkbox.parent() : checkbox의 부모는 <td>이다.
					// checkbox.parent().parent() : <td>의 부모이므로 <tr>이다.
					var tr= checkbox.parent().parent().eq(i);
					var td= tr.children();
									
					//체크된 row의 모든 값을 배열에 담는다.
					rowData.push(tr.text().trim());
					
					//td.eq(0)은 체크박스 이므로  td.eq(1)의 값부터 가져온다.
					let status= td.eq(7).text();
					let transactionStatus= td.eq(8).text();
						
					//가져온 값을 배열에 담는다.
					tdArr.push(status);
					tdArr.push(transactionStatus);
					console.log("같을 경우 뜨는건가? " + tdArr[0])
				
					//모달창: 입고상태가 취소일 경우 
					if(tdArr[1].includes('불가') && tdArr[0].includes('취소')){
						$(".cancleMaterialInModal").modal('show');
						$(".transactionDetailModal").modal('hide');
						console.log("취소+불가일 경우")
						tdStatus= false;
					}else if((tdArr[1].includes('완료')) && (tdArr[0].includes('완료'))){
						//모달창: 발행상태가 이미 완료된 경우
						$(".doneTransactionModal").modal('show');
						$(".transactionDetailModal").modal('hide');
						console.log("완료+완료일 경우")
						tdStatus= false;
					}else if(tdArr[0].includes('완료') && tdArr[0].includes('취소')){
						//모달창: 입고가 되지 않은 경우
						$(".noMaterialInModal").modal('show');
						$(".transactionDetailModal").modal('hide');
						console.log("아직 입고가 되지 않아 상태가 완료, 취소 버튼일 경우")
						tdStatus= false;
					}
				});
		
			if(tdStatus){
			$.ajax({
				type: "post",
				url: "/procurement3/getTransactionDetail",
				data: JSON.stringify(noList),
				contentType :"application/json; charset=UTF-8",
				dataType: "json",
				success: function(data){
					console.log("받아온 데이터 : ",data);
					//본문에 html 넣기
					//transactionInfo 거래명세서 회사 정보(첫번째 테이블)
					document.querySelector("#company").innerHTML = data.company; //발주회사(= 우리회사)
					document.querySelector("#purchaseOrderNo").innerHTML = data.purchaseOrderNo; //발주서 번호
					document.querySelector("#date").innerHTML = data.date; //납기일자(= 입고일)
					document.querySelector("#totalPrice").innerHTML = (data.unitPrice*data.amount) + (data.unitPrice*data.amount/10); //총가격(= 합계)
					document.querySelector("#companyNo").innerHTML = data.companyNo; //사업자등록번호
					document.querySelector("#companyName").innerHTML = data.companyName; //협력회사 이름
					document.querySelector("#CEO").innerHTML = data.ceo; //협력회사 ceo
					document.querySelector("#companyAddress").innerHTML = data.companyAddress; //협력회사 주소
					document.querySelector("#manager").innerHTML = data.manager; //담당자
					document.querySelector("#managerTel").innerHTML = data.managerTel; //담당자 번호
					
					//transactionDetail 거래명세서 세부 정보(두번째 테이블)	
		            var tableTd = '<tr>';
		            tableTd += '<td>' + data.materialCode + '</td>';
		            tableTd += '<td>' + data.materialName + '</td>';
		            tableTd += '<td>' + data.amount + '</td>';
		            tableTd += '<td>' + data.unitPrice + '</td>';
		            tableTd += '<td>' + data.amount*data.unitPrice + '</td>';
		            tableTd += '<td>' + data.amount*data.unitPrice/10 + '</td>';
		            tableTd += '</tr>';
		            
		            $('#detail').append(tableTd);
					
					//transactionResult 거래명세서 결론(세번째 테이블)
					document.querySelector("#amountResult").innerHTML = data.amount; //수량
					document.querySelector("#priceResult").innerHTML = data.unitPrice*data.amount; //공급가격
					document.querySelector("#vatResult").innerHTML = data.unitPrice*data.amount/10; //vat
					document.querySelector("#totalPriceResult").innerHTML = (data.unitPrice*data.amount) + (data.unitPrice*data.amount/10); //합계
					},
					error: function(xhr,status,er){
						if(error)
							error(er);
					}
				});//ajax 끝
			}//if(거래명세서 tdStatus) 끝	
		//else if(체크박스를 한개 선택했을 때) 끝
		
		}else if(noList.length>1){ //noList가 2개이상일 경우
			for(let i=0; i<noList.length-1; i++){
				for(let j=1; j<noList.length; j++){
					//모달창: 체크박스로 선택한 발주서 번호가 다를 경우   -> 지금 이게 작동이 아예 안됨
					if(noList[i]!=noList[j]){
						console.log("noList[i] >>> ", noList[i])
						console.log("noList[j] >>> ", noList[j])
						$(".purchaseNoCheckModal").modal('show');
						$(".transactionDetailModal").modal('hide');
						console.log("발주서 번호가 다를 경우가 왜 안 나오지")
					}else if(noList[i]==noList[j]){//모달창: 체크박스로 선택한 발주서 번호가 같을 경우
						console.log("noList[i] >>> ", noList[i])
						console.log("noList[j] >>> ", noList[j])
						$(".transactionDetailModal").modal('show');
						$(".purchaseNoCheckModal").modal('hide');
						console.log("발주서 번호가 같을 경우 뜨는건가?")
						//어차피 같은 발주서 번호이기 때문에 하나만 보내도 괜찮음
						console.log("noList 어떻게 보내야되지? " , noList[0])
						
						$.ajax({
							type: "post",
							url: "/procurement3/getTransactionDetail2",
							data: JSON.stringify(noList[0]),
							contentType :"application/json; charset=UTF-8",
							dataType: "json",
							success: function(data){
								console.log("받아온 데이터 : ",data);
								//본문에 html 넣기

								//transactionDetail 거래명세서 세부 정보(두번째 테이블)			
						        for(var a= 0; a<data.length; a++) {
						            var tableTd = '<tr>';
						            tableTd += '<td>' + data[a].materialCode + '</td>';
						            tableTd += '<td>' + data[a].materialName + '</td>';
						            tableTd += '<td id="amount' + a + '">' + data[a].amount + '</td>';
						            tableTd += '<td id="price' + a + '">' + data[a].unitPrice + '</td>';
						            tableTd += '<td>' + data[a].amount*data[a].unitPrice + '</td>';
						            tableTd += '<td>' + data[a].amount*data[a].unitPrice/10 + '</td>';
						            tableTd += '</tr>';

						            $('#detail').append(tableTd);
						        }
								
							    //transactionResult 거래명세서 결론(세번째 테이블)
							    const table = document.getElementById('detail');
							      
							    // 수량, 단가 합계 계산
							    let amountSum= 0;
							    let priceSum= 0;
							    let vatSum= 0;
							    for(let i = 0; i < table.rows.length; i++)  {
							      amountSum += parseInt(table.rows[i].cells[2].innerHTML);
							      priceSum += parseInt(table.rows[i].cells[4].innerHTML);
							      vatSum += parseInt(table.rows[i].cells[5].innerHTML);
							    }
							    
							    // 합계 출력
							    document.getElementById('amountResult').innerText = amountSum;
							    document.getElementById('priceResult').innerText = priceSum;
							    document.getElementById('vatResult').innerText = vatSum;
							    document.getElementById('totalPriceResult').innerText = priceSum+vatSum;
								
								//transactionInfo 거래명세서 회사 정보(첫번째 테이블)
								//총가격(=합계)에서 동적으로 바뀐 데이터를 읽어 세팅해야 해서 맨밑에서 값을 받게함
								document.querySelector("#company").innerHTML = data[0].company; //발주회사(= 우리회사)
								document.querySelector("#purchaseOrderNo").innerHTML = data[0].purchaseOrderNo; //발주서 번호
								document.querySelector("#date").innerHTML = data[0].date; //납기일자(= 입고일)
								document.querySelector("#totalPrice").innerHTML = $('#totalPriceResult').html();//총가격(= 합계)
								document.querySelector("#companyNo").innerHTML = data[0].companyNo; //사업자등록번호
								document.querySelector("#companyName").innerHTML = data[0].companyName; //협력회사 이름
								document.querySelector("#CEO").innerHTML = data[0].ceo; //협력회사 ceo
								document.querySelector("#companyAddress").innerHTML = data[0].companyAddress; //협력회사 주소
								document.querySelector("#manager").innerHTML = data[0].manager; //담당자
								document.querySelector("#managerTel").innerHTML = data[0].managerTel; //담당자 번호			
							},
							error : function(jqXHR,textStatus,errorThrown){
								//console.log(jqXHR);  //응답 메시지
								//console.log(textStatus); //"error"로 고정인듯함
								//console.log(errorThrown);
							}
						});//ajax 끝
						break;
					}//else if 끝: 체크박스로 선택한 발주서 번호가 같을 경우
				}//for(j)문 끝
			}//for(i)문 끝
			
			//모달창 닫으면 테이블 데이터 초기화 -> 일반적인 테이블형식이 아니기 때문에 각각의 값을 세팅줌
			$('.modal').on('hidden.bs.modal', function (e) {
			    console.log('modal close');
			  $(this).find('#company').empty();
			  $(this).find('#purchaseOrderNo').empty();
			  $(this).find('#companyNo').empty();
			  $(this).find('#companyCode').empty();
			  $(this).find('#companyName').empty();
			  $(this).find('#CEO').empty();
			  $(this).find('#manager').empty();
			  $(this).find('#managerTel').empty();
			  
			  $(this).find('#detail').empty();
			  
			  $(this).find('#amountResult').empty();
			  $(this).find('#priceResult').empty();			  
			  $(this).find('#vatResult').empty();			  
			  $(this).find('#totalPriceResult').empty();			  
			});
			
		}//else if 끝: noList길이가 2이상인 경우
	});
	
	
	////////////////////////////////////////////////////////////////////////////////////
  
  	//입고 상태 "완료"버튼 눌렀을 경우 -> DB등록 + 화면 입고 상태 '완료' 표시 + 발행 상태 '발행 예정' 표시
	$(document).on("click", "#doneBtn", function(e){
		e.preventDefault();
		console.log("완료버튼 클릭")
		
		//완료 버튼을 누른 행의 데이터 세팅
 		var no= getObjTR().querySelector("input[name=no]").value;
		var code= getObjTR().querySelector("input[name=code]").value;
		var materialCode= getObjTR().querySelector("input[name=materialCode]").value;
		var materialName= getObjTR().querySelector("input[name=materialName]").value;
		var amount= getObjTR().querySelector("input[name=amount]").value;
		
// 		console.log("no 읽기 >>> ", no)
//		console.log("code 읽기 >>> ", code)
//		console.log("materialCode 읽기 >>> ", materialCode)
//		console.log("materialName 읽기 >>> ", materialName)
//		console.log("amount 읽기 >>> ", amount)

		//create element (form)
		var inForm = $('<form></form>');
		//set attribute (form) 
		inForm.attr("name","inForm");
		inForm.attr("method","post");
		inForm.attr("action","/procurement3/materialInRegister");

		// create element & set attribute (input)
		inForm.append($('<input/>', {type: 'hidden', name: 'no', value: no }));
		inForm.append($('<input/>', {type: 'hidden', name: 'code', value: code }));
		inForm.append($('<input/>', {type: 'hidden', name: 'materialCode', value: materialCode }));
		inForm.append($('<input/>', {type: 'hidden', name: 'materialName', value: materialName }));
		inForm.append($('<input/>', {type: 'hidden', name: 'amount', value: amount }));
		//입고 상태가 완료일 경우 = true
		inForm.append($('<input/>', {type: 'hidden', name: 'status', value: "1" }));

		// append form (to body) 
		inForm.appendTo('body');

		// submit form
		inForm.submit();
	});
  	
  	//입고 상태 "취소"버튼 눌렀을 경우 -> DB등록 + 화면 입고 상태 '취소' 표시 + 발행 상태 '발행 불가' 표시
	$(document).on("click", "#cancleBtn", function(e){
		e.preventDefault();
		console.log("완료버튼 클릭")
		
 		let no= getObjTR().querySelector("input[name=no]").value;
		let code= getObjTR().querySelector("input[name=code]").value;
		let materialCode= getObjTR().querySelector("input[name=materialCode]").value;
		let materialName= getObjTR().querySelector("input[name=materialName]").value;
		let amount= getObjTR().querySelector("input[name=amount]").value;

		//create element (form)
		let inForm = $('<form></form>');
		//set attribute (form) 
		inForm.attr("name","inForm");
		inForm.attr("method","post");
		inForm.attr("action","/procurement3/materialInRegister");

		//create element & set attribute (input)
		inForm.append($('<input/>', {type: 'hidden', name: 'no', value: no }));
		inForm.append($('<input/>', {type: 'hidden', name: 'code', value: code }));
		inForm.append($('<input/>', {type: 'hidden', name: 'materialCode', value: materialCode }));
		inForm.append($('<input/>', {type: 'hidden', name: 'materialName', value: materialName }));
		inForm.append($('<input/>', {type: 'hidden', name: 'amount', value: amount }));
		//입고 상태가 취소일 경우 = false
		inForm.append($('<input/>', {type: 'hidden', name: 'status', value: "0" }));

		//append form (to body) 
		inForm.appendTo('body');

		//submit form
		inForm.submit();
	});
  	
	////////////////////////////////////////////////////////////////////////////////////
	
	//이벤트 발생한 요소의 상위의 TD 객체 찾기
    function getObj(){
        var obj = event.srcElement
        while (obj.tagName !='TD'){  //TD가 나올때까지의 Object추출
            obj = obj.parentElement
        }
        return obj
    }
	
  	//이벤트 발생한 요소의 상위의 TR 객체 찾기
    function getObjTR(){
        var obj = event.srcElement
        while (obj.tagName !='TR'){  //TR가 나올때까지의 Object추출
            obj = obj.parentElement
        }
        return obj
    }
  	
<!--    function transactionPrint(){-->
<!--    	var initBody = document.body.innerHTML; //body영역 저장-->
<!--    	window.onbeforeprint = function () { //프린터 출력 전 이벤트-->
<!--    		document.body.innerHTML = document.getElementById('transactionPrint').innerHTML; //원하는 영역 지정 'transactionPrint'-->
<!--    	}-->
<!--    	window.onafterprint = function () { //프린터 출력 후 이벤트-->
<!--    		document.body.innerHTML = initBody;-->
<!--    	}-->
<!--    	window.print();-->
<!--    }-->
</script>	
		
	</th:block>
</th:block>
</html>