<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">


<style>
  table {
    width: 100%;
    border: 1px solid #444444;
    font-size: 13px;

  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }
.search-box {
	position: relative;
	float: right;
}

.search-box input {
	height: 34px;
	border-radius: 20px;
	padding-left: 35px;
	border-color: #ddd;
	box-shadow: none;
}

.search-box input:focus {
	border-color: #3FBAE4;
}

.search-box i {
	color: #a0a5b1;
	position: absolute;
	font-size: 19px;
	top: 8px;
	left: 10px;
}

.pagination {
	float: right;
	margin: 0 0 5px;
}

.pagination li a {
	border: none;
	font-size: 95%;
	width: 30px;
	height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 30px !important;
	text-align: center;
	padding: 0;
}

.pagination li a:hover {
	color: #666;
}

.pagination li.active a {
	background: #03A9F4;
}

.pagination li.active a:hover {
	background: #0397d6;
}

.pagination li.disabled i {
	color: #ccc;
}

.pagination li i {
	font-size: 16px;
	padding-top: 6pxrow
}

.hint-text {
	float: left;
	margin-top: 6px;
	font-size: 95%;
}


@media print
{
    #no-print, #no-print * {
        display: none !important;
    }
    @page { margin: 0; }/* for 크롬 Headers and footers 없애기 */

}

</style>
		<div class="col-md-12 stretch-card" id="no-print">
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">자재 입고</p> 
					<br>
					<div class="row" style="margin-bottom: 5px;">
						<!-- 목록 내려보기 시작 -->
						<div class="col-md-6"> 
							<form>
								<div style="display:inline-block;">
									<select class="custom-select mr-sm-2"  style="display:inline-block;">
										<option selected>검색 조건 선택</option>
				                        <option value="1">발주서 번호</option>
				                        <option value="2">발주코드</option>
				                        <option value="3">품목코드</option>
									</select>
								</div> 
								&nbsp;	
								<input type="text" style="width: 150px; height: 40px; display:inline-block;" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
								&nbsp;
								<div style="display:inline-block;"> 
									<button type="submit" class="btn btn-primary" style="display:inline-block;">검색</button>
								</div>
							</form>
						</div> 
						<!-- 목록 내려보기 끝 -->
						
						<!-- 거래명세서 발행 모달창 버튼 시작 -->
						<div class="col-md-6" >	
							<form action="/procurement3/materialIn" method="post">
								<button class="td-modal btn btn-primary" data-target="#modal" data-toggle="modal" data-backdrop="static" style="float: right;">거래명세서 발행</button>
								<input type="hidden" name="purchaseCode" th:value="code">
							</form>
						</div>
						<!-- 거래명세서 발행 모달창 버튼 끝 -->
					</div>	
					
					<div class="table-responsive">
						<!-- 테이블 시작 -->
<!-- 						<form th:action="@{/procurement3/materialInRegister}" th:method="post" id="inForm"> -->
							<input type="hidden" name="materialInDTO" id="materialInDTO">
							<table id="recent-purchases-listing" class="listTable" style="text-align: center;">
								<thead>
									<tr>
										<th></th>
										<th>발주서 번호</th>
										<th>발주 코드</th>
										<th>조달납기<br>예정일</th>
										<th>품목코드</th>
										<th>품목명</th>
										<th>발주 수량</th>
										<th>입고 상태</th>
										<th>발행 상태</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="list: ${DTOList}" id="trList">
										<td><input type="checkbox" name="checkBox" th:value="${list.code}" onclick="chkClicked()"></td>
										<td><input type="hidden" name="no" th:value="${list.no}">[[${list.no}]]</td>
										<td><input type="hidden" name="code" th:value="${list.code}">[[${list.code}]]</td>
										<td><input type="hidden" name="date" th:value="${list.dueDate}">[[${#dates.format(list.dueDate, 'yyyy/MM/dd')}]]</td>
										<td><input type="hidden" name="materialCode" th:value="${list.materialCode}">[[${list.materialCode}]]</td>
										<td><input type="hidden" name="materialName" th:value="${list.materialName}">[[${list.materialName}]]</td>
										<td><input type="hidden" name="amount" th:value="${list.amount}">[[${list.amount}]]</td>
										<td id= "status">
											<input type="hidden" name="status" th:value="1">
											<span th:if="${list.status} == null">
												<button class="btn btn-primary" id="doneBtn" name="done" value="완료" style="height:25px;">완료</button>
												<button class="btn btn-primary" id="cancleBtn" name="cancle" value="취소" style="height:25px;">취소</button>
											</span>
											<span th:if="${list.status} == true">완료</span>
											<span th:if="${list.status} == false">취소</span>
										</td>
										<td th:text="${list.transactionStatus} ? '완료' : '미완료' " id="transactionStatus"><input type="hidden" value="0"></td>
									</tr>
								</tbody>
							</table>
<!-- 						</form> -->
						<!-- 테이블 끝 -->
						
						<!-- 페이지 번호 시작 -->
						<div class="clearfix">
							<div class="hint-text">
								Showing <b>5</b> out of <b>25</b> entries
							</div>
							<ul class="pagination">
								<li class="page-item disabled">
									<a href="#"> 
										<i class="fa fa-angle-double-left"></i>
									</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">1</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">2</a>
								</li>
								<li class="page-item active">
									<a href="#" class="page-link">3</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">4</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">5</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">
										<i class="fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- 페이지 번호 끝 -->
					</div>					
				</div>
			</div>
		</div>

<!-- 모달창 -->
<div class="myPrint">
	<div class="modal" id="modal" >
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
	            <!-- header title -->
					<h4 class="modal-title">거래명세서 발행</h4>
	             <!-- 닫기(x) 버튼 -->
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
							
				<!-- body -->
				<!-- style="width:210mm; height: 297mm;" A4용지 사이즈 -->
				<div class="modal-body">
				    <div class="publish">
						<div class="card-body">
							<button type="submit" class="btn btn-primary" onclick="print();"  style="float: right; margin: 0 5px;" id="no-print">인쇄</button>
							<br>
							<p class="card-title"><b>거래명세서</b></p>
							
							<!--거래명세서 회사 정보-->
							<div>
								<table id="transactionInfo">
										<tr th:each="info: ${tdDTOInfo}">
											<th>발주 회사</th>
											<td>[[${info.company}]]</td>
											<th rowspan="4">공<br><br>급<br><br>자</th>
											<th>사업자 등록번호</th>
											<td colspan="3">[[${info.companyNo}]]</td>
										</tr>
										<tr th:each="info: ${tdDTOInfo}">
											<th>발주서 번호</th>
											<td>[[${info.purchaseOrderNo}]]</td>
											<th>상호(법인명)</th>
											<td>[[${info.companyName}]]</td>
											<th>성명(대표자)</th>
											<td>[[${info.CEO}]]</td>
										</tr>
										<tr th:each="info: ${tdDTOInfo}">
											<th>납기일자</th>
											<td>[[${#temporals.format(info.date, 'yyyy/MM/dd')}]]</td>
											<th>주소</th>
											<td colspan="3">[[${info.companyAddress}]]</td>
										</tr>
										<tr th:each="info: ${tdDTOInfo}">
											<th>총 가격</th>
											<td>[[${price}+${price}/10]]</td>
											<th>담당자</th>
											<td>[[${info.manager}]]</td>
											<th>연락처</th>
											<td>[[${info.managerTel}]]</td>
										</tr>
								</table>
							</div>
							<br>
							
							<!--거래명세서 품목 정보-->
							<div class="table-responsive">
								<table id="transactionDetail">
									<thead>
										<tr>
											<th>품목코드</th>
											<th>품목명</th>
											<th>수량</th>
											<th>단가</th>
											<th>공급가격</th>
											<th>부가세</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="list: ${tdDTOList}">
											<td>[[${list.materialCode}]]</td>
											<td>[[${list.materialName}]]</td>
											<td>[[${list.amount}]]</td>
											<td>[[${list.unitPrice}]]</td>
											<td>[[${list.amount}*${list.unitPrice}]]</td>
											<td>[[${list.amount}*${list.unitPrice}/10]]</td>
										</tr>
										
									</tbody>
								</table>
							</div>
							<br>
							
							<!--거래명세서 품목 정리 요약-->
							<div class="table-responsive">
								<table id="transactionResult" style="border: 1px solid ; font-size: 13px;">
										<tr>
											<th>수량</th>
											<td>[[${amount}]]</td>
											<th>공급가격</th>
											<td>[[${price}]]</td>
											<th>VAT</th>
											<td>[[${price}/10]]</td>
											<th>합계</th>
											<td>[[${price}+${price}/10]]</td>
										</tr>
								</table>
							</div>					
							<br>
						</div>
					</div>
					<!-- <th:block th:replace="~{/procurement3/transactionDetail :: materialIn(~{this::publish} )}"></th:block> -->
					<!--여기에 외부에서 작성한 테이블 들어옴-->
				</div>
							
				<!-- Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 모달창 끝 -->

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script th:inline="javascript" type="text/javascript">

	var DTOList = [[${DTOList}]];
	console.log("DTOList 읽기 >>> ", DTOList);
	
	let codeList= new Array();
	let dpoCode= new Object();
	
	DTOList.forEach(function(item){
		dpoCode= item.code
		codeList.push(dpoCode);
		//console.log("dpoCode가 제대로 오나 >>> ", dpoCode);
	});

	console.log("codeList가 제대로 오나 >>> ", codeList)
	
	let purchaseCode = '';
	function chkClicked(){
		const chkChecked = 'input[name="checkBox"]:checked';
		const selectedEls = document.querySelectorAll(chkChecked);
		purchaseCode = '';
		
		selectedEls.forEach((el) => {
			purchaseCode += el.value + ' ';
	  });
 		console.log("purchaseCode >>> ", purchaseCode)
 		
 		return purchaseCode;
	}
	
	function sendPurchaseCode(){
		console.log("purchaseCode 찍히나 >>> ", purchaseCode)
		//purchaseCode= purchaseCode.replaceAll(" ","");
		//console.log("purchaseCode 찍히나 >>> ", purchaseCode)		
		location.href="/procurement3/materialIn?purchaseCode="+purchaseCode;
 	};
 	
 	$('.td-modal').on('click', function(e){
	  e.preventDefault();
	  sendPurchaseCode();
	});

	//이벤트 발생한 요소의 상위의 TD 객체 찾기
    function getObj(){
        var obj = event.srcElement
        while (obj.tagName !='TD'){  //TD가 나올때까지의 Object추출
            obj = obj.parentElement
        }
        return obj
    }
	
  	//이벤트 발생한 요소의 상위의 TR 객체 찾기
    function getObjTR(){
        var obj = event.srcElement
        while (obj.tagName !='TR'){  //TR가 나올때까지의 Object추출
            obj = obj.parentElement
        }
        return obj
    }
  
  	//입고 상태 "완료" 눌렀을 경우
	$(document).on("click", "#doneBtn", function(e){
		e.preventDefault();
		console.log("완료버튼 클릭")
		
 		var no= getObjTR().querySelector("input[name=no]").value;
		var code= getObjTR().querySelector("input[name=code]").value;
		var materialCode= getObjTR().querySelector("input[name=materialCode]").value;
		var materialName= getObjTR().querySelector("input[name=materialName]").value;
		var amount= getObjTR().querySelector("input[name=amount]").value;
		
 		console.log("no 읽기 >>> ", no)
		console.log("code 읽기 >>> ", code)
		//console.log("dueDate 읽기 >>> ", dueDate)
		console.log("materialCode 읽기 >>> ", materialCode)
		console.log("materialName 읽기 >>> ", materialName)
		console.log("amount 읽기 >>> ", amount)

		//create element (form)
		var inForm = $('<form></form>');
		//set attribute (form) 
		inForm.attr("name","inForm");
		inForm.attr("method","post");
		inForm.attr("action","/procurement3/materialInRegister");

		// create element & set attribute (input)
		inForm.append($('<input/>', {type: 'hidden', name: 'no', value: no }));
		inForm.append($('<input/>', {type: 'hidden', name: 'code', value: code }));
		inForm.append($('<input/>', {type: 'hidden', name: 'materialCode', value: materialCode }));
		inForm.append($('<input/>', {type: 'hidden', name: 'materialName', value: materialName }));
		inForm.append($('<input/>', {type: 'hidden', name: 'amount', value: amount }));
		//입고 상태가 완료일 경우 = true
		inForm.append($('<input/>', {type: 'hidden', name: 'status', value: "1" }));

		// append form (to body) 
		inForm.appendTo('body');

		// submit form
		inForm.submit();
	});
  	
  	//입고 상태 "취소" 눌렀을 경우
	$(document).on("click", "#cancleBtn", function(e){
		e.preventDefault();
		console.log("완료버튼 클릭")
		
 		var no= getObjTR().querySelector("input[name=no]").value;
		var code= getObjTR().querySelector("input[name=code]").value;
		var materialCode= getObjTR().querySelector("input[name=materialCode]").value;
		var materialName= getObjTR().querySelector("input[name=materialName]").value;
		var amount= getObjTR().querySelector("input[name=amount]").value;
		
 		console.log("no 읽기 >>> ", no)
		console.log("code 읽기 >>> ", code)
		//console.log("dueDate 읽기 >>> ", dueDate)
		console.log("materialCode 읽기 >>> ", materialCode)
		console.log("materialName 읽기 >>> ", materialName)
		console.log("amount 읽기 >>> ", amount)

		//create element (form)
		var inForm = $('<form></form>');
		//set attribute (form) 
		inForm.attr("name","inForm");
		inForm.attr("method","post");
		inForm.attr("action","/procurement3/materialInRegister");

		// create element & set attribute (input)
		inForm.append($('<input/>', {type: 'hidden', name: 'no', value: no }));
		inForm.append($('<input/>', {type: 'hidden', name: 'code', value: code }));
		inForm.append($('<input/>', {type: 'hidden', name: 'materialCode', value: materialCode }));
		inForm.append($('<input/>', {type: 'hidden', name: 'materialName', value: materialName }));
		inForm.append($('<input/>', {type: 'hidden', name: 'amount', value: amount }));
		//입고 상태가 취소일 경우 = false
		inForm.append($('<input/>', {type: 'hidden', name: 'status', value: "0" }));

		// append form (to body) 
		inForm.appendTo('body');

		// submit form
		inForm.submit();
	});
</script>	
		
	</th:block>
</th:block>
</html>