<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setLogin(login)">

	<body>
		<div class="publish">
			<form th:action="@{/procurement3/materialIn}" th:method="POST">
				<div class="col-md-12 stretch-card">

					<div class="card">

						<div class="card-body">
							<p class="card-title">거래명세서 발행</p>

							<form>
								<div class="form-row align-items-center">
									거래명세서 XXXXX<br>
								</div>
						</div>
			</form>
			<!--목록 내려보기 끝-->
			<div class="table-responsive">
				<table id="recent-purchases-listing" class="table">
					<thead>
						<tr>
							<th>품목코드</th>
							<th>품목명</th>
							<th>수량</th>
							<th>단가</th>
							<th>공급가격</th>
							<th>부가세</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
					</tbody>
				</table>
			</div>
			<div class="col-auto my-1">
				<h6>1/2</h6>&nbsp;
				<button type="submit" class="btn btn-primary">발행</button>&nbsp;
				<button type="submit" class="btn btn-primary">취소</button>
			</div>
		</div>

		</form>
		</div>
	</body>
</th:block>