<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">


<style>
.search-box {
	position: relative;
	float: right;
}

.search-box input {
	height: 34px;
	border-radius: 20px;
	padding-left: 35px;
	border-color: #ddd;
	box-shadow: none;
}

.search-box input:focus {
	border-color: #3FBAE4;
}

.search-box i {
	color: #a0a5b1;
	position: absolute;
	font-size: 19px;
	top: 8px;
	left: 10px;
}

.pagination {
	float: right;
	margin: 0 0 5px;
}

.pagination li a {
	border: none;
	font-size: 95%;
	width: 30px;
	height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 30px !important;
	text-align: center;
	padding: 0;
}

.pagination li a:hover {
	color: #666;
}

.pagination li.active a {
	background: #03A9F4;
}

.pagination li.active a:hover {
	background: #0397d6;
}

.pagination li.disabled i {
	color: #ccc;
}

.pagination li i {
	font-size: 16px;
	padding-top: 6pxrow
}

.hint-text {
	float: left;
	margin-top: 6px;
	font-size: 95%;
}
</style>


		<div class="col-md-12 stretch-card">
			<!-- 수정 부분 시작 -->
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">발주진행 현황관리</p> 
					<br>
					<div class="row" style="margin-bottom: 5px;">
						<!-- 목록 내려보기 시작 -->
						<div class="col-md"> 
							<div>
								<span style="font-size:20px;">기간</span>&nbsp;&nbsp;
								<input type="date" id="startDate" style="width:140px; height:40px; border-radius:5px; border:1px solid #dcdcdc; padding-left:12px;padding-right:12px;">&nbsp;&nbsp;~&nbsp;&nbsp;
								<input type="date" id="endDate" style="width:140px; height:40px; border-radius:5px; border:1px solid #dcdcdc; padding-left:12px;padding-right:12px;">&nbsp;&nbsp;
								<input type="submit" id="dateSearch" value="검색" class="btn btn-primary" style="margin-bottom:5px;">
		                    </div>
						</div> 
						<!-- 목록 내려보기 끝 -->
					</div>	
					<div class="table-responsive">
						<!-- 테이블 시작 -->
						<table id="recent-purchases-listing" class="table" style="text-align: center;">
							<thead>
								<tr>
									<th>기간</th>
									<th>발주 예정</th>
									<th>조달 진행 중</th>
									<th>조달 완료</th>
								</tr>
							</thead>
							<tbody id="count">
								<tr th:each="list: ${list}">
									<td>오늘 기준 전체</td>
									<td id="beforeCount">[[${list.beforePurchase}]]</td>
									<td id="ingCount">[[${list.ingProcurement}]]</td>
									<td id="doneCount">[[${list.doneProcurement}]]</td>
								</tr>
							<!-- ajax로 보낸 데이터 테이블 들어가는 위치 -->
							</tbody>
						</table>
						<!-- 테이블 끝 -->
					</div>
					<br>
					<!-- bar chart 넣을 자리-->
		            <div class="card">
		            	<div class="card-body">
		                	<h4 class="card-title">발주진행 현황 그래프 (<span id="date"></span>)</h4>
		                	<canvas id="barChart" style="height:30vh; width:70vw"></canvas>
		            	</div>
		        	</div>		
				</div>
			</div>
		</div>
	
<script src="../../vendors/base/vendor.bundle.base.js"></script>
<script src="../../vendors/chart.js/Chart.min.js"></script>
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>
<script src="../../js/chart.js"></script>

<script  th:inline="javascript">
	var list= [[${list}]];
	console.log("list 값 읽기 >>> ", list);
	
	//종료날짜가 더 작은 경우 알럿창
	$("#dateSearch").on("click",function(){
		$("#count").empty(); //다시 버튼 눌렀을 때 테이블 비우고 다시 세팅하기
		
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        
        //-을 구분자로 연,월,일로 잘라내어 배열로 반환
        var startArray = startDate.split('-');
        var endArray = endDate.split('-');   
        
        //배열에 담겨있는 연,월,일을 사용해서 Date 객체 생성
        var start_date = new Date(startArray[0], startArray[1], startArray[2]);
        var end_date = new Date(endArray[0], endArray[1], endArray[2]);
        
        //날짜를 숫자형태의 날짜 정보로 변환하여 비교한다.
        if(!start_date.getTime() || !end_date.getTime()){
        	alert("기간을 선택해주세요.");
        	location.reload();
        }
        if(start_date.getTime() > end_date.getTime()) {
            alert("종료일보다 시작일이 빨라야합니다.");
            location.reload();
        }
        
      	//시작일과 종료일 사이 날짜 배열로 가져오기
		var start= new Date(document.querySelector("#startDate").value);
		var end= new Date(document.querySelector("#endDate").value);
		console.log("오잉? start 보자 : ",start);
		console.log("오잉? end 보자 : ",end);
		
		var result= [];
		
		while (start <= end) {
			result.push(start.toISOString().split('T')[0]);
			start.setDate(start.getDate() +1);
		}
		console.log("시작날짜 찍히나 >>> ", start)		
		console.log("끝날짜 찍히나 >>> ", end)
		console.log("result 찍히나 >>> ", result)
		//console.log("result Json형식으로 찍히나 >>> ", JSON.stringify(result))
		
		//검색누른 후에는 input값 초기화
		var startInput = document.querySelector("#startDate");
		//console.log("인풋 초기화하고 싶은데 >>> ", startInput)	
		startInput.value= null;
		var endInput = document.querySelector("#endDate");
		endInput.value= null;
		
		$.ajax({
			type: "post",
			url: "/procurement3/reportDate",
			data: JSON.stringify(result),
			contentType :"application/json; charset=UTF-8",
			dataType: "json",
			success: function(data){
				console.log("받아온 데이터 : ",data);
				
				//설정한 기간 테이블마다 행으로 세팅
		        for(var i= 0; i<data.length; i++) {
		            var tableTd = '<tr>';
		            tableTd += '<td>' + data[i].date + '</td>';
		            tableTd += '<td>' + data[i].beforePurchase + '</td>';
		            tableTd += '<td>' + data[i].ingProcurement + '</td>';
		            tableTd += '<td>' + data[i].doneProcurement +'</td>';
		            tableTd += '</tr>';

		            $('#count').append(tableTd);
		        }
			},	
			error : function(jqXHR,textStatus,errorThrown){
				//console.log(jqXHR);  //응답 메시지
				//console.log(textStatus); //"error"로 고정인듯함
				//console.log(errorThrown);
			}
		});//ajax 끝
    });
    
    var getToday= document.getElementById("date");
    let today = new Date();   

	let year = today.getFullYear(); // 년도
	let month = today.getMonth() + 1;  // 월
	let date = today.getDate();  // 날짜
	
	getToday.innerText= '오늘 날짜 기준 : ' + year + '년 ' + month + '월 ' + date + '일';
</script>
	</th:block>
</th:block>
</html>