<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setLogin(login)">

<style>
  table {
    width: 100%;
    border: 1px solid #444444;
    font-size: 13px;

  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }
</style>
<body>
	<div class="publish">
		<form th:action="@{/procurement3/materialIn}" th:method="POST">
					<div class="card-body">
						<button type="submit" class="btn btn-primary" style="float: right;">취소</button>
						<button type="submit" class="btn btn-primary" onclick="print();"  style="float: right; margin: 0 5px;">인쇄</button>
					<br>
						<p class="card-title"><b>거래명세서</b></p>
						
						<!--거래명세서 회사 정보-->
						<div>
							<table id="transactionInfo">
									<tr>
										<th>발주 회사</th>
										<td>-</td>
										<th rowspan="4">공<br><br>급<br><br>자</th>
										<th>사업자 등록번호</th>
										<td colspan="3"></td>
									</tr>
									<tr>
										<th>발주서 번호</th>
										<td>-</td>
										<th>상호(법인명)</th>
										<td>-</td>
										<th>성명(대표자)</th>
										<td>-</td>
									</tr>
									<tr>
										<th>납기일자</th>
										<td>-</td>
										<th>주소</th>
										<td colspan="3">-</td>
									</tr>
									<tr>
										<th>총 가격</th>
										<td>-</td>
										<th>담당자</th>
										<td>-</td>
										<th>연락처</th>
										<td>-</td>
									</tr>
							</table>
						</div>
						<br>
						
						<!--거래명세서 품목 정보-->
						<div class="table-responsive">
							<table id="transactionDetail">
								<thead>
									<tr>
										<th>품목코드</th>
										<th>품목명</th>
										<th>수량</th>
										<th>단가</th>
										<th>공급가격</th>
										<th>부가세</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
									</tr>
									
								</tbody>
							</table>
						</div>
						<br>
						
						<!--거래명세서 품목 정리 요약-->
						<div class="table-responsive">
							<table id="transactionResult" style="border: 1px solid ; font-size: 13px;">
									<tr>
										<th>수량</th>
										<td></td>
										<th>공급가격</th>
										<td></td>
										<th>VAT</th>
										<td></td>
										<th>합계</th>
										<td></td>
									</tr>
							</table>
						</div>					
							<br>

					</div>

		</form>
	</div>
<script>
let printPurchaseOrder;
function print(){
	printPurchaseOrder = window.open('/procurement3/transactionPrint','thePopup','width=722,height=600')
};
</script>
</body>
</th:block>