<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">

	<!-- 여기 부분이 값을 바꿔서 대체해서 들어가는 부분! 나머지형식은 basic.html을 이용해서 하는것! 
		그래서 basic.html이 header와 footer 가 들어가 있다고 보면됨! -->
	<th:block th:fragment="content">

		<div class="col-md-12 stretch-card">
			<div class="card">
				<div class="card-body">
					<p class="card-title">거래명세서 목록</p>
					 <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                      거래명세서 번호
                    </div>
                    
                    <input type="text" style="width:150px;" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
                    <div class="col-auto my-1">
                      <button type="submit" class="btn btn-primary">검색</button>
                    </div>
                    </div>
					<div class="table-responsive">
						<table id="recent-purchases-listing" class="table"
							style="text-align: center;">
							<thead>
								<tr>
									<th>거래명세서 번호</th>
									<th>구매발주서 번호</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="list:${list}">
									<td><a class="ls-modal" data-toggle="modal" href="#" data-target="#modal">
										<u>&nbsp;&nbsp;&nbsp;[[${list.no}]]&nbsp;&nbsp;&nbsp;</u></a>
									</td>
									<td>[[${list.getPurchaseOrder.no}]]</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

<!-- 거래명세서 모달창 -->
<div class="modal fade" id="modal" >
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
		
            <!-- header title -->
				<h4 class="modal-title">거래명세서 발행</h4>
             <!-- 닫기(x) 버튼 -->
					<button type="button" class="close" data-dismiss="modal">×</button>
			
			</div>
						
			<!-- body -->
			<!-- style="width:210mm; height: 297mm;" A4용지 사이즈 -->
			<div class="modal-body">
				<div class="modal-body">
      <th:block th:replace="~{/procurement3/transactionDetail :: setLogin(~{this::login} )}"></th:block>
     </div>
				<!--여기에 외부에서 작성한 테이블 들어옴--></div>
						
			<!-- Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.ls-modal').on('click', function(e){
	  e.preventDefault();
	  $('#modal').modal('show').find('.modal-body').load($(this).attr('href'));
	});
</script>

	</th:block>

</th:block>
</html>