<style>
html,body {
	margin:0px;
	padding:0px;
}
body, h1, h2, h3, h5, h6, li, p { 
	font-family: sans-serif, '맑은고딕', 'MalgunGothic' !important;
}
ul,li {
	margin:0px;
	padding:0px;
	list-style:none;
}
#wrap {
	margin:0 auto;
	text-align:center;
}
.container {
	overflow:hidden;
	margin:0 auto;
	width:220px;
	text-align:left;
	font-size:11px;
}
.order {
	padding-top:20px;
	font-weight:900;
	font-size:13px
}
.adress {
	letter-spacing:2.8px;
}
.info {
	margin-bottom:2px;
}
.info2 {
	line-height:2;
}
.info2:last-child {
	font-size:13px;
	font-weight:700
}
.pay {
	margin-bottom:-7px
}
.price {
	display:inline-block;
	float:right;
	padding-right:4px;
}
.title > li{
	display:inline-block;
	padding-right:25px;
}
.orders > li {
	display:inline-block;
	padding-right:23px;
}
.title > li:last-child, .orders > li:last-child {
	float:right;
	padding-right:4px;
}
.vat {
	display:inline-block;
	margin:3px 0px;
	line-height:1.5;
}
.vat:first-child {
	padding-left:30px;
}
.vat:last-child {
	float:right;
	padding-right:4px;
	text-align:right;
}
#noprint {
	margin-top:20px;
	padding:12px 20px;
	border:0px;
	background-color:#44a8ff;
	color:#fff;
	font-size:20px;
	font-weight:bold
}
@media print {
  #noprint { 
	display:none;
	}
}
</style>
<div id="wrap">
	</div>
	<div>
	<div class="card-body">
						<p class="card-title"><b>구매 발주서</b></p>
						
						<!--거래명세서 회사 정보-->
					<!--거래명세서 품목 정보-->
						<div class="table-responsive" th:each="dto: ${myPublishDTO}">
						<h4> 발주서 번호: [[${dto.pono}]]</h4>
						<h4> 협력 회사 : [[${dto.cname}]]</h4>
						<h4> 발주 일자: [[${#temporals.format(dto.purchaseOrderDate, 'yyyy/MM/dd')}]]</h4>
						<h4> 납기 예정일: [[${#dates.format(dto.due_date, 'yyyy/MM/dd')}]]</h4>
						<br>
							<table id="transactionDetail">
								<thead>
									<tr>
										<th>발주코드</th>
										<th>품목코드</th>
										<th>품목명</th>
										<th>발주 수량</th>
										<th>단가</th>
										<th>공급<br>가격</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="dto: ${myPublishDTO}">
										<td>[[${dto.pocode}]]</td>
										<td>[[${dto.mname}]]</td>
										<td>[[${dto.mname}]]</td>
										<td>[[${dto.ppamount}]]</td>
										<td>[[${dto.unit_price}]]</td>
										<td>[[${dto.supply_price}]]</td>
									</tr>
									
								</tbody>
							</table>
							<br>

					</div>
	</div>
	<button id="noprint" onclick="pops();">인쇄하기</button>
<script>
function pops(){
	window.print();
	aaa();
	return false;
}
</script>