<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setLogin(login)">

	<body>
		<div class="publish">
			<form th:action="@{/procurement2/progressCheck}" th:method="POST">
				<style>
html,body {
	margin:5px;
	padding:5px;
}

table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse : collapse;
  font-size: 13px;

}

th, td {
  border: 1px solid #444444;
  padding: 10px;
  text-align: center;
}
</style>
<div id="avg2">
						<br>
						<p class="card-title"><b>진척 평가</b></p>
						지난 검사 기록
						<br>
						
						<!--거래명세서 품목 정보-->
						<div class="table-responsive">
							<table id="transactionDetail">
								<thead>
									<tr>
										<th>-</th>
										<th>날짜</th>
										<th>납기 진도율</th>
										<th>기타사항</th>
										
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
									</tr>
								</tbody>
							</table>
							<br>
						***** 회사의 *****  제작 진척도를 입력합니다.
							<br>
								<input type="text"><input type="text">
							<br>
							<button>등록</button>
						</div>
						<br>
						<br>
						</div>

		</form>
</div>

</body>
</th:block>
<th:block th:fragment="setLogin2(login2)">
<body>
***** 회사의 ***** 일정 등록입니다.<br>
<input type="date">&nbsp;<br>
<div id="parah"></div>
<script>
var arrInput = new Array(0);
  var arrInputValue = new Array(0);
 
function addInput() {
  arrInput.push(arrInput.length);
  arrInputValue.push("");
  display();
}
 
function display() {
  document.getElementById('parah').innerHTML="";
  for (intI=0;intI<arrInput.length;intI++) {
    document.getElementById('parah').innerHTML+=createInput(arrInput[intI], arrInputValue[intI]);
  }
}
 
function saveValue(intId,strValue) {
  arrInputValue[intId]=strValue;
}  
 
function createInput(id,value) {
  return "<input type='date' id='test "+ id +"' onChange='javascript:saveValue("+ id +",this.value)' value='"+ 
 
value +"'><br>";
}
 
function deleteInput() {
  if (arrInput.length > 0) { 
     arrInput.pop(); 
     arrInputValue.pop();
  }
  display(); 
}
</script>
<form method="post" action="test.jsp">
<input type="button" value="추가" onclick="addInput();" />
<input type="button" value="삭제" onclick="deleteInput();"/>
<input type="submit" value="전송"/>
</form>
</body>


</th:block>