<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{::content})}">
	<th:block th:fragment="content">

<style>
.search-box {
    position: relative;        
    float: right;
}
.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

   
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6pxrow
}
.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}    
</style>

		<div class="col-md-12 stretch-card">
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">진척검수 일정등록 및 평가</p>
					<br>
                    <div class="row" style="margin-bottom: 5px;">
						<!-- 목록 내려보기 시작 -->
						<div class="col-md-6"> 
							<form>
								<div style="display:inline-block;">
									<select class="custom-select mr-sm-2"  style="display:inline-block;">
										<option selected>검색 조건 선택</option>
										<option value="1">대분류</option>
										<option value="2">중분류</option>
										<option value="3">품목코드</option>
										<option value="4">품목명</option>
									</select>
								</div> 
								&nbsp;	
								<input type="text" style="width: 150px; height: 40px; display:inline-block;" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
								&nbsp;
								<div style="display:inline-block;"> 
									<button class="btn btn-primary" style="display:inline-block;">검색</button>
								</div>
							</form>
						</div> 
						<!-- 목록 내려보기 끝 -->
					</div>	
					<div class="table-responsive">
						<!-- 테이블 시작 -->
						<table id="recent-purchases-listing" class="table" style="text-align: center;">
							<thead>
								<tr>
									<th>발주<br>코드</th>
									<th>협력<br> 회사</th>
									<th>조달납기<br>  예정일</th>
									<th>품목</th>
									<th>발주 수량</th>
									<th>단가</th>
									<th>다음 진척<br>검수 일정</th>
									<th>진척 검수일정<br> 등록</th>
									<th>진척 평가</th>
									<th>납기 <br>진도율</th>
									<th>검수 완료</th>
									<th>발주서<br>마감<br> 상태</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="dto: ${pCheckList}" id="trList">
									<td><input type="hidden" name="purchaseOrderCode" th:value="${dto.purchaseOrderCode}">[[${dto.showPurchaseOrderCode}]]</td>
									<td><input type="hidden" name="companyName" th:value="${dto.companyName}">[[${dto.companyName}]]</td>
									<td><input type="hidden" name="dueDate" th:value="${dto.dueDate}">[[${#dates.format(dto.dueDate, 'yyyy/MM/dd')}]]</td>
									<td><input type="hidden" name="materialName" th:value="${dto.materialName}">[[${dto.materialName}]]</td>
									<td><input type="hidden" name="orderAmount" th:value="${dto.orderAmount}">[[${dto.orderAmount}]]</td>
									<td><input type="hidden" name="unitPrice" th:value="${dto.unitPrice}">[[${dto.unitPrice}]]</td>
									<td><input type="hidden" name="nextCheckDate" th:value="${dto.nextCheckDate}">[[${dto.nextCheckDate}]]</td>
									<!-- 조달계획의 버튼 <button type="submit" id="data" class="btn btn-primary" style="float: right;" onclick="aaa()">데이터 보낼거야</button> -->
									<td id="myadd">
									<button name="checkBox" class="td-modal btn btn-primary addClass" id="addDateBtn" >일정 등록</button>
									</td>
									<td>
									<button class="td-modal btn btn-primary avgClass" id="avgBtn" >평가</button>
									</td>
									<td><input type="hidden" name="diliveryPercent" th:value="${dto.diliveryPercent}">[[${dto.diliveryPercent}]]</td>
									<td><input type="hidden" name="etc6" th:value="${dto.etc}">[[${dto.inspectionComplete}]]</td>
									<td>[[${dto.purchaseOrderDeadlineStatus}]]</td>
								</tr>
							</tbody>
						</table>
						<!-- 테이블 끝 -->
						<!-- 페이지 번호 시작 -->
						<div class="clearfix">
							<div class="hint-text">
								Showing <b>5</b> out of <b>25</b> entries
							</div>
							<ul class="pagination">
								<li class="page-item disabled">
									<a href="#"> 
										<< <i class="fa fa-angle-double-left"></i>
									</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">1</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">2</a>
								</li>
								<li class="page-item active">
									<a href="#" class="page-link">3</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">4</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">5</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">
										>> <i class="fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- 페이지 번호 끝 -->
					</div>
				</div>
			</div>
		</div>
		
		<!-- 일정 등록을 눌렀을때 모달창 시작 -->
		<div class="addDate modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">진척검수 일정 등록</h5>
                    </div>
                    <div class="modal-body" >
						
						<h4><span id="companyName2">(여기에 회사 이름이 들어감)</span>의 진척검수 일정 등록입니다.&nbsp;<br>
						진척검수일을 입력해 주세요</h4>
						&nbsp;<br>
						<div>
							<input type="date" name="namemydate" id="idmydate">
						</div>
						&nbsp;<br>
						<div class="sendDate22">
							<button id="pg22" class="btn btn-primary sendDate" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
								등록
							</button>
						</div>
                    </div>
                    <div class="modal-footer">
						<button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
						닫기
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 일정 등록을 눌렀을때 모달창 끝 -->
		<!-- 체크박스 선택을 아예 안했을 경우 뜨는 모달창 시작 -->
		<div class="wrongCheckDateModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">진척 평가 등록일이 아닙니다.</h5>
                    </div>
                    <div class="modal-body" >
						<span>오늘은 진척 평가 등록일이 아닙니다. <br>검수일에 평가를 등록해 주세요.</span><br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 체크박스 선택을 아예 안했을 경우 뜨는 모달창 끝 -->
		
		<!-- 체크박스 시작 -->


		<!--진척 평가 모달창 시작-->
		<div class="addAvg modal" tabindex="-1" role="dialog">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    	<h5 class="modal-title">진척 평가</h5>
                    </div>
                    <div class="modal-body" >
						<span id="companyName3">(여기에 회사 이름이 들어감)</span>  제작 진척도를 입력합니다.
						<p class="card-title"><b></b></p>
						
						<!--거래명세서 품목 정보-->
						<div class="table-responsive">
								<table id="poInfo" border="1">
									<tbody id="tbody01" >
									</tbody>
								</table>
								<div id="diliveryPercent3">
										지난 검사의 납기 진도율은 <span id="diliveryPercent3">납기 진도율</span> 입니다.
										
								</div>
								<div id="diliveryEtc3">
										여기에 기타 사항<span id="diliveryEtc3"> </span> 입니다.
										
								</div>
									<!-- 동적 테이블 부분-->
							<br><!--여기에 조건을 걸어서 다른 날이면 안 보여줌 -->
								<div>납기 진도율: <input id="idpercent" type="number"></div>
								<br> <div>기타 사항: <input id="idetc" type="text"></div>
						</div>
						<br>
						<br>
                    </div>
                    <div class="modal-footer">
						<button class="btn btn-primary sendAvg" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							입력
						</button>
						<button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							닫기
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--진척 평가 모달창 끝-->
		
		<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
		<script th:inline="javascript" type="text/javascript">
		//일정 등록 버튼을 누르면
		var codeNo='';
		var todaydate;
		// 현재 날짜 객체 생성
		var today = new Date();
		var year = today.getFullYear();
		var month = today.getMonth() + 1; // 월은 0부터 시작하므로 1을 더해줌
		var day = today.getDate();
		todaydate = (year + '/' + month + '/' + day);//오늘 날짜 예쁘게 찍기
		//오늘이 아니면 오늘은 검수일이 아닙니다. 등록할 수 없습니다.
		var nDate = null;
		$(".addClass").click(function(){
			$(".addDate").modal('show');
			console.log("일정 추가 버튼을 누름");
			//location.href="/procurement2/progressCheck?checkBox="+cList[0];
			//var searchCompanyTR = new Object();
			//console.log("tr 전역변수 만들고 난 값 : ",searchCompanyTR);
			//순서: 발주번호, 회사이름, 납기일, 물품이름, 주문수량, 단가, 다음 진척검수일
			//총 7개
			var pCode= getObjTR().querySelector("input[name=purchaseOrderCode]").value;
			var cName= getObjTR().querySelector("input[name=companyName]").value;
			var dDate= getObjTR().querySelector("input[name=dueDate]").value;
			var mName= getObjTR().querySelector("input[name=materialName]").value;
			var oAmount= getObjTR().querySelector("input[name=orderAmount]").value;
			var uPrice= getObjTR().querySelector("input[name=unitPrice]").value;
			var nDate= getObjTR().querySelector("input[name=nextCheckDate]").value;
			var dPercent= getObjTR().querySelector("input[name=diliveryPercent]").value;
			var pEtc= getObjTR().querySelector("input[name=etc6]").value;
			console.log("발주코드: ",pCode);//잘나옴
			console.log("회사이름: ",cName);
			console.log("납기일: ",dDate);
			console.log("물품이름: ",mName);
			console.log("주문수량: ",oAmount);
			console.log("단가: ",uPrice);
			console.log("다음 진척검수일: ",nDate);
			console.log("납기 진도율: ",dPercent);
			console.log("기타사항: ",pEtc);
			codeNo=getObjTR().querySelector("input[name=purchaseOrderCode]").value;//여기에서 값 넣어서 날짜등록으로 보내보기
			console.log("등록할때 필요한 발주번호: ",codeNo);//잘나옴
			document.querySelector("#companyName2").innerHTML = cName;
			
		});

		$(".avgClass").click(function(){
			$(".addDate").modal('hide');
			console.log("평가 버튼을 누름");
			$(".addAvg").modal('show');
			//순서: 발주번호, 회사이름, 납기일, 물품이름, 주문수량, 단가, 다음 진척검수일
			//총 7개
			var pCode= getObjTR().querySelector("input[name=purchaseOrderCode]").value;
			var cName= getObjTR().querySelector("input[name=companyName]").value;
			var dDate= getObjTR().querySelector("input[name=dueDate]").value;
			var mName= getObjTR().querySelector("input[name=materialName]").value;
			var oAmount= getObjTR().querySelector("input[name=orderAmount]").value;
			var uPrice= getObjTR().querySelector("input[name=unitPrice]").value;
			nDate= getObjTR().querySelector("input[name=nextCheckDate]").value;
			var dPercent= getObjTR().querySelector("input[name=diliveryPercent]").value;
			var pEtc= getObjTR().querySelector("input[name=etc6]").value;
			console.log("발주코드: ",pCode);//잘나옴
			console.log("회사이름: ",cName);
			console.log("납기일: ",dDate);
			console.log("물품이름: ",mName);
			console.log("주문수량: ",oAmount);
			console.log("단가: ",uPrice);
			console.log("다음 진척검수일: ",nDate);
			console.log("납기 진도율: ",dPercent);
			console.log("기타사항: ",pEtc);
			
			document.querySelector("#companyName3").innerHTML = cName;
			if(dPercent=="미등록"){
				document.querySelector("#diliveryPercent3").innerHTML = `지난 검사 기록이 존재하지 않습니다`;
				document.querySelector("#diliveryEtc3").innerHTML = ` `;	//이렇게 안하면 아래의 내용이 뜸
			}else{
				var tableTd01 = '<tr>';
							tableTd01 += '<td>' + '회차' +'</td>';
							tableTd01 += '<td>' + '검수일' +'</td>';
							tableTd01 += '<td>' + '납기 진도율' +'</td>';
							tableTd01 += '<td>' + '기타 사항' +'</td>';
							tableTd01 += '</tr>';
						$('#tbody01').append(tableTd01);//여기서 축척됨
				document.querySelector("#diliveryPercent3").innerHTML = `지난 검사의 납기진도율은 `+dPercent+` 입니다. `;				
				document.querySelector("#diliveryEtc3").innerHTML = `지난 검사에서 기록한 기타사항은 " `+pEtc+`" 입니다. `;				
			}
			
			//document.querySelector("#etc3").innerHTML = pEtc;
			//날짜는 형태가 다르다 함document.querySelector("lastDate").innerHTML = nDate;
			
			//입력 버튼을 누르면
			$(".sendAvg").click(function(){
				console.log("평가 입력 버튼을 누름");
				var percent=document.getElementById('idpercent').value;
				var etc=document.getElementById('idetc').value;
				console.log("보낼 퍼센트: ", percent); 
				console.log("보낼 기타사항: ", etc); //여기까지 잘됨
				let myAvgList= new Array(); //여기에 4개 정도 보낼 생각
				myAvgList.push(percent);
				if(etc==''){
					myAvgList.push("없음");
				}else{
					myAvgList.push(etc);
					
				}
				myAvgList.push(pCode);//발주 코드
				console.log("발주번호", pCode);
				console.log("리스트 : ", myAvgList);
				
					$.ajax({
					type:"post",
					url:"/procurement2/progressCheck3",
					data: JSON.stringify(myAvgList),
					contentType :"application/json; charset=UTF-8",
					dataType: "json",
					success: function(data){
					console.log("받아온 데이터 : ",data);
					}
				})
				console.log("평가 등록~~ ");
				location.href="/procurement2/progressCheck";
				//}
			})
		});
		
		//진척검수 일정등록의 등록 버튼
		$(".sendDate").click(function(){
			console.log("날짜 등록 버튼을 누름");
			//날짜를 찍어 보자 
			//날짜, 발주 코드
			var cDate=document.getElementById('idmydate').value;
			console.log("날짜 나와라: ", cDate); //잘 나온다
			
			let myList= new Array(); //여기에 두개 넣어서 보낼 생각
			//let no= $(this).val();
			myList.push(cDate);
			myList.push(codeNo);//여기에 발주 코드 넣어서 보내기
			console.log("리스트 : ", myList);
			$.ajax({
				type:"post",
				url:"/procurement2/progressCheck2",
				data: JSON.stringify(myList),
				contentType :"application/json; charset=UTF-8",
				dataType: "json",
				success: function(data){
					console.log("받아온 데이터 : ",data);
				}
			})
			console.log("일정등록~~ ");
			location.href="/procurement2/progressCheck";
			
		});

		////////////////////////////////////////////////////////////////////////////////////
		//이벤트 발생한 요소의 상위의 TD 객체 찾기
		function getObj(){
		    var obj = event.srcElement
		    while (obj.tagName !='TD'){  //TD가 나올때까지의 Object추출
		        obj = obj.parentElement
		    }
		    return obj
		}
		
			//이벤트 발생한 요소의 상위의 TR 객체 찾기
		function getObjTR(){
		    var obj = event.srcElement
		    while (obj.tagName !='TR'){  //TR가 나올때까지의 Object추출
		        obj = obj.parentElement
		    }
		    return obj
		}
		
		</script>

	</th:block>

</th:block>
</html>