<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">
	<th:block th:fragment="content">

<style>
.search-box {
    position: relative;        
    float: right;
}
.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

   
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6pxrow
}
.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}    
</style>

		<div class="col-md-12 stretch-card">
			<div class="card">
				<div class="card-body">
					<p class="card-title">발주서 발행</p>
                  <form>
                    <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        <option selected>검색 조건 선택</option>
                        <option value="1">발주서 번호</option>
                        <option value="2">발주코드</option>
                        <option value="3">품목코드</option>
                        </select>
                    </div>
                    
                    <input type="text" style="width:150px;" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
                    <div class="col-auto my-1">
                      <button type="submit" class="btn btn-primary">검색</button>
                    </div>
                    </div>
                    </form>
					<!--<button type="submit" id="data" class="btn btn-primary" style="float: right;" onclick="aaa()">데이터 보낼거야</button>&nbsp;-->
					<!-- 발주서 발행 버튼 시작 -->
					<div class="col-md-6" >	
					<button type="submit" id="data" class="ls-modal btn btn-primary" data-toggle="modal" href="/procurement2/purchaseOrder?purchaseNo" data-target="#modal" style="float:right;" onclick="aaa()">발행 테스트</button>&nbsp;
							<button class="td-modal btn btn-primary" id="publishBtn" style="float: right;">발주서 발행</button>
						</div>
					<!-- 발주서 발행 버튼  끝-->
					
					 <button class="btn btn-primary" onclick="print();">인쇄</button>&nbsp;
					<div class="table-responsive">
						<table id="recent-purchases-listing" class="table"
							style="text-align: center;">
							<thead>
								<tr>
								<th>ch</th>
								<th>협력<br> 회사
								</th>
								<th>발주일</th>
								<th>조달납기<br> 예정일
								</th>
								<th>품목 공급<br> L/T
								</th>
								<th>최소<br> 발주일
								</th>
								<th>품목 코드</th>
								<th>품목명</th>
								<th>필요 수량</th>
								<th>발주 수량</th>
								<th>단가</th>
								<th>공급<br>가격
								</th>
								<th>발주서<br>발행 상태
								</th>
								<th>보낼정보(조달계획코드)</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="dto: ${purchaseOrderList}">
								<td>
									<input type="checkbox" name="checkBox" id="checkBox" th:value="${dto.procuremnetPlan}" onclick="myCheckBox()">
											<!-- 조달계획코드를 안보이게 보내야함 [[${dto.procuremnetPlan}]]-->
								</td>
								<td>[[${dto.companyName}]]</td>
								<td>[[${#temporals.format(dto.purchaseOrderDate, 'yyyy/MM/dd')}]]</td>
								<td>[[${#dates.format(dto.dueDate, 'yyyy/MM/dd')}]]</td>
								<td>[[${dto.supplyLT}]]</td>
								<td>[[${#dates.format(dto.minimumOrderDate, 'yyyy/MM/dd')}]]</td>
								<td>[[${dto.materialCode}]]</td>
								<td>[[${dto.materialName}]]</td>
								<td>[[${dto.needAmount}]]</td>
								<td>[[${dto.orderAmount}]]</td>
								<td>[[${dto.unitPrice}]]</td>
								<td>[[${dto.supplyPrice}]]</td>
								<td>[[${dto.purchaseOrderStatus}]]</td>
								<td>[[${dto.procuremnetPlan}]]</td>
							</tr>
							</tbody>
						</table>
						<!--페이지 번호 시작-->
                    <div class="clearfix">
                      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                      <ul class="pagination">
                          <li class="page-item disabled"><a href="#"> << <i class="fa fa-angle-double-left"></i></a></li>
                          <li class="page-item"><a href="#" class="page-link">1</a></li>
                          <li class="page-item"><a href="#" class="page-link">2</a></li>
                          <li class="page-item active"><a href="#" class="page-link">3</a></li>
                          <li class="page-item"><a href="#" class="page-link">4</a></li>
                          <li class="page-item"><a href="#" class="page-link">5</a></li>
                          <li class="page-item"><a href="#" class="page-link">>><i class="fa fa-angle-double-right"></i></a></li>
                      </ul>
                  </div>
                  <!--페이지 번호 끝-->
					</div>
					
				</div>
			</div>
		</div>
				<!-- 발주서 발행 모달창 시작 -->
		<div class="myPublish modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">발주서 발행 시작~</h5>
                    </div>
                    <div class="modal-body" >
                    <table id="transactionDetail" border="1">
								<thead>
									<tr>
										<th>발주코드</th>
										<th>품목코드</th>
										<th>품목명</th>
										<th>발주 수량</th>
										<th>단가</th>
										<th>공급<br>가격</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="dto: ${myPublishDTO}">
									<!-- <tr th:each="dto: ${myPublishDTO}"> -->
										<td>[[${dto.pocode}]]</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
									</tr>
								</tbody>
							</table>
							<br>
                    </div>
                    <div class="modal-footer">
                       <button  href="/procurement2/purchaseOrder?purchaseNo" class="btn btn-primary" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">발행
                       </button>
                      <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       </button>
                    </div>
                    </div>
                </div>
            </div>
		
		<!-- 체크박스 선택을 아예 안했을 경우 뜨는 모달창 시작 -->
		<div class="noPurchaseNoModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">발주서 번호 체크하기</h5>
                    </div>
                    <div class="modal-body" >
						<span>선택된 발주회사가 없습니다. <br>발주하고 싶은 발주서 번호를 선택해주세요.</span><br>
                    </div>
                    <div class="modal-footer">
                    
                      <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       </button>
                    </div>
                </div>
            </div>
        </div>

		
<!-- 체크박스 시작 -->

<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script th:inline="javascript" type="text/javascript">

$("#publishBtn").click(function(){//발주서 발행 버튼을 누르면
	$("input[name=checkBox]:checked").each(function(){	//체크한 것의 번호 가져옴
		const chkChecked = 'input[name="checkBox"]:checked';
		const selectedEls = document.querySelectorAll(chkChecked);
	})
	let cList =new Array();//체크한 번호를 담을 리스트
	
	$("input[name=checkBox]:checked").each(function(){
		let no= $(this).val();
		cList.push(no);	//리스트에 담는다				
	})
	
	cList.forEach((i) => console.log("내가 url에 보내고 싶은 값 cList >>> " + i));	
	console.log("길이가 찍히는 값>>> " + cList.length)
	console.log("번호 리스트 >>> ", cList);
	
	var purchaseNo='';//빈값 넣기
	
	if(cList.length===0){//체크하지 않고 버튼을 클릭한 경우
		$(".noPurchaseNoModal").modal('show');
		
		
	}else if(cList.length===1 ||cList.length<1){//한개 선택된 경우
		$(".myPublish").modal('show');//발주서 발행 모달
		console.log("발주서 발행 시작")
		
		
		$.ajax({
			type: "post",
			url: "/procurement2/publish",
			data: JSON.stringfy(cList),
			contentType :"application/json; charset=UTF-8",
			dataType: "json",
			success: function(data){
				console.log("받아온 데이터 : ",data);

				},
				error: function(xhr,status,er){
					if(error)
						error(er);
				}
			
		});
	}
	
/* 	for(let i=0;cList.lenth-1;i++){
		$(".myPublish").modal('show');
		$(".noPurchaseNoModal").modal('hide');
	} */
	
	
		
	});
	
var purchaseOrderList = [[${purchaseOrderList}]];
console.log("purchaseOrderList 입니다===>>",purchaseOrderList);

var codeList= new Array();
var dtoCode= new Object();

purchaseOrderList.forEach(function(item){
	dtoCode= item.code;
	codeList.push(dtoCode);
});

console.log("codeList가 제대로 오나 >>> ", codeList);
	
var purchaseNo = '';
function myCheckBox(){
	const chkChecked = 'input[name="checkBox"]:checked';
	const selectedEls = document.querySelectorAll(chkChecked);
	purchaseNo = '';
	
	selectedEls.forEach((el) => {
		purchaseNo += el.value + ' ';
  });
		console.log("purchaseNo 조달계획번호 여기>>> ", purchaseNo);
		
//	aaa();
	
	

};	
function aaa(){
	console.log("purchaseNo 조달계획번호 >>> ", purchaseNo);
	purchaseNo = purchaseNo.replaceAll(" ","");
	console.log("purchaseNo 조달계획번호 >>> ", purchaseNo);
	//아래 두개 없어도 잘됨
	//location.href="/procurement2/purchaseOrder?purchaseNo="+purchaseNo;
	//location.href="/procurement2/purchaseOrderPublish?purchaseNo="+purchaseNo;
};
</script>

	</th:block>

</th:block>
</html>