<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{::content})}">
	<th:block th:fragment="content">

<style>
.search-box {
    position: relative;        
    float: right;
}
.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

   
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6pxrow
}
.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}    
</style>

		<div class="col-md-12 stretch-card">
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">발주서 발행</p>
					<br>
                    <div class="row" style="margin-bottom: 5px;">
						<!-- 목록 내려보기 시작 -->
						<div class="col-md-6"> 
							<form>
								<div style="display:inline-block;">
									<select class="custom-select mr-sm-2"  style="display:inline-block;">
										<option selected>검색 조건 선택</option>
										<option value="1">대분류</option>
										<option value="2">중분류</option>
										<option value="3">품목코드</option>
										<option value="4">품목명</option>
									</select>
								</div> 
								&nbsp;	
								<input type="text" style="width: 150px; height: 40px; display:inline-block;" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
								&nbsp;
								<div style="display:inline-block;"> 
									<button class="btn btn-primary" style="display:inline-block;">검색</button>
								</div>
							</form>
						</div> 
						<!-- 목록 내려보기 끝 -->
						<!--<button type="submit" id="data" class="btn btn-primary" style="float: right;" onclick="aaa()">데이터 보낼거야</button>&nbsp;-->
						<!-- 발주서 발행 버튼 시작 -->
						<div class="col-md-6" >	
							<button style="float: right;" class="btn btn-primary" onclick="print();">
								인쇄
							</button>
							
							<button class="td-modal btn btn-primary mypublish" id="publishBtn" style="float:right; margin-right:10px">
								발주서 발행
								<tr th:each="dto: ${purchaseOrderList}">
								<input type="hidden" name="poDate" th:value="${dto.purchaseOrderDate}"></tr>
							</button>
							
						</div>
						<!-- 발주서 발행 버튼 끝 -->
					</div>
					<div class="table-responsive">
						<!-- 테이블 시작 -->
						<table id="recent-purchases-listing" class="table" style="text-align: center;">
							<thead>
								<tr>
									<th>ch</th>
									<th>협력<br> 회사
									</th>
									<th>발주일</th>
									<th>조달납기<br> 예정일
									</th>
									<th>품목 공급<br> L/T
									</th>
									<th>최소<br> 발주일
									</th>
									<th>품목 코드</th>
									<th>품목명</th>
									<th>필요 수량</th>
									<th>발주 수량</th>
									<th>단가</th>
									<th>공급<br>가격
									</th>
									<th>발주서<br>발행 상태
									</th>
									<th>보낼정보(조달계획코드)</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="dto: ${purchaseOrderList}">
									<td>
										<input class="showInfo" type="checkbox" name="checkBox" th:id="idcheckBox" th:value="${dto.procurementPlan}" >
												<!-- 조달계획코드를 안보이게 보내야함 [[${dto.procurementPlan}]]-->
												<!--총 13개의 정보companyName,purchaseOrderDate ,dueDate ,supplyLT ,minimumOrderDate
												materialCode ,materialName ,needAmount 
												,orderAmount ,unitPrice , supplyPrice, purchaseOrderStatus,  procurementPlan  -->
									</td>
									<td><input type="hidden" name="companyName" th:value="${dto.companyName}">[[${dto.companyName}]]</td>
									<td><input type="hidden" name="purchaseOrderDate" th:value="${dto.purchaseOrderDate}">[[${#temporals.format(dto.purchaseOrderDate, 'yyyy/MM/dd')}]]</td>
									<td><input type="hidden" name="dueDate" th:value="${dto.dueDate}">[[${#dates.format(dto.dueDate, 'yyyy/MM/dd')}]]</td>
									<td><input type="hidden" name="supplyLT" th:value="${dto.supplyLT}">[[${dto.supplyLT}]]</td>
									<td><input type="hidden" name="minimumOrderDate" th:value="${dto.minimumOrderDate}">[[${#dates.format(dto.minimumOrderDate, 'yyyy/MM/dd')}]]</td>
									<td><input type="hidden" name="materialCode" th:value="${dto.materialCode}">[[${dto.materialCode}]]</td>
									<td><input type="hidden" name="materialName" th:value="${dto.materialName}">[[${dto.materialName}]]</td>
									<td><input type="hidden" name="needAmount" th:value="${dto.needAmount}">[[${dto.needAmount}]]</td>
									<td><input type="hidden" name="orderAmount" th:value="${dto.orderAmount}">[[${dto.orderAmount}]]</td>
									<td><input type="hidden" name="unitPrice" th:value="${dto.unitPrice}">[[${dto.unitPrice}]]</td>
									<td><input type="hidden" name="supplyPrice" th:value="${dto.supplyPrice}">[[${dto.supplyPrice}]]</td>
									<td><input type="hidden" name="purchaseOrderStatus" th:value="${dto.purchaseOrderStatus}">[[${dto.purchaseOrderStatus}]]</td>
									<td><input type="hidden" name="procurementPlan" th:value="${dto.procurementPlan}">[[${dto.procurementPlan}]]</td>
								</tr>
							</tbody>
						</table>
						<!-- 테이블 끝 -->
						<!-- 페이지 번호 시작 -->
						<div class="clearfix">
							<div class="hint-text">
								Showing <b>5</b> out of <b>25</b> entries
							</div>
							<ul class="pagination">
								<li class="page-item disabled">
									<a href="#"> 
										<< <i class="fa fa-angle-double-left"></i>
									</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">1</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">2</a>
								</li>
								<li class="page-item active">
									<a href="#" class="page-link">3</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">4</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">5</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">
										>> <i class="fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- 페이지 번호 끝 -->
					</div>
				</div>
			</div>
		</div>
		
		<!-- 발주서 발행 모달창 시작 -->
		<div class="myPublish modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">발주서 발행 시작~</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				<span aria-hidden="true">&times;</span>
    					</button>
					</div>
                    <div class="modal-body" >
						<!-- 여기서 새로 작성해 보기 -->
	                    <h5>그냥 적어도 나오나</h5>
	                    <h5>
	                    체크박스를 체크하면 그 정보를 보내주기 
	                    
	                    </h5>
                    
	                    <div class="table-responsive" th:each="dto: ${myPublishDTO}">
							<h4> 발주서 번호: [[${dto.showPono}]]</h4>
							<h4> 협력 회사 : [[${dto.cname}]]</h4>
							<h4> 발주 일자: [[${#temporals.format(dto.purchaseOrderDate, 'yyyy/MM/dd')}]]</h4>
							<h4> 납기 예정일: [[${#dates.format(dto.due_date, 'yyyy/MM/dd')}]]</h4>
							
							<br>
	                    	<table id="transactionDetail" border="1">
								<thead>
									<tr>
										<th>발주코드</th>
										<th>품목코드</th>
										<th>품목명</th>
										<th>발주 수량</th>
										<th>단가</th>
										<th>공급<br>가격</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="dto: ${myPublishDTO}">
									<!-- <tr th:each="dto: ${myPublishDTO}"> -->
										<td>[[${dto.showPocode}]]</td>
										<td>[[${dto.mname}]]</td>
										<td>[[${dto.mname}]]</td>
										<td>[[${dto.ppamount}]]</td>
										<td>[[${dto.unit_price}]]</td>
										<td>[[${dto.supply_price}]]</td>
									</tr>
								</tbody>
							</table>
							<br>
                    	</div>
                    </div>
                    <div class="modal-footer">
						<button id="publishBtn22" href="/procurement2/purchaseOrder?purchaseNo" class="btn btn-primary" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							발행
						</button>
						<button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       </button>
					</div>
				</div>
			</div>
		</div>
		<!-- 발주서 발행 모달창 끝 -->
		
		<!-- 체크박스 선택을 아예 안했을 경우 뜨는 모달창 시작 -->
		<div class="noPurchaseNoModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">발주서 번호 체크하기</h5>
                    </div>
                    <div class="modal-body" >
						<span>선택된 발주회사가 없습니다. <br>발주하고 싶은 발주서 번호를 선택해주세요.</span><br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 체크박스 선택을 아예 안했을 경우 뜨는 모달창 끝 -->
				
		<!-- 발주서가 이미 존재하는 경우 뜨는 모달창 시작 -->
		<div class="existPurchaseOrderModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">이미 발주서가 발행되었습니다.</h5>
                    </div>
                    <div class="modal-body" >
						<span>발주서는 한 번만 발행할 수 있습니다. <br></span><br>
                    </div>
                    <div class="modal-footer">
                    
                      <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 발주서가 이미 존재하는 경우 뜨는 모달창 끝 -->
        
       	<!-- 여러개의 발주서 발행 모달창 시작 -->
		<div class="multiplePublish modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    	<h5 class="modal-title">1번 모달 창 한개 이상의 발주서 발행</h5>
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				<span aria-hidden="true">&times;</span>
    					</button>
                    </div>
                    
                    <div class="modal-body" >
	                    협력 회사: <span id="cName2">(회사이름)</span><br><!--회사이름은 다른 곳에 찍기 -->
							<!-- 발주코드, 품목코드, 품목, 발주수량, 단가, 공급가격 총 6개 -->
	                    <!--여기 있는거 대부분 지우기-->
						발주일자: <span id="today2">오늘 날짜</span><br>
	                    조달납기 예정일: <span id="dDate2">조달납기 예정일</span><br>
	                    품목 코드: <span id="mCode2">품목코드</span><br>
	                    품목명: <span id="mName2">품목명</span><br>
	                    주문수량 <span id="oAmount2">주문수량</span><br>
	                    단가: <span id="uPrice2">단가</span><br>
	                    공급가격: <span id="pPrice2">공급가격</span><br>
						<br>
						<table id="poInfo" border="1">
							<thead>
								<tr>
									<th>발주코드</th>
									<th>품목코드</th>
									<th>품목</th>
									<th>발주수량</th>
									<th>단가</th>
									<th>공급가격</th>
								</tr>
							</thead>
							<tbody id="detail">
								<!-- 동적 테이블 부분-->
								
							</tbody>
						</table>
                    
		               <!-- 
		                총 7개 cName2, dDate2,mCode2, mName2,oAmount2, uPrice2,pPrice2
		                -->
                    </div>
                    <div class="modal-footer">
						<button id="publishBtn22" href="/procurement2/purchaseOrder?purchaseNo" class="btn btn-primary" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							발행
						</button>
						<button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							취소
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 여러개의 발주서 발행 모달창 끝 -->
		
			<!-- 두 번째 여러개의 발주서 발행 모달창 시작 -->
		<div class="multiplePublish2 modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    	<h5 class="modal-title">2번 모달창 한개 이상의 발주서 발행</h5>
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				<span aria-hidden="true">&times;</span>
    					</button>
                    </div>
                    
                    <div class="modal-body" >
	                    협력 회사: <span id="cName2">(회사이름)</span><br><!--회사이름은 다른 곳에 찍기 -->
							<!-- 발주코드, 품목코드, 품목, 발주수량, 단가, 공급가격 총 6개 -->
	                    <!--여기 있는거 대부분 지우기-->
						발주일자: <br>
	                    조달납기 예정일: <span id="dDate2">조달납기 예정일</span><br>
	                    품목 코드: <span id="mCode2">품목코드</span><br>
	                    품목명: <span id="mName2">품목명</span><br>
	                    주문수량 <span id="oAmount2">주문수량</span><br>
	                    단가: <span id="uPrice2">단가</span><br>
	                    공급가격: <span id="pPrice2">공급가격</span><br>
						<br>
						<table id="poInfo" border="1">
							<thead>
								<tr>
									<th>발주코드</th>
									<th>품목코드</th>
									<th>품목</th>
									<th>발주수량</th>
									<th>단가</th>
									<th>공급가격</th>
								</tr>
							</thead>
							<tbody id="detail">
								<!-- 동적 테이블 부분-->
								
							</tbody>
						</table>
                    
		               <!-- 
		                총 7개 cName2, dDate2,mCode2, mName2,oAmount2, uPrice2,pPrice2
		                -->
                    </div>
                    <div class="modal-footer">
						<button id="publishBtn22" href="/procurement2/purchaseOrder?purchaseNo" class="btn btn-primary" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							발행
						</button>
						<button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							취소
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 두 번째 여러개의 발주서 발행 모달창 끝 -->

		<!-- 스크립트 시작 -->
		<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
		<script th:inline="javascript" type="text/javascript">
		//////
		var clNo=''; //cList의 값 갖고 보낼 부분
		let tList =new Array();
		$(".showInfo").click(function(){
			console.log("내가 원하는 정보를 담고있는 체크박스를 누름");
			//여기서 리스트에 담아서 길이만큼 반복해서 열어주기
			
			//총 13개의 정보companyName, purchaseOrderDate ,dueDate ,supplyLT ,minimumOrderDate
			//		materialCode , materialName ,needAmount 
			//,orderAmount ,unitPrice , supplyPrice, purchaseOrderStatus,  procurementPlan  -->
			var cName= getObjTR().querySelector("input[name=companyName]").value;
			var poDate= getObjTR().querySelector("input[name=purchaseOrderDate]").value;
			var dDate= getObjTR().querySelector("input[name=dueDate]").value;
			var date2 = new Date(dDate);
			var year2 = date2.getFullYear();
			var month2 = ('0' + (date2.getMonth() + 1)).slice(-2);
			var day2 = ('0' + date2.getDate()).slice(-2);
			dDate = year2 + '/' + month2 + '/' + day2;
			var LT= getObjTR().querySelector("input[name=supplyLT]").value;
			var mDate= getObjTR().querySelector("input[name=minimumOrderDate]").value;
			var mCode= getObjTR().querySelector("input[name=materialCode]").value;
			var mName= getObjTR().querySelector("input[name=materialName]").value;
			var nAmount= getObjTR().querySelector("input[name=needAmount]").value;
			var oAmount= getObjTR().querySelector("input[name=orderAmount]").value;
			var uPrice= getObjTR().querySelector("input[name=unitPrice]").value;
			var sPrice= getObjTR().querySelector("input[name=supplyPrice]").value;
			var poStatus= getObjTR().querySelector("input[name=purchaseOrderStatus]").value;
			var pPlan= getObjTR().querySelector("input[name=procurementPlan]").value;
			var pPrice = uPrice*oAmount;//payPrice 단가 * 발주수량
			//내가 필요한 것만 찍어내기 
			//만들어 보여줄 내용: 발주서 번호, 발주 코드, 오늘날짜 
			//가져올 수 있는 것 총 7개 : 1. 협력회사, 2.품목명 3. 납기 예정일 4. 품목코드 5. 발주수량 6. 단가 7. 공급가격
			//추가로 필요한 정보 : 발행할 발주서의 갯수
			console.log("companyName: ", cName);
			//console.log("dueDate: ", dDate);
			//console.log("materialCode: ", mCode);
			//console.log("materialName: ", mName);
			//console.log("orderAmount: ", oAmount);
			//console.log("unitPrice: ", uPrice);
			//console.log("payPrice: ", pPrice);
			// 현재 날짜 객체 생성
			var today = new Date();
			var year = today.getFullYear();
			var month = today.getMonth() + 1; // 월은 0부터 시작하므로 1을 더해줌
			var day = today.getDate();
			var todaydate = (year + '/' + month + '/' + day);
			
			//값을 넣어서 보내주는 구간
			document.querySelector("#cName2").innerHTML = cName;
			document.querySelector("#dDate2").innerHTML = dDate;
			document.querySelector("#mCode2").innerHTML = mCode;
			document.querySelector("#mName2").innerHTML = mName;
			document.querySelector("#oAmount2").innerHTML = oAmount;
			document.querySelector("#uPrice2").innerHTML = uPrice;
			document.querySelector("#pPrice2").innerHTML = pPrice;//잘 나옴
			document.querySelector("#today2").innerHTML = todaydate;//오늘 날짜 만들어서 넣기
			//테이블 만들어서 보여주기
			
			tList = [[${purchaseOrderList}]];
			console.log("tList>> 발주서 발행화면 시작");
			console.log("tList 리스트 ~~~~", tList);
			//tList.forEach((i) => console.log("내가 url에 보내고 싶은 값 cList >>>~~~  "+ i));//여기 오브젝트로 나옴	
			//console.log("길이가 찍히는 값, 총 개수: " + tList.length)
	});
	
			$(".mypublish").click(function(){
				//발행 버튼 누름
				console.log("밖에 있는 발행버튼 누름");
				
				$("input[name=checkBox]:checked").each(function(){	//체크한 것의 번호 가져옴
					const chkChecked = 'input[name="checkBox"]:checked';
					const selectedEls = document.querySelectorAll(chkChecked);
					
				})
				
				let cList =new Array();//체크한 번호를 담을 리스트
				$("input[name=checkBox]:checked").each(function(){
					let no= $(this).val();
					no = Number(no);//숫자로 담아진다. 그냥 두면 문자로 담아줌
					cList.push(no);	//리스트에 담는다				
					
				});
				//cList.forEach((i) => console.log("내가 url에 보내고 싶은 값 cList >>> " + i));	//이거 두번 나옴;;
				//console.log("길이가 찍히는 값>>> " + cList.length)
				console.log("번호 리스트 >>> ", cList);	//잘 나옴
				
				//cList길이만큼 반복 해보기
				for (let q = 0; q < cList.length; q++) {	//두 번씩 실행되서 나옴
    				console.log("반복문 실험",q);
					//여기에서 담아서 걸러주기
					//$(".myPublish").modal("show");	//여기가 보여주기 시작 반복해서 보여주기
					if(cList.length!=null){
						$(".multiplePublish").modal("show");	//여기가 보여주기 시작 반복해서 보여주기
						//console.log("1번 모달창 실행");
						//console.log("cList의 길이가 변하나",cList.length);
						//console.log("cList의 pop하기 전",cList);
						cList.pop([0]);//나중에 들어간 것 부터 나온다			
						//console.log("cList의 pop하고 후",cList);
					}
				//cList가 0일 때까지 반복하기, 너무 빨라서 안보이는거라 함
				}
				
				function openModalWithDelay(index) {
    			let $modal = $(".multiplePublish2").eq(index);
    			//console.log("2번으로 진행");
    			console.log("2번 모달창 실행");
    			//2번 모달창이 먼저 실행되고, 아무 정보도 나오지 않는다. 
    			$modal.modal("show");
    			$modal.find('.close').on('click', function() {
       			$modal.modal("hide");
   				 });

    			$modal.on("hide.bs.modal", function (e) {
        		//e.preventDefault();//이거 끄면 안 닫혀서 그냥 함
        		e.stopImmediatePropagation();
    			});
				}

				for (let j = 0; j < cList.length; j++) {
					//console.log("1번으로 진행");
    				openModalWithDelay(j);
				}
				
				//동적인 테이블 시작
				//두개 선택하면 값이 누적되어 나옴
				let mylength = new Array();
				for(var i =0; i<tList.length; i++){//총 **길이** 만큼 반복 모두 가지고 있는 것: tList
					var mycheck = tList[i];
					var ppNo = mycheck.procurementPlan;//발주서 번호를 출력하는 것
					//console.log("ppNo: ", ppNo); tList의 모든 조달번호
					
					for(var j =0; j<tList.length; j++){//cList를 비교해서 같은 것을 가져오기
						var checkC = cList[j];
						if(checkC == ppNo){ //조달번호와 cList의 갑이 같은 것 출력
							clNo = checkC;
							//mylength.push(clNo);//나온 발주 번호를 리스트에 저장
							//console.log("리스트에 담은 내 조달번호 ",mylength);
							//이 아래걸 한번 만 실행하는 것 부터 해보기
							console.log("내가 선택한 계획서 번호: ", clNo);//선택한 것 잘 나옴
							
							//두개 선택하면 4줄 나오는데 어떻게 한 줄만 보여주지>>,,
							//2개를 선택하면 2*2 모든 값의 제곱이 된다. 
							var tableTd01 = '<tr>';
								tableTd01 += '<td>' + "발주코드" +'</td>';
								tableTd01 += '<td>' + tList[i].materialCode +'</td>';
								tableTd01 += '<td>' + tList[i].materialName +'</td>';
								tableTd01 += '<td>' + tList[i].orderAmount +'</td>';
								tableTd01 += '<td>' + tList[i].unitPrice +'</td>';
								tableTd01 += '<td>' + tList[i].supplyPrice +'</td>';
								tableTd01 += '</tr>';
								
								//여기서도 개수만큼만 나옴
							//$('#detail').append(tableTd01);//여기서 축척됨
							
							}
						}
					}
					//이 밖에 있으면 마지막 값만 선택한 갯수만큼 나옴
					$('#detail').append(tableTd01);//여기서 축척됨
				
				
				});
			


			//	const bb = purchaseOrderList;
				//console.log("00000000purchaseOrderList2 입니다===>>",bb);
				//변수명 너무 기니까 bb로 쓰기 
				
			//	var needNum2=1;//여기에 원하는 자리수 숫자의 날짜 담기
			//	for(let num6 = 0;num6<bb.length; num6++){
				//	var check = bb[num6];
				//	var ppNo = check.procurementPlan;
				//	if(ppNo==num1){//내가 원하는 조달번호
					//	if(check.purchaseOrderDate==null){
					//		console.log("빈 날짜인 경우","숫자 확인: ",num1, "발주번호 확인: ", check.procurementPlan);
							//$(".myPublish").modal("show");
					//	}else{
					//		console.log("이게 나와라 ..",check.purchaseOrderDate,"숫자 확인: ",num1);
					//		$(".existPurchaseOrderModal").modal("show");//이미 발주서가 존재합니다. 
					//	}
					
					//}
					
					//needNum2 =num6;
					//console.log("needNum2 >>> ",needNum2);
					//console.log("orderDateList의 ", num6," 번째의 값: ",orderDateList[num6]);
					//console.log("orderDateList의 +1 로 해서 숫자가 나오는 ", num3+1," 번째의 값: ",orderDateList[num3]);
					//내가 원하는 발주서의 길이만큼 반복해서 마지막 날이 null이면 이미 발행가능, 존재하면 발행불가
				//}
			
		
		$("#publishBtn22").click(function(){//모달창에서 발주서 발행 버튼을 누르면
			console.log("발주서 진짜 발행을 눌러봐요>>> ");
			//여기에서 체크번호 받고 그 번호를 전달하기
			//발주서 발행 버튼을 클릭했을때 
			var mych=window.location.search;
			const last2 = mych.substring(10);//""?checkBox="이렇게 찍히면 10번 자리부터 자르기(길이는 11) 
			
			//const last = mych.substr(-1);//문자의 마지막 글자
			
			//console.log(last); //이 문자를 보내기
			//여기서 checkBox라는 이름으로 보내기
			//location.href="/procurement2/purchaseNo?checkBox2="+last2;//리다이렉트 잘 된다. 
			
		});
		
		$(".mypublish").click(function(){
			//발주서 발행 버튼을 누르면, 클래스로 가져와야 tr, td정보 불러오기 가능
			let cList =new Array();//체크한 번호를 담을 리스트
			//console.log("orderDateList[0]가 제대로 오나 >>> ", orderDateList[0])
			
			
			$("input[name=checkBox]:checked").each(function(){	//체크한 것의 번호 가져옴
				const chkChecked = 'input[name="checkBox"]:checked';
				const selectedEls = document.querySelectorAll(chkChecked);
				
			})
			
			$("input[name=checkBox]:checked").each(function(){
				let no= $(this).val();
				no = Number(no);//숫자로 담아진다. 그냥 두면 문자로 담아줌
				cList.push(no);	//리스트에 담는다				
				
			})
			
			////////여기 시작 실험
			//$(".multiplePublish").modal("show");
			
			var purchaseNo='';//빈값 넣기
			
			if(cList.length===0){//체크하지 않고 버튼을 클릭한 경우
				$(".noPurchaseNoModal").modal('show');
				console.log("아무것도 선택하지 않음===>>");
				
			}else if(cList.length===1 || cList.length<1){//한개 선택된 경우
				//$(".myPublish").modal('show');//발주서 발행 모달
				console.log("발주서 발행 시작", cList);
				
				//발주서 발행 버튼을 클릭했을때 
				//location.href="/procurement2/purchaseOrder?checkBox="+cList[0];잠시 멈춰둠 이거 없애면 리스트가 잘 나온다.
				
			}else if(cList.length>1){
				console.log("체크박스가 2개 이상 선택됨");
				//만약 같은 회사, 이미 발주된 것
				//$(".myPublish").modal('show');//조건이 없어서 빈칸으로 뜸
				//var pCode= getObjTR().querySelector("input[name=purchaseOrderCode]").value;
				//console.log("발주코드: ",pCode);
				console.log("cList[0]...: ",cList[0],cList[1]);
				cList.forEach((i) => console.log("내가 url에 보내고 싶은 값 cList >>> " + i));
				//for 길이 구하고 
				var codeList7= new Array();
				var orderDateList7= new Array();
				var dtoOrderDate7= new Object();
				var dtoCode7= new Object();
				
				cList.forEach(function(item){
				dtoCode7= item.code;
				codeList7.push(dtoCode7);
				});
				//location.href="/procurement2/purchaseOrder?checkBox="+cList[0]+"&checkBox3="+cList[1];
				
				const cc = purchaseOrderList;
				var num1 = cList[0];
				
				
				for(let num6 = 0;num6<cc.length; num6++){
					var check2 = cc[num6];
					var ppNo = check2.procurementPlan;
					if(ppNo==num1){//내가 원하는 조달번호
						if(check2.purchaseOrderDate==null){
							console.log("빈 날짜인 경우","숫자 확인: ",num1, "발주번호 확인: ", check2.procurementPlan);
							//$(".myPublish").modal("show");
						}else{
							
						}
					
					}
			}
			}
			
			});
			
			
			
		var purchaseOrderList = [[${purchaseOrderList}]];
		//console.log("purchaseOrderList 입니다===>>",purchaseOrderList);//이거 잘 나옴
		
		var codeList9= new Array();
		var orderDateList= new Array();
		var dtoOrderDate= new Object();
		var dtoCode= new Object();
		
		purchaseOrderList.forEach(function(item){
			dtoCode= item.code;
			codeList9.push(dtoCode);
		});
		
		//purchaseOrderList.forEach(function(item){
		//	dtoOrderDate= item.purchaseOrderDate;
		//	orderDateList.push(dtoOrderDate);
		//});
		
		console.log("codeList가 제대로 오나 >>> ", codeList9);//발주 번호만 나옴
		
		var purchaseNo = '';
		function myCheckBox(){
			const chkChecked = 'input[name="checkBox"]:checked';
			const selectedEls = document.querySelectorAll(chkChecked);
			purchaseNo = '';
			
			selectedEls.forEach((el) => {
				purchaseNo += el.value + ' ';
		  });
				console.log("purchaseNo 조달계획번호 여기>>> ", purchaseNo);
		
		
		};	
		
		////////////////////////////////////////////////////////////////////////////////////
		//이벤트 발생한 요소의 상위의 TD 객체 찾기
		function getObj(){
		  var obj = event.srcElement
		  while (obj.tagName !='TD'){  //TD가 나올때까지의 Object추출
		      obj = obj.parentElement
		  }
		  return obj
		}
		
			//이벤트 발생한 요소의 상위의 TR 객체 찾기
		function getObjTR(){
		  var obj = event.srcElement
		  while (obj.tagName !='TR'){  //TR가 나올때까지의 Object추출
		      obj = obj.parentElement
		  }
		  return obj
		}
			
		</script>

	</th:block>

</th:block>
</html>