<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{::content})}">
	<th:block th:fragment="content">

<style>
.search-box {
    position: relative;        
    float: right;
}
.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

   
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6pxrow
}
.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}    
</style>

		<div class="col-md-12 stretch-card">
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">발주서 발행</p>
					<br>
                    <div class="row" style="margin-bottom: 5px;">
						<!-- 목록 내려보기 시작 -->
						<div class="col-md-6"> 
							<form>
								<div style="display:inline-block;">
									<select class="custom-select mr-sm-2"  style="display:inline-block;">
										<option selected>검색 조건 선택</option>
										<option value="1">대분류</option>
										<option value="2">중분류</option>
										<option value="3">품목코드</option>
										<option value="4">품목명</option>
									</select>
								</div> 
								&nbsp;	
								<input type="text" style="width: 150px; height: 40px; display:inline-block;" class="form-control" placeholder="Search now" aria-label="search" aria-describedby="search">
								&nbsp;
								<div style="display:inline-block;"> 
									<button class="btn btn-primary" style="display:inline-block;">검색</button>
								</div>
							</form>
						</div> 
						<!-- 목록 내려보기 끝 -->
						<!-- 발주서 발행 버튼 시작 -->
						<div class="col-md-6" >	
							<button style="float: right;" class="btn btn-primary" onclick="print();">
								인쇄
							</button>
							
							<button class="td-modal btn btn-primary mypublish" id="publishBtn" style="float:right; margin-right:10px">
								발주서 발행
							</button>
							
						</div>
						<!-- 발주서 발행 버튼 끝 -->
					</div>
					<div class="table-responsive">
						<!-- 테이블 시작 -->
						<table id="recent-purchases-listing" class="table" style="text-align: center;">
							<thead>
								<tr>
									<th>ch</th>
									<th>협력<br> 회사
									</th>
									<th>발주일</th>
									<th>조달납기<br> 예정일
									</th>
									<th>품목 공급<br> L/T
									</th>
									<th>최소<br> 발주일
									</th>
									<th>품목 코드</th>
									<th>품목명</th>
									<th>필요 수량</th>
									<th>발주 수량</th>
									<th>단가</th>
									<th>공급<br>가격
									</th>
									<th>발주서<br>발행 상태
									</th>
									<th>조달계획코드</th>
									<th>발주코드</th>
									<th>발주서 번호</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="dto: ${purchaseOrderList}">
									<td>
										<input class="showInfo" type="checkbox" name="checkBox" th:id="idcheckBox" th:value="${dto.procurementPlan}" >
												<!-- 조달계획코드를 안보이게 보내야함 [[${dto.procurementPlan}]]-->
												<!--총 13개의 정보companyName,purchaseOrderDate ,dueDate ,supplyLT ,minimumOrderDate
												materialCode ,materialName ,needAmount 
												,orderAmount ,unitPrice , supplyPrice, purchaseOrderStatus,  procurementPlan  -->
									</td>
									<td><input type="hidden" name="companyName" th:value="${dto.companyName}">[[${dto.companyName}]]</td>
									<td><input type="hidden" name="purchaseOrderDate" th:value="${dto.purchaseOrderDate}">[[${#temporals.format(dto.purchaseOrderDate, 'yyyy/MM/dd')}]]</td>
									<td><input type="hidden" name="dueDate" th:value="${dto.dueDate}">[[${#dates.format(dto.dueDate, 'yyyy/MM/dd')}]]</td>
									<td><input type="hidden" name="supplyLT" th:value="${dto.supplyLT}">[[${dto.supplyLT}]]</td>
									<td><input type="hidden" name="minimumOrderDate" th:value="${dto.minimumOrderDate}">[[${#dates.format(dto.minimumOrderDate, 'yyyy/MM/dd')}]]</td>
									<td><input type="hidden" name="materialCode" th:value="${dto.materialCode}">[[${dto.materialCode}]]</td>
									<td><input type="hidden" name="materialName" th:value="${dto.materialName}">[[${dto.materialName}]]</td>
									<td><input type="hidden" name="needAmount" th:value="${dto.needAmount}">[[${dto.needAmount}]]</td>
									<td><input type="hidden" name="orderAmount" th:value="${dto.orderAmount}">[[${dto.orderAmount}]]</td>
									<td><input type="hidden" name="unitPrice" th:value="${dto.unitPrice}">[[${dto.unitPrice}]]</td>
									<td><input type="hidden" name="supplyPrice" th:value="${dto.supplyPrice}">[[${dto.supplyPrice}]]</td>
									<td><input type="hidden" name="purchaseOrderStatus" th:value="${dto.purchaseOrderStatus}">[[${dto.purchaseOrderStatus}]]</td>
									<td><input type="hidden" name="procurementPlan" th:value="${dto.procurementPlan}">[[${dto.procurementPlan}]]</td>
									<td><input type="hidden" name="detailCode" th:value="${dto.detailCode}">[[${dto.detailCode}]]</td>
									<td><input type="hidden" name="detailNo" th:value="${dto.detailNo}">[[${dto.detailNo}]]</td>
								</tr>
							</tbody>
						</table>
						<!-- 테이블 끝 -->
						<!-- 페이지 번호 시작 -->
						<div class="clearfix">
							<div class="hint-text">
								Showing <b>5</b> out of <b>25</b> entries
							</div>
							<ul class="pagination">
								<li class="page-item disabled">
									<a href="#"> 
										<< <i class="fa fa-angle-double-left"></i>
									</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">1</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">2</a>
								</li>
								<li class="page-item active">
									<a href="#" class="page-link">3</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">4</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">5</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">
										>> <i class="fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- 페이지 번호 끝 -->
					</div>
				</div>
			</div>
		</div>
		
		<!-- 발주서 발행 모달창 시작 -->
		<div class="myPublish modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">발주서 발행 시작~</h5>
					</div>
                    <div class="modal-body" >
						<!-- 여기서 새로 작성해 보기 -->
	                    <h5>그냥 적어도 나오나</h5>
	                    <h5>
	                    체크박스를 체크하면 그 정보를 보내주기 
	                    
	                    </h5>
                    
	                    <div class="table-responsive" th:each="dto: ${myPublishDTO}">
							<h4> 발주서 번호: [[${dto.showPono}]]</h4>
							<h4> 협력 회사 : [[${dto.cname}]]</h4>
							<h4> 발주 일자: [[${#temporals.format(dto.purchaseOrderDate, 'yyyy/MM/dd')}]]</h4>
							<h4> 납기 예정일: [[${#dates.format(dto.due_date, 'yyyy/MM/dd')}]]</h4>
							
							<br>
	                    	<table id="transactionDetail" border="1">
								<thead>
									<tr>
										<th>발주코드</th>
										<th>품목코드</th>
										<th>품목명</th>
										<th>발주 수량</th>
										<th>단가</th>
										<th>공급<br>가격</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="dto: ${myPublishDTO}">
									<!-- <tr th:each="dto: ${myPublishDTO}"> -->
										<td>[[${dto.showPocode}]]</td>
										<td>[[${dto.mname}]]</td>
										<td>[[${dto.mname}]]</td>
										<td>[[${dto.ppamount}]]</td>
										<td>[[${dto.unit_price}]]</td>
										<td>[[${dto.supply_price}]]</td>
									</tr>
								</tbody>
							</table>
							<br>
                    	</div>
                    </div>
                    <div class="modal-footer">
						<button id="publishBtn22" href="/procurement2/purchaseOrder?purchaseNo" class="btn btn-primary" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							발행
						</button>
						<button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       </button>
					</div>
				</div>
			</div>
		</div>
		<!-- 발주서 발행 모달창 끝 -->
		
		<!-- 체크박스 선택을 아예 안했을 경우 뜨는 모달창 시작 -->
		<div class="noPurchaseNoModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">발주서 번호 체크하기</h5>
                    </div>
                    <div class="modal-body" >
						<span>선택된 발주회사가 없습니다. <br>발주하고 싶은 발주서 번호를 선택해주세요.</span><br>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 체크박스 선택을 아예 안했을 경우 뜨는 모달창 끝 -->
				
		<!-- 발주서가 이미 존재하는 경우 뜨는 모달창 시작 -->
		<div class="existPurchaseOrderModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">이미 발주서가 발행되었습니다.</h5>
                    </div>
                    <div class="modal-body" >
						<span>발주서는 한 번만 발행할 수 있습니다. <br></span><br>
                    </div>
                    <div class="modal-footer">
                    
                      <button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
                        	닫기
                       </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 발주서가 이미 존재하는 경우 뜨는 모달창 끝 -->
        
       	<!--1번 모달 창 여러개의 발주서 발행 모달창 시작 -->
		<div class="multiplePublish modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    	<h5 class="modal-title">1번 모달창 한개 이상의 발주서 발행</h5>
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				<span aria-hidden="true">&times;</span>
    					</button>
                    </div>
                    
                    <div class="modal-body" >
						<table id="thead01">
							<!-- 동적이게 만들기
							발주서 번호, 협력회사, 발주일자, 납기 예정일 총4개
							-->
							
						</table>
						*************1번 모달창**************** <br>
						<br>
						<table id="poInfo" border="1">
							<thead>
								<tr>
									<th>발주코드</th>
									<th>품목코드</th>
									<th>품목</th>
									<th>발주수량</th>
									<th>단가</th>
									<th>공급가격</th>
								</tr>
							</thead>
								<!-- 동적 테이블 부분 <tbody id="detail">-->
								<tbody id="tbody01">
								<!-- 동적 테이블 부분-->
								
							</tbody>
						</table>
                    
		               <!-- 
		                총 7개 cName2, dDate2,mCode2, mName2,oAmount2, uPrice2,pPrice2
		                -->
                    </div>
                    <div class="modal-footer">
						<button id="publishBtn01" class="btn btn-primary" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							발행
						</button>
						<button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							취소
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 여러개의 발주서 발행 모달창 끝 -->
		
			<!-- 두 번째 여러개의 발주서 발행 모달창 시작 -->
		<div class="multiplePublish2 modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    	<h5 class="modal-title">2번 모달창 한개 이상의 발주서 발행</h5>
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				<span aria-hidden="true">&times;</span>
    					</button>
                    </div>
                    
                    <div class="modal-body" >
						<table id="thead02">
							<!-- 동적이게 만들기
							발주서 번호, 협력회사, 발주일자, 납기 예정일 총4개
							-->
							
						</table>
						*************2번 모달창**************** <br>
						<br>
						<table id="poInfo" border="1">
							<thead>
								<tr>
									<th>발주코드</th>
									<th>품목코드</th>
									<th>품목</th>
									<th>발주수량</th>
									<th>단가</th>
									<th>공급가격</th>
								</tr>
							</thead>
								<!-- 동적 테이블 부분 <tbody id="detail">-->
								<tbody id="tbody02">
								<!-- 동적 테이블 부분-->
								
							</tbody>
						</table>
                    
		               <!-- 
		                총 7개 cName2, dDate2,mCode2, mName2,oAmount2, uPrice2,pPrice2
		                -->
                    </div>
                    <div class="modal-footer">
						<button id="publishBtn02" class="btn btn-primary" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							발행
						</button>
						<button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							취소
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 두 번째 여러개의 발주서 발행 모달창 끝 -->
		
		<!-- 세 번째 여러개의 발주서 발행 모달창 시작 -->
		<div class="multiplePublish3 modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    	<h5 class="modal-title">3번 모달창 한개 이상의 발주서 발행</h5>
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				<span aria-hidden="true">&times;</span>
    					</button>
                    </div>
                    
                    <div class="modal-body" >
						<table id="thead03">
							<!-- 동적이게 만들기
							발주서 번호, 협력회사, 발주일자, 납기 예정일 총4개
							-->
						</table>
						*************3번 모달창**************** <br>
						<br>
						<table id="poInfo" border="1">
							<thead>
								<tr>
									<th>발주코드</th>
									<th>품목코드</th>
									<th>품목</th>
									<th>발주수량</th>
									<th>단가</th>
									<th>공급가격</th>
								</tr>
							</thead>
								<!-- 동적 테이블 부분 <tbody id="detail">-->
								<tbody id="tbody03">
								<!-- 동적 테이블 부분-->
								
							</tbody>
						</table>
                    
		               <!-- 
		                총 7개 cName2, dDate2,mCode2, mName2,oAmount2, uPrice2,pPrice2
		                -->
                    </div>
                    <div class="modal-footer">
						<button id="publishBtn03" class="btn btn-primary" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							발행
						</button>
						<button type="button" class="btn btn-secondary AllResetSetting" data-dismiss="modal" style="padding-top:10px; padding-left:15px; padding-right:15px; width:60px; height:33px;">
							취소
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 세 번째 여러개의 발주서 발행 모달창 끝 -->

		<!-- 스크립트 시작 -->
		<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
		<script th:inline="javascript" type="text/javascript">
		//////
		var clNo=''; //cList의 값 갖고 보낼 부분
		let tList =new Array();
		tList = [[${purchaseOrderList}]];
		let pCodeList =new Array();//조달코드 담을 리스트
		let pNoList =new Array();//발주서 번호 담을 리스트
		for(let u =0 ;u<tList.length;u++){
			pCodeList.push(tList[u].detailCode);//여기에 담아서 max값 구하기
			pNoList.push(tList[u].detailNo);//여기에 담아서 max값 구하기
		}
		const maxNo2 = Math.max(...pNoList);	//발주서 번호 max값 구하는 것
		const maxCode2 = Math.max(...pCodeList);	//발주 코드 max값 구하는 것
		//const로 선언된 변수는 값을 변경할 수 없다. 변수 선언시에 초기값을 할당하고 이후에 변경할 수 없는 상수,let이나 var와 같은 가변 변수 사용하기
		var maxCode = maxCode2;
		var maxNo = maxNo2;
		maxNo +=1;	//큰 값 +1을 한다. 뒤에서 더하면 문자 뒤에 숫자로 더해진다. 뒤에서 다시 숫자로 변경해서 숫자를 계속 올려주기
		maxCode +=1;	//큰 값 +1을 한다. 
		maxCode =  parseInt(maxCode, 10);	//10진수인 숫자로 바꾼다 
		maxNo =  parseInt(maxNo, 10);	//10진수인 숫자로 바꾼다 
		maxNo = maxNo.toString().padStart(8, 0);
		maxCode = maxCode.toString().padStart(5, 0);
		var todaydate;
		// 현재 날짜 객체 생성
		var today = new Date();
		var year = today.getFullYear();
		var month = today.getMonth() + 1; // 월은 0부터 시작하므로 1을 더해줌
		var day = today.getDate();
		todaydate = (year + '/' + month + '/' + day);//오늘 날짜 예쁘게 찍기
		let ppNoList01 =new Array();
		let ppNoList02 =new Array();
		let ppNoList03 =new Array();
		let ppNoList04 =new Array();
		let ppNoList05 =new Array();
		$(".showInfo").click(function(){
			//console.log("내가 발주하고싶은 정보를 담고있는 체크박스를 누름");
			
			//총 13개의 정보companyName, purchaseOrderDate ,dueDate ,supplyLT ,minimumOrderDate
			//		materialCode , materialName ,needAmount 
			//,orderAmount ,unitPrice , supplyPrice, purchaseOrderStatus,  procurementPlan  -->
			var cName= getObjTR().querySelector("input[name=companyName]").value;
			var poDate= getObjTR().querySelector("input[name=purchaseOrderDate]").value;
			var dDate= getObjTR().querySelector("input[name=dueDate]").value;
			var date2 = new Date(dDate);
			var year2 = date2.getFullYear();
			var month2 = ('0' + (date2.getMonth() + 1)).slice(-2);
			var day2 = ('0' + date2.getDate()).slice(-2);
			dDate = year2 + '/' + month2 + '/' + day2;
			var LT= getObjTR().querySelector("input[name=supplyLT]").value;
			var mDate= getObjTR().querySelector("input[name=minimumOrderDate]").value;
			var mCode= getObjTR().querySelector("input[name=materialCode]").value;
			var mName= getObjTR().querySelector("input[name=materialName]").value;
			var nAmount= getObjTR().querySelector("input[name=needAmount]").value;
			var oAmount= getObjTR().querySelector("input[name=orderAmount]").value;
			var uPrice= getObjTR().querySelector("input[name=unitPrice]").value;
			var sPrice= getObjTR().querySelector("input[name=supplyPrice]").value;
			var poStatus= getObjTR().querySelector("input[name=purchaseOrderStatus]").value;
			var pPlan= getObjTR().querySelector("input[name=procurementPlan]").value;
			var pPrice = uPrice*oAmount;//payPrice 단가 * 발주수량
			var dCode= getObjTR().querySelector("input[name=detailCode]").value;//발주코드
			var dNo= getObjTR().querySelector("input[name=detailNo]").value;//발주서 번호
			//내가 필요한 것만 찍어내기 
			//만들어 보여줄 내용: 발주서 번호, 발주 코드, 오늘날짜 
			//가져올 수 있는 것 총 7개 : 1. 협력회사, 2.품목명 3. 납기 예정일 4. 품목코드 5. 발주수량 6. 단가 7. 공급가격
			//추가로 필요한 정보 : 발행할 발주서의 갯수
			console.log("companyName: ", cName,  "procurementPlan조달계획번호", pPlan);
			//발주서 번호 8자리 만들기
			//maxNo = maxNo.toString().padStart(8, '0');
			//console.log("발주서 번호",dNo,"발주코드detailCode: ", dCode);//발주서 번호가 0이라면 발주서 발행 금지
			
			
			//document.querySelector("#cName2").innerHTML = cName;
			//document.querySelector("#dDate2").innerHTML = dDate;
			//document.querySelector("#mCode2").innerHTML = mCode;
			//document.querySelector("#mName2").innerHTML = mName;
			//document.querySelector("#oAmount2").innerHTML = oAmount;
			//document.querySelector("#uPrice2").innerHTML = uPrice;
			//document.querySelector("#pPrice2").innerHTML = pPrice;//잘 나옴
			//document.querySelector("#today2").innerHTML = todaydate;//오늘 날짜 만들어서 넣기
			//document.querySelector("#maxNo2").innerHTML = maxNo;//가장 큰 발주
			
			//console.log("큰 발주 코드",maxCode,"가장 마지막 발주서 번호: ",maxNo); 
	});		
	/////////////////여기까지 체크박스

//			발주서이미 존재하는지 확인 부분				
// 				var needNum2=1;//여기에 원하는 자리수 숫자의 날짜 담기
// 				for(let num6 = 0;num6<bb.length; num6++){
// 					var check = bb[num6];
// 					var ppNo = check.procurementPlan;
// 					if(ppNo==num1){//내가 원하는 조달번호
// 						if(check.purchaseOrderDate==null){
// 							console.log("빈 날짜인 경우","숫자 확인: ",num1, "발주번호 확인: ", check.procurementPlan);
// 							//$(".myPublish").modal("show");
// 						}else{
// 							console.log("이게 나와라 ..",check.purchaseOrderDate,"숫자 확인: ",num1);
// 							$(".existPurchaseOrderModal").modal("show");//이미 발주서가 존재합니다. 
// 						}
					
// 					}
					
// 					//needNum2 =num6;
// 					//console.log("needNum2 >>> ",needNum2);
// 					//console.log("orderDateList의 ", num6," 번째의 값: ",orderDateList[num6]);
// 					//console.log("orderDateList의 +1 로 해서 숫자가 나오는 ", num3+1," 번째의 값: ",orderDateList[num3]);
// 					//내가 원하는 발주서의 길이만큼 반복해서 마지막 날이 null이면 이미 발행가능, 존재하면 발행불가
// 				}
			
		//}else{
		//};
		
		$("#publishBtn22").click(function(){//모달창에서 발주서 발행 버튼을 누르면
			console.log("발주서 진짜 발행을 눌러봐요>>> ");
			//여기에서 체크번호 받고 그 번호를 전달하기
			//발주서 발행 버튼을 클릭했을때
			
		});
		
		$(".mypublish").click(function(){
			console.log("여기에서 실행해서 정보 전달하는 구나");
			
			//발주서 발행 버튼을 누르면, 클래스로 가져와야 tr, td정보 불러오기 가능
			let cList =new Array();//체크한 번호를 담을 리스트
			$("input[name=checkBox]:checked").each(function(){	//체크한 것의 번호 가져옴
				const chkChecked = 'input[name="checkBox"]:checked';
				const selectedEls = document.querySelectorAll(chkChecked);
				
			})
			
			$("input[name=checkBox]:checked").each(function(){
				let no= $(this).val();
				no = Number(no);//숫자로 담아진다. 그냥 두면 문자로 담아줌
				cList.push(no);	//리스트에 담는다	
			})
			console.log("번호 리스트 >>> ", cList);	//잘 나옴
			//cList길이만큼 반복 해보기
			for (let q = 0; q < cList.length; q++) {	//두 번씩 실행되서 나옴
    			//console.log("반복문 실험",q);
				//여기에서 담아서 걸러주기
				//$(".myPublish").modal("show");	//여기가 보여주기 시작 반복해서 보여주기
				if(cList.length!=null){
					//$(".multiplePublish").modal("show");	//여기가 보여주기 시작 반복해서 보여주기
					//console.log("1번 모달창 실행");
					//console.log("cList의 길이가 변하나",cList.length);
					//console.log("cList의 pop하기 전",cList);
					//cList.pop([0]);//나중에 들어간 것 부터 나온다			
					//console.log("cList의 pop하고 후",cList);
				}
			//cList가 0일 때까지 반복하기, 너무 빨라서 안보이는거라 함
			}
			
			//동적인 테이블 시작
			//배열 5개 만들어두고 5개의 회사만 구분할 수 있도록 하기
			let com01 = [];	//안에 선언하면 계속 값이 리셋된다. 
			let com02 = [];
			let com03 = [];
			let com04 = [];
			let com05 = [];
			var name01 = null;
			var name02 = null;
			var name03 = null;
			var name04 = null;
			var name05 = null;
			let mylength = new Array();
			for(var i =0; i<tList.length; i++){//총 **길이** 만큼 반복 모두 가지고 있는 것: tList
				var mycheck = tList[i];
				var ppNo = mycheck.procurementPlan;//조달계획 번호를 출력하는 것
				var cName3 = mycheck.companyName;//회사 이름
				//console.log("cName3: ", cName3); 
					
				for(var j =0; j<tList.length; j++){//cList를 비교해서 같은 것을 가져오기
					var checkC = cList[j];
					if(checkC == ppNo){ //조달번호와 cList의 값이 같은 것 출력
						clNo = checkC;
						console.log("cList: 길이 구해줘~~~",  cList.length); 
						//console.log("cName3 이건 회사 이름: ", cName3); 
						mylength.push(i);		//***나온 자리의 번호를 저장
						//console.log(tList);
						//console.log("리스트에 담은 내 조달의 자리 번호 ",mylength);
						//일단 회사이름별로 구분해서 보여줘보기
						//console.log("선택된 i: ", i);//i는 조달 번호가 아니라 내가 원하는 배열 주소
						if(name01===null){//첫번째 
							ppNoList01.push(tList[i].procurementPlan);
							com01.push(i);
							name01 = tList[i].companyName;
							console.log("name01 첫 번째 회사 이름 ", name01, i);
						}else if(name01==tList[i].companyName){//첫 번째 회사와 이름이 같은 경우
							ppNoList01.push(tList[i].procurementPlan);
							com01.push(i);
							console.log("com01 ", com01);
							console.log("첫 번째 회사와 이름이 같다.  ", name01);
						}else if(name02==null){//두 번째
							ppNoList02.push(tList[i].procurementPlan);
							com02.push(i);
							name02 = tList[i].companyName;
							console.log("name02 두 번째 회사 이름 ", name02);
						}else if(name02==tList[i].companyName){//첫 번째 회사와 이름이 같은 경우
							ppNoList02.push(tList[i].procurementPlan);
							com02.push(i);
							console.log("com02 ", com02);
							console.log("두 번째 회사와 이름이 같다.  ", name02);
						}else if(name03==null){//세 번째
							ppNoList03.push(tList[i].procurementPlan);
							com03.push(i);
							name03 = tList[i].companyName;
							console.log("name03 번째 회사 이름 ", name03);
						}else if(name03==tList[i].companyName){//첫 번째 회사와 이름이 같은 경우
							ppNoList03.push(tList[i].procurementPlan);
							com03.push(i);
							console.log("com03 ", com03);
							console.log("name03 회사와 이름이 같다.  ", name03);
						}
						
						var count = 0;
						if(com01.length>0 && j === cList.length - 1){//최대 5개 회사만 비교 가능, 한개라도 있으면 비교 시작
							//**시작~~~~~~~~~~~
							$(".multiplePublish").modal("show");
							console.log("이제 한 번 잘 실행된다. ");
							console.log("com01리스트의 길이 잘 나오나 확인", com01.length);
							for(y=0;y<com01.length;y++){	//0이 나올때까지 돌리기
									var num01 = com01[y];
									num01 = Number(num01);//숫자로 
									//console.log("num01[0]의 값:",num01);	
									console.log("tList[num01]의 값:",tList[num01]);		
									//com01.pop(y);
							var div01 = '<div>'+"발주서 번호: " +maxNo +'</div>';//첫 자리에서만 회사 번호만 가져오기
							div01 += '<div>'+"협력 회사: " +tList[num01].companyName +'</div>';
							div01 += '<div>'+"발주 일자: " + todaydate +'</div>';
							div01 += '<div>'+"납기 예정일: " +tList[num01].dueDate +'</div>';
						$('#thead0'+1).append(div01);//여기서 축척됨
							var tableTd01 = '<tr>';
							tableTd01 += '<td>' + "DPO" +maxCode +'</td>';	//갯수만큼 더해주기
							tableTd01 += '<td>' + tList[num01].materialCode +'</td>';
							tableTd01 += '<td>' + tList[num01].materialName +'</td>';
							tableTd01 += '<td>' + tList[num01].orderAmount +'</td>';
							tableTd01 += '<td>' + tList[num01].unitPrice +'</td>';
							tableTd01 += '<td>' + tList[num01].supplyPrice +'</td>';
							tableTd01 += '</tr>';
						$('#tbody01').append(tableTd01);//여기서 축척됨
							}
						console.log("com01의 값: ,자리의 번호이다.",com01);
						}if(com02.length>0 && j === cList.length - 1){
							$(".multiplePublish2").modal("show");
							console.log("com02의 값: ",com02);
							console.log("com02리스트의 길이 잘 나오나 확인", com02.length);
							for(y=0;y<com02.length;y++){	//0이 나올때까지 돌리기
								var num01 = com02[y];
								num01 = Number(num01);//숫자로 
							var div01 = '<div>'+"발주서 번호: " +maxNo +'</div>';//첫 자리에서만 회사 번호만 가져오기
							div01 += '<div>'+"협력 회사: " +tList[num01].companyName +'</div>';
							div01 += '<div>'+"발주 일자: " + todaydate +'</div>';
							div01 += '<div>'+"납기 예정일: " +tList[num01].dueDate +'</div>';
						$('#thead0'+2).append(div01);//여기서 축척됨
							console.log("num01[0]의 값:",num01);		
							//com02.pop(y);
							console.log("com02의 값: ,자리의 번호이다.",com02);		
						var tableTd01 = '<tr>';
							tableTd01 += '<td>' + "DPO" +maxCode +'</td>';//갯수만큼 더해주기
							tableTd01 += '<td>' + tList[num01].materialCode +'</td>';
							tableTd01 += '<td>' + tList[num01].materialName +'</td>';
							tableTd01 += '<td>' + tList[num01].orderAmount +'</td>';
							tableTd01 += '<td>' + tList[num01].unitPrice +'</td>';
							tableTd01 += '<td>' + tList[num01].supplyPrice +'</td>';
							tableTd01 += '</tr>';
						$('#tbody02').append(tableTd01);//여기서 축척됨 어펜드에 나누어서 보내주면 된다. 
						}
						
						}if(com03.length>0 && j === cList.length - 1){
							$(".multiplePublish3").modal("show");
							console.log("com03의 값: ",com03);
							console.log("이제 한 번 잘 실행된다. ");
							console.log("com03리스트의 길이 잘 나오나 확인", com03.length);
							for(y=0;y<com03.length;y++){	//0이 나올때까지 돌리기
								var num01 = com03[y];
								num01 = Number(num01);//숫자로 
							var div01 = '<div>'+"발주서 번호: " +maxNo +'</div>';//첫 자리에서만 회사 번호만 가져오기
							div01 += '<div>'+"협력 회사: " +tList[num01].companyName +'</div>';
							div01 += '<div>'+"발주 일자: " + todaydate +'</div>';
							div01 += '<div>'+"납기 예정일: " +tList[num01].dueDate +'</div>';
							$('#thead0'+3).append(div01);//여기서 축척됨	
							console.log("num01[0]의 값:",num01);		
							//com03.pop(y);
							console.log("com03의 값: ,자리의 번호이다.",com03);		
						var tableTd01 = '<tr>';
							tableTd01 += '<td>' + "DPO" +maxCode +'</td>';//갯수만큼 더해주기
							tableTd01 += '<td>' + tList[num01].materialCode +'</td>';
							tableTd01 += '<td>' + tList[num01].materialName +'</td>';
							tableTd01 += '<td>' + tList[num01].orderAmount +'</td>';
							tableTd01 += '<td>' + tList[num01].unitPrice +'</td>';
							tableTd01 += '<td>' + tList[num01].supplyPrice +'</td>';
							tableTd01 += '</tr>';
						$('#tbody03').append(tableTd01);//여기서 축척됨 어펜드에 나누어서 보내주면 된다. 
						
						//console.log("######발주서 발행 되었나..");
						}
							
						}if(com03.length>0){
							//console.log("리스트 5개 시작");
						}if(com04.length>0){
							//console.log("리스트 5개 시작");
						}if(com05.length>0){
							//console.log("리스트 5개 시작");
						}
						
							
						}
						
						
					}
				}
				
				$("#publishBtn01").click(function(){
					console.log("1번 조달계획 발행 버튼을 누름");
					//조달 계획 번호 가져오기
					$.ajax({
							type:"post",
							url:"/procurement2/publish",
							data: JSON.stringify(ppNoList01),
							contentType :"application/json; charset=UTF-8",
							dataType: "json",
							success: function(data){
								console.log("받아온 데이터 : ",data);
							}
						})
						$(".multiplePublish").modal("hide");
								console.log("잘 발행 되었나? ");
						
				})
				
				$("#publishBtn02").click(function(){
					console.log("1번 조달계획 발행 버튼을 누름");
					//조달 계획 번호 가져오기
					$.ajax({
							type:"post",
							url:"/procurement2/publish",
							data: JSON.stringify(ppNoList02),
							contentType :"application/json; charset=UTF-8",
							dataType: "json",
							success: function(data){
								console.log("받아온 데이터 : ",data);
							}
						})
						$(".multiplePublish2").modal("hide");
								console.log("잘 발행 되었나? ");
						
				})
				
				$("#publishBtn03").click(function(){
					console.log("1번 조달계획 발행 버튼을 누름");
					//조달 계획 번호 가져오기
					$.ajax({
							type:"post",
							url:"/procurement2/publish",
							data: JSON.stringify(ppNoList03),
							contentType :"application/json; charset=UTF-8",
							dataType: "json",
							success: function(data){
								console.log("받아온 데이터 : ",data);
							}
						})
						$(".multiplePublish3").modal("hide");
								console.log("잘 발행 되었나? ");
						
				})
			
			
			var purchaseNo='';//빈값 넣기, 필요 없어보이는데 위에서 쓰이고 있음
			
			if(cList.length===0){//체크하지 않고 버튼을 클릭한 경우
				$(".noPurchaseNoModal").modal('show');
				console.log("아무것도 선택하지 않음===>>");
			}else if(cList.length===1 || cList.length<1){//한개 선택된 경우
				//$(".myPublish").modal('show');//발주서 발행 모달
				console.log("발주서 한개 발행일 경우 이거 사용하기>>", cList);
			}else if(cList.length>1){
				console.log("체크박스가 2개 이상 선택됨");
				var codeList7= new Array();
				var orderDateList7= new Array();
				var dtoOrderDate7= new Object();
				var dtoCode7= new Object();
				
				cList.forEach(function(item){
				dtoCode7= item.code;
				codeList7.push(dtoCode7);
				});
			}
			
			});
			
		////////////////////////////////////////////////////////////////////////////////////
		//이벤트 발생한 요소의 상위의 TD 객체 찾기
		function getObj(){
		  var obj = event.srcElement
		  while (obj.tagName !='TD'){  //TD가 나올때까지의 Object추출
		      obj = obj.parentElement
		  }
		  return obj
		}
		
			//이벤트 발생한 요소의 상위의 TR 객체 찾기
		function getObjTR(){
		  var obj = event.srcElement
		  while (obj.tagName !='TR'){  //TR가 나올때까지의 Object추출
		      obj = obj.parentElement
		  }
		  return obj
		}
			
		</script>

	</th:block>

</th:block>
</html>