<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="purchaseOrder(publish)">
<style>
  table {
    width: 100%;
    border: 1px solid #444444;
    font-size: 13px;

  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }
</style>
<div class="publish">
		<form th:action="@{/procurement2/purchaseOrder}" th:method="GET">
					<div class="card-body">
					<br>
						<p class="card-title"><b>구매 발주서</b></p>
						
						<!--거래명세서 회사 정보-->
						<div>
							<table id="transactionInfo">
									<tr th:each="dto: ${DetailPurchaseOrderList}">
						<th:block th:if="${myListData == null}">
							<h1>보여라</h1>
<!-- 
 						<th:block th:if="${dto.procurementPlan == '${myListData}'}">
 -->
							</th:block>
							<th:block th:if="${dto.procurementPlan == '${myListData}'}">
							<h2>보여줘2</h2>
							</th:block>
										<th>발주 회사</th>
										<th:block th:if="${'myListData' == '$dto.procurementPlan'}">
										<td>[[${dto.procurementPlan}]]</td>
										<th>[[${dto.procurementPlan}]]</th>
										<td>[[${dto.companyName}]]</td>
										
										</th:block>
										<!-- 블럭 조건 끝 -->
										<th rowspan="4">공<br><br>급<br><br>자</th>
										<th>사업자 등록번호</th>
										<td colspan="3"></td>
									</tr>
									<tr>
										<th>발주서 번호</th>
										<td>-</td>
										<th>상호(법인명)</th>
										<td>-</td>
										<th>성명(대표자)</th>
										<td>[[${myListData}]]</td>
									</tr>
									<tr>
										<th>납기일자</th>
										<td>-</td>
										<th>주소</th>
										<td colspan="3">-</td>
									</tr>
									<tr>
										<th>공급 가격</th>
										<td>-</td>
										<th>담당자</th>
										<td>-</td>
										<th>연락처</th>
										<td>-</td>
									</tr>
							</table>
						</div>
						<br>
						
						<!--거래명세서 품목 정보-->
						<div class="table-responsive">
							<table id="transactionDetail">
								<thead>
									<tr>
										<th>번호</th>
										<th>품목코드</th>
										<th>품목명</th>
										<th>품목명</th>
										<th>발주수량</th>
										<th>단가</th>
										<th>공급<br>가격</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>-</td>
										<td>[[${DetailPurchaseOrderList}]]</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>-</td>
									</tr>
									
								</tbody>
							</table>
							<br>

						<button type="submit" class="btn btn-primary" style="float: right;">취소</button>
						<button type="submit" class="btn btn-primary" onclick="print();"  style="float: right; margin: 0 5px;">발행</button>
						</div>
						<br>
						

					</div>

		</form>
	</div>
			
	</body>
</th:block>