<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="purchaseOrder(publish)">
<style>
  table {
    width: 100%;
    border: 1px solid #444444;
    font-size: 13px;

  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }
</style>
<div class="publish">
					<br>
						<!--거래명세서 회사 정보 DetailPublishDTO(ppcode=6, cname=(주)넥스큐브, due_date=2023-06-25, mcode=CBa0001,
						 mname=Bracket, unit_price=1000)-->
						<div>
						<tr th:each="dto: ${DetailPurchaseOrderList}">
						<th:block th:if="${myListData} == ${dto.procurementPlan}">
						<h4> 협력 회사: [[${dto.companyName}]]</h4>
						<h4> 발주서 번호: [[${dto.purchaseOrderNo}]]</h4>
						<h4> 발주 일자: [[${#temporals.format(dto.purchaseOrderDate, 'yyyy/MM/dd')}]]</h4>
						<h4> 납기 예정일: [[${#dates.format(dto.dueDate, 'yyyy/MM/dd')}]]</h4>
						</th:block>
						</tr>
						<br>
							<table id="transactionInfo">
									<tr th:each="dto: ${DetailPurchaseOrderList}">
							<!-- 중요한 데이터 화면  -->
										<th:block th:if="${myListData} == ${dto.procurementPlan}">
										<th>발주 코드</th>
										<th>품목 코드</th>
										<th>품목명</th>
										<th>발주 수량</th>
										<th>단가</th>
										<th>공급 가격</th>
										</th:block>
										<!-- 블럭 조건 끝 -->
									</tr>
									<tr th:each="dto: ${DetailPurchaseOrderList}">
										<th:block th:if="${myListData} == ${dto.procurementPlan}">										
										<td>[[${dto.purchaseOrderCode}]]</td>
										<th>[[${dto.materialCode}]]</th>
										<th>[[${dto.materialName}]]</th>
										<td>[[${dto.purchaseOrderAmount}]]</td>
										<th>[[${dto.unitPrice}]]</th>
										<th>[[${dto.suppluPrice}]]</th>
</th:block>									
									</tr>
							</table>
						</div>
						<br>
					<tr th:each="dto: ${DetailPurchaseOrderList}">
						<th:block th:if="${myListData} == ${dto.procurementPlan}">
						<button type="submit" class="btn btn-primary" style="float: right;">취소</button>
						<button type="submit" class="btn btn-primary" onclick="print();"  style="float: right; margin: 0 5px;">발행</button>
						</th:block>
						</tr>
						</div>
						

<!-- 
		</form>
 -->
	</body>
<script type="text/javascript">
//엔티티에 넣어서 생성하기 
//디테일 엔티티: 발주코드, 발주수량, 발주일자, 발주서 번호(외래키)
var purCode = null;
var purAmount = null;
var purOrderDate = null;
var PurNo = null;

</script>
</th:block>