<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="purchaseOrder(publish)">
<style>
  table {
    width: 100%;
    border: 1px solid #444444;
    font-size: 13px;

  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }
</style>
<div class="publish">
		<form th:action="@{/procurement2/purchaseOrder} +purchaseNo" th:method="GET">
					<div class="card-body">
						<!--거래명세서 회사 정보//dto 데이터DetailPublishDTO(ppcode=2, cname=(주)경도전자, due_date=2023-06-10, mcode=CNa0001, 
			//mname=Bolt1, unit_price=200, purchaseOrderDate=2023-06-14T19:26:53.218694900, mamount=null) -->
						<div>
						</div>
						<br>
						<!--거래명세서 품목 정보-->
						<div class="table-responsive" th:each="dto: ${myPublishDTO}">
						<h4> 발주서 번호: [[${dto.pono}]]</h4>
						<h4> 협력 회사 : [[${dto.cname}]]</h4>
						<h4> 발주 일자: [[${#temporals.format(dto.purchaseOrderDate, 'yyyy/MM/dd')}]]</h4>
						<h4> 납기 예정일: [[${#dates.format(dto.due_date, 'yyyy/MM/dd')}]]</h4>
						<br>
							<table id="transactionDetail">
								<thead>
									<tr>
										<th>발주코드</th>
										<th>품목코드</th>
										<th>품목명</th>
										<th>발주 수량</th>
										<th>단가</th>
										<th>공급<br>가격</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="dto: ${myPublishDTO}">
										<td>[[${dto.pocode}]]</td>
										<td>[[${dto.mname}]]</td>
										<td>[[${dto.mname}]]</td>
										<td>[[${dto.ppamount}]]</td>
										<td>[[${dto.unit_price}]]</td>
										<td>[[${dto.supply_price}]]</td>
									</tr>
									
								</tbody>
							</table>
							<br>

						<button type="submit" class="btn btn-primary" style="float: right;">취소</button>
						<button type="submit" class="btn btn-primary" onclick="print();"  style="float: right; margin: 0 5px;">발행</button>
						
						</div>
						<br>
						

					</div>

		</form>
	</div>
			<!--여기가 수정 부분 끝-->
<!-- 
		</form>
 -->
	</body>
<script type="text/javascript">
//엔티티에 넣어서 생성하기 
//디테일 엔티티: 발주코드, 발주수량, 발주일자, 발주서 번호(외래키)
var purCode = null;
var purAmount = null;
var purOrderDate = null;
var PurNo = null;

</script>
</th:block>