<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{::content})}">

	<th:block th:fragment="content">


<style>
  table {
    width: 100%;
    border: 1px solid #444444;
    font-size: 13px;

  }
  th, td {
    border: 1px solid #444444;
    padding: 10px;
    text-align: center;
  }
.search-box {
	position: relative;
	float: right;
}

.search-box input {
	height: 34px;
	border-radius: 20px;
	padding-left: 35px;
	border-color: #ddd;
	box-shadow: none;
}

.search-box input:focus {
	border-color: #3FBAE4;
}

.search-box i {
	color: #a0a5b1;
	position: absolute;
	font-size: 19px;
	top: 8px;
	left: 10px;
}

.pagination {
	float: right;
	margin: 0 0 5px;
}

.pagination li a {
	border: none;
	font-size: 95%;
	width: 30px;
	height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 30px !important;
	text-align: center;
	padding: 0;
}

.pagination li a:hover {
	color: #666;
}

.pagination li.active a {
	background: #03A9F4;
}

.pagination li.active a:hover {
	background: #0397d6;
}

.pagination li.disabled i {
	color: #ccc;
}

.pagination li i {
	font-size: 16px;
	padding-top: 6pxrow
}

.hint-text {
	float: left;
	margin-top: 6px;
	font-size: 95%;
}

</style>

		<div class="col-md-12 stretch-card">
			<!-- 수정 부분 시작 -->
			<div class="card">
				<div class="card-body">
					<p class="card-title" style="font-size:23px;">재고 산출</p> 
					<br>
					<div class="row" style="margin-bottom: 5px;">
						<!-- 기간 검색 -->	
						<div>
							<span style="font-size:20px;">기간</span>&nbsp;&nbsp;
							<input type="date" id="startDate" style="width:140px; height:40px; border-radius:5px; border:1px solid #dcdcdc; padding-left:12px;padding-right:12px;">&nbsp;&nbsp;~&nbsp;&nbsp;
							<input type="date" id="endDate" style="width:140px; height:40px; border-radius:5px; border:1px solid #dcdcdc; padding-left:12px;padding-right:12px;">&nbsp;&nbsp;
							<input type="submit" id="dateSearch" value="검색" class="btn btn-primary" style="margin-bottom:5px;">
						</div>
						<!-- 기간 검색 끝-->
					</div>	
					<div class="table-responsive">
						<!-- 테이블 시작 -->
						<table id="recent-purchases-listing" class="table" style="text-align: center;">
							<thead>
								<tr>
									<th>대</th>
									<th>중</th>
									<th>품목코드</th>
									<th>품목명</th>
									<th>입고 수량</th>
									<th>출고 수량</th>
									<th>재고 수량</th>
									<th>재고 단가</th>
								</tr>
							</thead>
							<tbody id="stockResultTable">
								<tr th:each="dto : ${DTOList}">
									<td><input type="hidden" name="largeCategoryName" >[[${dto.largeCategoryName}]]</td>
									<td><input type="hidden" name="middleCategoryName" >[[${dto.middleCategoryName}]]</td>
									<td><input type="hidden" name="materialCode" >[[${dto.materialCode}]]</td>
									<td><input type="hidden" name="materialName" >[[${dto.materialName}]]</td>
									<td><input type="hidden" name="inAmount" >[[${dto.inAmount}]]</td>
									<td><input type="hidden" name="outAmount" >[[${dto.outAmount}]]</td>
									<td><input type="hidden" name="stockAmount" >[[${dto.stockAmount}]]</td>
									<td><input type="hidden" name="stockUnitPrice" >[[${dto.stockUnitPrice}]]</td>
								</tr>
							</tbody>
						</table>
						<!-- 테이블 끝 -->
						<!-- 페이지 번호 시작 -->
						<div class="clearfix">
							<div class="hint-text">
								Showing <b>5</b> out of <b>25</b> entries
							</div>
							<ul class="pagination">
								<li class="page-item disabled">
									<a href="#"> 
										<< <i class="fa fa-angle-double-left"></i>
									</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">1</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">2</a>
								</li>
								<li class="page-item active">
									<a href="#" class="page-link">3</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">4</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">5</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">
										>> <i class="fa fa-angle-double-right"></i>
									</a>
								</li>
							</ul>
						</div>
						<!-- 페이지 번호 끝 -->
					</div>					
				</div>
			</div>
		</div>
		
		<!-- 
			 검색버튼 누를때, 오류시 보여줄 모달창 시작
			- 내용 : 1. <span>기간을 선택해주세요.</span>
					 2. <span>종료일보다 시작일이 빨라야합니다.</span>
		-->
		<div class="stockResultModal modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >기간 검색 확인</h5>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="stockResultModalContent">   
						<!-- 오류시 보여줄 내용 -->	
							
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding-left:15px; padding-right:15px; width:60px;">
                        	확인
                       	</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- 검색버튼 누를때, 오류시 보여줄 모달창 끝 -->
		
		<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
		<script th:inline="javascript">
		
		$(document).ready(function(e) {
			$("#dateSearch").on("click",function(e){
				//$("#stockResultTable").empty(); //다시 버튼 눌렀을 때 테이블 비우고 다시 세팅하기
				
		        var startDate = $('#startDate').val();
		        var endDate = $('#endDate').val();
				console.log("시작일 input 값 보자 : ",startDate);
				console.log("종료일 input 값 보자 : ",endDate);
		        
		        //-을 구분자로 연,월,일로 잘라내어 배열로 반환
		        var startArray = startDate.split('-');
		        var endArray = endDate.split('-');   
		        
		        //배열에 담겨있는 연,월,일을 사용해서 Date 객체 생성
		        var start_date = new Date(startArray[0], startArray[1], startArray[2]);
		        var end_date = new Date(endArray[0], endArray[1], endArray[2]);
		        
		        let sentence = ``;
		        //날짜를 숫자형태의 날짜 정보로 변환하여 비교한다.
		        if(!start_date.getTime() || !end_date.getTime()){
		        	sentence = `<span>기간을 선택해주세요.</span>`;
		        	document.querySelector("#stockResultModalContent").innerHTML = sentence;
					$(".stockResultModal").modal('show'); 
		        	//alert("기간을 선택해주세요.");
		        	//location.reload();
		        }
		        if(start_date.getTime() > end_date.getTime()) {
		        	sentence = `<span>종료일보다 시작일이 빨라야합니다.</span>`;
		        	document.querySelector("#stockResultModalContent").innerHTML = sentence;
					$(".stockResultModal").modal('show'); 
		            //alert("종료일보다 시작일이 빨라야합니다.");
		            //location.reload();
		        }
		        
		      	//시작일과 종료일 사이 날짜 배열로 가져오기
				var start= new Date(document.querySelector("#startDate").value);
				var end= new Date(document.querySelector("#endDate").value);
				console.log("오잉? start 보자 : ",start);
				console.log("오잉? end 보자 : ",end);
				
				var result= [];
				
				while (start <= end) {
					result.push(start.toISOString().split('T')[0]);
					start.setDate(start.getDate() +1);
				}
				console.log("시작날짜 찍히나 >>> ", start)		
				console.log("끝날짜 찍히나 >>> ", end)
				console.log("result 찍히나 >>> ", result)
				//console.log("result Json형식으로 찍히나 >>> ", JSON.stringify(result))
				
				//검색누른 후에는 input값 초기화
				//var startInput = document.querySelector("#startDate");
				//console.log("인풋 초기화하고 싶은데 >>> ", startInput)	
				//startInput.value= null;
				//var endInput = document.querySelector("#endDate");
				//endInput.value= null;
				
				$.ajax({
					type: "post",
					url: "/procurement4/stockResult",
					data: JSON.stringify(result),
					contentType :"application/json; charset=UTF-8",
					dataType: "json",
					success: function(data){
						console.log("받아온 데이터 : ",data);
						
						let totalTableTd = ``;
						//설정한 기간 테이블마다 행으로 세팅
				        for(var i= 0; i<data.length; i++) {
				            var tableTd = '<tr>';
				            tableTd += '<td>' + data[i].largeCategoryName + '</td>';
				            tableTd += '<td>' + data[i].middleCategoryName + '</td>';
				            tableTd += '<td>' + data[i].materialCode + '</td>';
				            tableTd += '<td>' + data[i].materialName + '</td>';
				            tableTd += '<td>' + data[i].inAmount + '</td>';
				            tableTd += '<td>' + data[i].outAmount + '</td>';
				            tableTd += '<td>' + data[i].stockAmount + '</td>';
				            tableTd += '<td>' + data[i].stockUnitPrice +'</td>';
				            tableTd += '</tr>';
				            totalTableTd += tableTd;
				            //$('#stockResultTable').append(tableTd);  --> 이거쓰려면 위에서 한번 엠티로 비워줘야함 추가하는거라서
				        }
			            //console.log("만든 테이블 내용 : ",totalTableTd)
			            document.querySelector("#stockResultTable").innerHTML = totalTableTd;  //  이렇게 쓰면 덮어쓰기라서 안비워줘도 됨!
					},	
					error : function(jqXHR,textStatus,errorThrown){
						//console.log(jqXHR);  //응답 메시지
						//console.log(textStatus); //"error"로 고정인듯함
						//console.log(errorThrown);
					}
				});//ajax 끝
			}); //기간 검색 클릭 함수 끝
			
			
		});	//$(document).ready(function() 끝
				
		</script>
		
	</th:block>
</th:block>
</html>